@model CkgDomainLogic.FzgModelle.ViewModels.ModellIdViewModel

@section LayoutScript { _controlGroupValidationType = "default"; }

@Html.Partial("Partial/Common")

<h3 class="page-title">Modell ID<small> Pflege</small></h3>

<div class="portlet">
    <div id="divGridEditStart">
        @Html.Partial("Partial/Grid")
    </div>
</div>

<div id="divGridItemDetails"></div>






