@model ServicesMvc.ViewModels.TestViewModel


<h3 class="page-title">Bootstrap Test <small>@Model.Firma</small></h3>


@Html.Partial("Partial/TestForm", Model.FilterModel)


<script type="text/javascript">

    function FormPreparePrivate() {
    }

    function FormPreparePrivateAjax() {
        FormPrepareAjax();
    }

</script>

