<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="customcarDocuBinding">
          <textMessageEncoding messageVersion="Soap11" 
                               writeEncoding="utf-8"/>
          <httpsTransport requireClientCertificate="true" />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="https://tui-agis-services.audi.de/agis/adapter/ws"
                binding="customBinding"
                bindingConfiguration="customcarDocuBinding"
                contract="CarDocu.CarDocuWebServicePort"
                name="CarDocuWebServicePort" />
    </client>
  </system.serviceModel>
  <system.web>
    <webServices>
      <protocols>
        <remove name="HttpSoap12"/>
      </protocols>
    </webServices>
  </system.web>
</configuration>