@model CkgDomainLogic.Uebfuehrg.ViewModels.UebfuehrgViewModel

<h4 class="wizard-header">@Model.GetStepModel().Header</h4> 

@Html.Partial(@Model.StepCurrentFormPartialViewName, @Model.StepCurrentModel)

