@model CkgDomainLogic.Uebfuehrg.ViewModels.UebfuehrgViewModel

<h3 class="page-title">
    @Model.Title  
    <small></small> 
</h3>

<div class="portlet app-view beauftragung">
    
    @Html.FormWizard("icon-file", "", Model.StepFriendlyNames, stepTitlesInNewLine:true)

    <div id="formWizardTab1" class="hide">
        @Html.PartialOrFormErrorHint("CurrentStepView", Model.FirstStepErrorHint)
    </div>
</div>

@Html.Partial("Partial/Common")
    

