@using GeneralTools.Contracts
@{
    var appSettings = DependencyResolver.Current.GetService<IAppSettings>();
}

<span class="footer-link float-left no-margin-left">@appSettings.AppOwnerName</span>
<a href="Impressum" class="footer-link">@Localize.Imprint</a>
<a href="Kontakt" class="footer-link">@Localize.Contact</a>
