@using CkgDomainLogic.General.Database.Models
@model DocumentType

<div id="@MvcAjaxOptions.AjaxFormContainerName" class="">
    @using (Ajax.BeginForm("CreateDocumentType", "Document", null, new MvcAjaxOptions { OnComplete = "CreateOrEditDocumentTypeComplete();" }, new { @class = "form-horizontal form-row-stripped formlabelwidth200", id = "ajaxForm" }))
    {
        @Html.Partial("_CreateOrEditDocumentType")
    }
</div>

<script type="text/javascript" >
    _modelIsValid = @Model.IsValid.ToString().ToLower();

    function CreateOrEditDocumentTypeComplete() {
        CloseDocumentTypeDetails();
        FormPreparePrivateAjax();
    }
</script>