@model List<CkgDomainLogic.Autohaus.Models.PdfFormular>

<div class="tiles">
    
    @foreach (var item in Model)
    {
        @Html.TileSimple(item.Typ, "bg-red", "pdf", "console.log('clickkkkkkk');")
    }

</div>
