@model CkgDomainLogic.Autohaus.Models.ZiPoolDetaildaten

<style>
    
    .dd-handle {
        cursor: auto !important;
    }
    
</style>

<ul id="ZiPoolInfo" class="dd-list">
    
    @foreach (var item in Model.ErforderlicheDokumente)
    {
        <li class="dd-item">
            <div class="dd-handle">
                @item
            </div>
        </li>
    }

</ul>
