@model CkgDomainLogic.Autohaus.Models.ZiPoolDetaildaten

<ul class="ZiPoolInfo">
    
    @foreach (var item in Model.ErforderlicheDokumente)
    {
        <li class="ZiPoolInfoItem">@item</li>
    }

</ul>
