@using CkgDomainLogic.Fahrzeuge.Models
@{
    var gridName = "GridFahrzeuguebersicht";  
}

@(Html.XTelerik()
        .XGrid<Fahrzeuguebersicht>()
    .Name(gridName)
   
    .XAjaxDataBinding("FahrzeuguebersichtAjaxBinding", "Fahrzeuge")
    .Columns(columns =>
    {
        columns.XBound(c => c.StatusKey).Filterable(false).Sortable(false)
                   .ClientTemplate(
                      "<button onclick='ShowHistory(\"<#= data.Fahrgestellnummer #>\");' class='btn copy mini gray tooltips' data-original-title='" + Localize.Details + "' data-placement='right'><i class='icon-copy'></i></button>"
               );        
        columns.XBound(c => c.Carport);
        columns.XBound(c => c.Carportname);
        columns.XBound(c => c.Fahrgestellnummer);
        columns.XBound(c => c.Kennzeichen);
        columns.XBound(c => c.Zulassungsdatum);
        columns.XBound(c => c.Unitnummer);
        columns.XBound(c => c.ModelID);
        columns.XBound(c => c.Modell);
        columns.XBound(c => c.Status);     
        columns.XBound(c => c.EingangZb2Datum);
        columns.XBound(c => c.EingangFahrzeugDatum);
        columns.XBound(c => c.BereitmeldungDatum);
        columns.XBound(c => c.SIPPCode);
        columns.XBound(c => c.BatchId);
        columns.XBound(c => c.Auftragsnummer);
        columns.XBound(c => c.Zb2Nummer); 
        
                        
        // columns.XBoundAll();   
    })
    .XAutoColumnConfiguration()
    .ClientEvents(events => events.XAutoClientEvents(gridName))
    .XPageSize(10)
    .XSort(sortOrder => sortOrder.Add(c => c.Kennzeichen).Descending())
    .XToolBar("Fahrzeuge")
        .ToolBar(commands =>
        {
            commands.FilteredDataCommand("ExportFahrzeuguebersichtFilteredExcel", "Fahrzeuge");
            commands.FilteredDataCommand("ExportFahrzeuguebersichtFilteredPDF", "Fahrzeuge");
        })
)

