<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="logon" value="dad_sandbox_api"/> <!-- logon und password Werte für Test Betrieb verwenden -->
    <add key="password" value="Ravona13"/>
    <add key="DocumentFolder" value="\\vms013\USER\AutoAct_Test\" />
    <add key="appName" value="AutoAct" />
    <add key="autoActUrlName" value="http://www.sandbox.autoact.de" />
  </appSettings>
  <system.net>
    <!-- Diesen Abschnit auskommentieren um die Anwendung hinter der Firmenfirewall ohne Ausnahmeregel auszuführen -->
    <!--<defaultProxy useDefaultCredentials="true">
      <proxy proxyaddress="http://proxy.kroschke.de:8080" bypassonlocal="false"/>
    </defaultProxy>
    <settings>
      <servicePointManager expect100Continue="false"/>
    </settings>-->
  </system.net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
