@Html.Partial("Common/StylesScripts")
@Html.Partial("Schadenfaelle/Common")

<h3 class="page-title" id="headerTitle">Schadenverwaltung <small>Versicherungs-Events</small></h3>

<ul class="breadcrumbs event-breadcrumbs">
	<li><a href="">[Schadenfälle]</a></li>
	<li class="hide"><a href="" class="current">[..]</a></li>
	<li class="hide"><a href="">[..]</a></li>
	<li class="hide"><a href="">[..]</a></li>
	<li class="hide"><a href="">[..]</a></li>
	<li class="hide"><a href="">[..]</a></li>
</ul>	

@Html.IeWarning(8)

@Html.SpanAlert("Message")

<div class="portlet">
    @Html.Partial("Schadenfaelle/SchadenfallGrid")
    <div id="divSchadenakte"></div>
    <div id="divSchadenfall"></div>
    <div id="divTerminSchadenfallInit"></div>
    <div id="divTerminSchadenfallKalender"></div>
    <div id="divTerminSchadenfallEdit"></div>
</div>

<link href="~/assets/plugins/fullcalendar/fullcalendar/fullcalendar.css" rel="stylesheet" />
<script src="~/assets/plugins/fullcalendar/fullcalendar/fullcalendar.js"></script>
