@Html.Partial("Common/StylesScripts")

<script type="text/javascript">

    function FormPreparePrivate() {
        GridAllColumnFilterApplyToGrid("SchadenStatusAlleGrid");
    }

    function FormPreparePrivateAjax() {
        FormPrepareAjax();
    }


    function OnDataBound_SchadenStatusAlleGrid() {
        FilteredData_Grid_OnDataBound($(this));
        $('.tooltips').tooltip();
        LoadingHide();
    }

    function OnColumnShowHide_SchadenStatusAlleGrid() {
        FilteredData_Grid_OnColumnShowHide($(this));
    }

    function OnColumnReorder_SchadenStatusAlleGrid() {
        FilteredData_Grid_OnColumnReorder($(this));
    }

    function OnRowDataBound_SchadenStatusAlleGrid(e) {

        if (typeof (e.dataItem["CurrentStatusText"]) === 'undefined' || typeof (e.dataItem["CurrentStatusFarbe"]) === 'undefined')
            return;

        var grid = $("#SchadenStatusAlleGrid").data("tGrid");

        var statusText = e.dataItem["CurrentStatusText"];
        var statusFarbe = e.dataItem["CurrentStatusFarbe"];

        for (var i = 0; i < grid.columns.length; i++) {
            var column = grid.columns[i];
            //console.log(column);
            var isCurrentStatusCell = (column.member == "CurrentStatusText");
            if (column.title == statusText || isCurrentStatusCell) {
                SetCellStatusHtml($(e.row.cells[i]), statusFarbe, isCurrentStatusCell);
                console.log(column);
            }
            else if (column.type.toLowerCase() == "date") {
                SetCellStatusHtml($(e.row.cells[i]), "", false);
            }
        }
    }

    function SetCellStatusHtml(cell, statusFarbe, isCurrentStatusCell) {
        var span = $("<div></div>").addClass("schaden-status-cell");
        if (statusFarbe != "") {
            span.css("background-color", statusFarbe);
            span.addClass("shadow");
        }
        if (isCurrentStatusCell)
            span.addClass("current");

        cell.prepend(span);
    }
    
</script>

<h3 class="page-title" id="headerTitle">@Localize.Status <small>@Localize.DamageCasesOfAll</small></h3>

@Html.SpanAlert("Message")

<div class="portlet">
    @Html.Partial("Schadenfaelle/StatusAlleGrid")
</div>
