<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="Threading" value="OFF"/>
		<!-- Repot: "Nur Fahrzeuge vorhanden" -->
		<add key="DatumVon01" value="01.03.2006"/>
		<!-- Repot: "Nur Fahrzeugbriefe vorhanden" -->
		<add key="DatumVon02" value="01.03.2006"/>
		<!-- Zulassungs-Parameter: nach Uhrzeit (hier 11) prüfen, ob Zulassung erlaubt (Tabelle 'Flags') -->
		<!-- Achtung! Nur ganze Stunden (11,12,...) erlaubt! -->
		<add key="ZulassungNachUhrzeit" value="11"/>
	</appSettings>
</configuration>
