@model CkgDomainLogic.KroschkeZulassung.ViewModels.KroschkeZulassungViewModel

<h4>@Localize.BankDataAndAddressForEndCustomerInvoice</h4> 

@Html.HiddenFor(m => m.SkipBankAdressdaten)

@Html.Partial("Partial/BankAdressdatenForm", @Model.Zulassung.BankAdressdaten)

<script type="text/javascript">

    CheckSkipBankAdressdaten();

    function CheckSkipBankAdressdaten() {
        if ($("#SkipBankAdressdaten")) {
            $("#AjaxFormBankAdressdaten").submit();
        }
    } 
       
</script>