@model GeneralSummary

<h4>@Model.Header</h4>

<div class="SummaryItems">
    @foreach (var item in Model.Items)
    {
        <div class="SummaryItem @item.Tag">
            <h5 class="SummaryItemTitle">@item.TitleAsHtml</h5>
    
            <div class="SummaryItemBody">
                @item.BodyAsHtml
            </div>
        </div>
    }
</div>

<script type="text/javascript">

    FormWizardShowHideSaveButton(true);

    // ToDo: Speichern-Button anzeigen, der nur im Summary-Step sichtbar ist
    //TryInsertSaveButton();

    function TryInsertSaveButton() {
        var submButton = $(".button-submit:first");
        
        if (submButton != null && (submButton.prev().hasClass("button-next") || submButton.prev().hasClass("button-prev"))) {
            $('<a class="btn green button-save margin-right-5" style="display: inline-block;" href="SaveZulassung"> Speichern <i class="m-icon-swapright m-icon-white"/></a>').insertBefore(submButton);
        }
    } 

</script>

