@using CkgDomainLogic.Autohaus.ViewModels
@model FahrzeugakteDocsViewModel

<div id="divFahrzeugakteDocsGrid">
    @Html.Partial("Fahrzeugverwaltung/Fahrzeugakte/Partial/Dokumente/FahrzeugakteDocsGrid")
</div>

<div id="divFahrzeugakteDocEdit"></div>

<div id="divDocCategoriesGrid" class="margin-right-30"></div>

<div id="divDocCategoryEdit"></div>
