@using EasyAccess40
@model List<EasyResultField>

<div class="space10"></div>

@foreach (var field in Model)
{
    <div class="no-break-container margin-top-5">
        <span class="help-inline left">@field.Name:</span>
        @*@Html.FormLabel(@prop.GetDisplayName())*@
        @Html.TextBox(@field.Name, null, null, new { @class = "m-wrap small margin-right-20" })
    </div>
}

<div class="space20"></div>