<h3>@Localize.Briefversand_CSVFileStructure</h3>
<br/>
<img src="~/Images/BriefversandCsvTemplate.png" />
<br/>
<br/>
@Localize.CsvUploadFirstRowIsHeader
<br/>
<br/>
@Localize.Briefversand_CSVSaveFileHint


