@using CkgDomainLogic.Autohaus.Models
@{
    var gridName = "FahrzeugeGrid";
    var divID = gridName + "Div";
}

<div id="@divID" class="">
    @(Html.Telerik()
          .Grid<Fahrzeug>()
          .Name(gridName)
          .XGroup("FahrzeugeGrid")
          .XAjaxDataBinding("FahrzeugeAjaxBinding", "Autohaus")
          .Columns(columns =>
              {
                  columns.XBound(c => c.ID).Title("").Filterable(false).Groupable(false).Sortable(false)
                      .ClientTemplate(
                            "<button onclick='ShowFahrzeugakteAjax(\"<#= data.ID #>\");' class='btn mini gray tooltips' data-original-title='" + Localize.Autohaus_Fahrzeugakte + "' data-placement='right'><i class='halflings-icon white pencil'></i></button>"
                            //+ "&nbsp;" +
                            //"<button onclick='FahrzeugDeleteAjax(\"<#= data.ID #>\");' class='btn mini gray tooltips' data-original-title='" + Localize.VehicleDelete + "' data-placement='right'><i class='halflings-icon white remove'></i></button>"
                      )
                      .HeaderTemplate(
                            "<button onclick='FahrzeugCreateAjax();' class='btn mini gray tooltips' data-original-title='" + Localize.VehicleCreate + "' data-placement='right'><i class='halflings-icon white plus'></i></button>"
                      ); 
                    columns.XBound(c => c.ReferenzNr);
                    columns.XBound(c => c.FzgHersteller);
                    columns.XBound(c => c.FzgModell);
                    columns.XBound(c => c.Kennzeichen);
                    columns.XBound(c => c.Vorname);
                    columns.XBound(c => c.Nachname);
                    columns.XBound(c => c.FahrgestellNr);
                    columns.XBound(c => c.AnlageDatum).Format("{0:dd.MM.yyyy}");
                    columns.XBound(c => c.AnlageUser);
              })
          .XAutoColumnConfiguration()
          .ClientEvents(events => events.XAutoClientEvents(gridName).OnLoad("OnLoad_FahrzeugeGrid"))
          .XPageSize(10)
          .XSort(sortOrder => sortOrder.Add(c => c.AnlageDatum).Descending())
          .ToolBar(commands =>
          {
              commands.FilteredDataCommand("ExportFahrzeugeFilteredExcel", "Autohaus");
              commands.FilteredDataCommand("ExportFahrzeugeFilteredPDF", "Autohaus");
          })
    )
</div>


