@model CkgDomainLogic.Fahrzeuge.ViewModels.UploadAvislisteViewModel

<div class="alert alert-success">
        <label class="checkbox">
            <i class="icon-check"></i><span class="padding-left-5">@Localize.DataCorrectlyProcessed</span>
        </label>
    </div>
