<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <connectionStrings>
    <add name="ConnectionstringLocal" connectionString="server=.\SqlExpress;database=Stocks;Integrated Security=true;" />
    <add name="Connectionstring" connectionString="server=(local);database=Stocks;User ID=sa;password=3696;" />
  </connectionStrings>

  <appSettings>
    <add key="TestStockQuery" value="true" />

    <add key="SmtpServer" value="smtp.termani-server.de" />
    <add key="SmtpPort" value="587" />
    <add key="SmtpEnableSsl" value="false" />
    <add key="SmtpUserName" value="mailout@termani-server.de" />
    <add key="SmtpPassword" value="walter" />
    <add key="SmtpFrom" value="mailout@termani-server.de" />
  </appSettings>

</configuration>