@model CkgDomainLogic.Remarketing.Models.InfoAnzeigeModel

<div class="form-horizontal">

    <h4 class="form-section">@Model.Titel</h4>

    @Html.HiddenFor(m => m.FahrgestellNr)

    @Html.FormTextAreaFor(m => m.Infotext, new { @class = "m-wrap", @readonly = "readonly" })


    <div class="form-actions">
        <button type="button" class="btn" onclick="CloseBelastungsanzeigeDetail();">@Localize.Close</button>
    </div>
</div>
