
@(Html.Telerik().Window()
    .Name("HistoryAuftragBigImage")
    .Width(1024)
    .Height(768)
    .Visible(false)
    .Title("Foto Überführungsprotokoll")
    .Modal(true)
    .Draggable(true)
    .Scrollable(true)
    .Content(@<text><div id="InnerHistoryAuftragBigImage"></div></text>))
