<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Netigate_Fahrzeugauslieferung_DAD.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="MANDT" value="010" />
    <add key="SAPAppServerHost" value="192.168.10.152" />
    <add key="SAPSystemNumber" value="0" />
    <add key="SAPClient" value="10" />
    <add key="SAPUsername" value="web_rfc" />
    <add key="SAPPassword" value="17LOUNGE" />
    <add key="ErpConnectLicense" value="5DVZ5588DC-25444" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.net>
    <defaultProxy useDefaultCredentials="true">
      <proxy proxyaddress="http://proxy.kroschke.de:8080" />
    </defaultProxy>
    <settings>
      <servicePointManager expect100Continue="false" />
    </settings>
  </system.net>
  <applicationSettings>
    <Netigate_Fahrzeugauslieferung_DAD.Properties.Settings>
      <setting name="Netigate_Fahrzeugauslieferung_DAD_se_netigate_www_NetigateAPI" serializeAs="String">
        <value>https://www.netigate.se/netigateapidad/netigateapi.asmx</value>
      </setting>
    </Netigate_Fahrzeugauslieferung_DAD.Properties.Settings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>