@using MvcTools.Models
@model FormControlModel

@if (Model.PreControlHtml != null)
{
    @Model.PreControlHtml
}

<label class="control-label">@Model.DisplayNameHtml @Model.RequiredIndicatorHtml</label>

@if (Model.PostControlHtml != null)
{
    @Model.PostControlHtml
}
        