@using CkgDomainLogic.General.Contracts
@{ var logonContext = (ILogonContextDataService)SessionHelper.GetSessionObject("LogonContext"); }

<h4>Application Favorites</h4>

<style type="text/css">
    a.app-favorite {
        color: white!important;
        font-weight: bold!important;
    }
</style>

<script type="text/javascript">

    function AppFavoritesEditSwitch() {
        $.ajax({
            type: "POST",
            url: "DomainCommon/AppFavoritesEditModeSwitch",
            data: { },
            loadingShow: false,
            success: function (result) {
                location.reload();
            },
            error: function (jqXhr) {
            }
        });

        return false;
    }
    
    function AppFavoritesEditSwitchOneFavorite(a, appID) {
        $.ajax({
            type: "POST",
            url: "DomainCommon/AppFavoritesEditSwitchOneFavorite",
            data: { appID: appID },
            loadingShow: false,
            success: function (result) {
                if (result.isFavorite)
                    $(a).addClass("app-favorite");
                else
                    $(a).removeClass("app-favorite");

                AppFavoriteButtonsCoreRefresh();
            },
            error: function (jqXhr) {
            }
        });

        return false;
    }
    
    function AppFavoriteButtonsCoreRefresh() {
        $.ajax({
            type: "POST",
            url: "DomainCommon/AppFavoriteButtonsCoreRefresh",
            data: {},
            loadingShow: false,
            success: function (result) {
                $("#AppFavoriteButtonsCore").html(result);
            },
            error: function (jqXhr) {
            }
        }); 
    }

</script>

<div id="AppFavoriteButtonsCore">
    @Html.Partial("AppFavorites/AppFavoriteButtonsCore", logonContext)
</div>

<div class="margin-bottom-25"></div>

@if (!logonContext.AppFavoritesEditMode)
{
    <a href="#" class="btn blue" onclick="return AppFavoritesEditSwitch();">
        <i class="icon-edit margin-right-10"></i>
        Favoriten bearbeiten
    </a>
}
else
{
    <div><br/><br/>!!! EDIT MODE !!!!</div>     
    
    <a href="#" class="btn green" onclick="return AppFavoritesEditSwitch();">
        <i class="icon-ok margin-right-10"></i>
        Favoriten bearbeiten beenden
    </a>
}


