@using CkgDomainLogic.General.Contracts
@{ var logonContext = (ILogonContextDataService)SessionHelper.GetSessionObject("LogonContext"); }

<h4>Application Favorites</h4>

<script type="text/javascript">

    function AppFavoritesEditSwitch() {
        $.ajax({
            type: "POST",
            url: "DomainCommon/AppFavoritesEditModeSwitch",
            data: { },
            loadingShow: false,
            success: function (result) {
                location.reload();
            },
            error: function (jqXhr) {
            }
        });

        return false;
    }
    
</script>


@if (!logonContext.AppFavoritesEditMode)
{
    <a href="#" class="btn blue" onclick="return AppFavoritesEditSwitch();">
        <i class="icon-edit margin-right-10"></i>
        Favoriten bearbeiten
    </a>
}
else
{
    <div><br/><br/>!!! EDIT MODE !!!!</div>     
    
    <a href="#" class="btn green" onclick="return AppFavoritesEditSwitch();">
        <i class="icon-ok margin-right-10"></i>
        Favoriten bearbeiten beenden
    </a>
}


