@using CkgDomainLogic.Insurance.Models
@using CkgDomainLogic.Insurance.ViewModels
@model VersEventsViewModel

@{
    var gridName = "SchadenDokumenteAlleGrid";
    var divID = gridName + "Div";
}

<div id="@divID">
    @(Html.Telerik()
        .Grid<SchadenfallDokumenteAlle>()
        .Name(gridName)

        .XAjaxDataBinding("SchadenfallDokumenteAlleAjaxBinding", "Insurance")
        .Columns(columns =>
            {
                columns.XBound(c => c.VersSchadenfallID);
                columns.XBound(c => c.EventName);
                columns.XBound(c => c.Kennzeichen);
                columns.XBound(c => c.VersicherungName);
                columns.XBound(c => c.Referenznummer);

                for (var i = 1; i <= 30; i++)
                {
                    columns.XBound(string.Format("Dokument{0}", i)).Title(Model.SchadenfallDokumenteAlleGetHeaderText(i)).Visible(Model.SchadenfallDokumenteAlleIsDokumentVisible(i));
                }
            })
        .XAutoColumnConfiguration()
        .ClientEvents(events => events.XAutoClientEvents(gridName))
        .XPageSize(10)
        .XSort(sortOrder => sortOrder.Add(c => c.VersSchadenfallID).Ascending())
        .XToolBar("Insurance")
    )
</div>
