
<a onclick="return ClosePartnerAddressGrid();" class="hide btn mini red margin-bottom-10"><i class="icon-chevron-left"></i> @Localize.Back</a>

@Html.Partial("AdressenPflege/AdressenGrid", new ViewDataDictionary { { "AddressSelectorAvailable" , true } })

