@using CkgDomainLogic.CoC.Models
@{
    var gridName = "GridCocSendungen";
}

@(Html.Telerik()
        .Grid<SendungsAuftrag>()
    .Name(gridName)

    .XGroup("CocSendungen")
    .XAjaxDataBinding("SendungenAjaxBinding", "CocSendung")
    .Columns(columns =>
        {
            columns.Bound(c => c.AnlageDatum);
            columns.Bound(c => c.FIN);
            columns.Bound(c => c.Kennzeichen);
            columns.Bound(c => c.RechnungsNr);
            columns.Bound(c => c.ZulassungsDatum);
            columns.Bound(c => c.VersandID);
            columns.Bound(c => c.VersandIdSurveyLink).ClientTemplate("<# if (data.VersandID != \"\") { #><a target='_blank' class='btn mini tooltips' data-original-title='DHL Sendungsverfolgung' data-placement='right' href='http://nolp.dhl.de/nextt-online-public/set_identcodes.do?lang=de&idc=<#= data.VersandID #>'><i class='icon-chevron-right'></i> <i class='icon-truck margin-right-5'></i></a><# } #>");
        })
    .XAutoColumnConfiguration()
    .ClientEvents(events => events.XAutoClientEvents(gridName))
    .XPageSize(10)
    .XSort(sortOrder => sortOrder.Add(c => c.ZulassungsDatum).Descending())
    .XToolBar("CocSendung")
)

