<ul class="breadcrumbs event-breadcrumbs">
	<li><a href="javascript:void(0)">@ViewBag.FirstBreadCrumbText</a></li>
	<li class="hide"><a href="javascript:void(0)" class="current"></a></li>
	<li class="hide"><a href="javascript:void(0)"></a></li>
	<li class="hide"><a href="javascript:void(0)"></a></li>
	<li class="hide"><a href="javascript:void(0)"></a></li>
	<li class="hide"><a href="javascript:void(0)"></a></li>
	<li class="hide"><a href="javascript:void(0)"></a></li>
	<li class="hide"><a href="javascript:void(0)"></a></li>
	<li class="hide"><a href="javascript:void(0)"></a></li>
	<li class="hide"><a href="javascript:void(0)"></a></li>
	<li class="hide"><a href="javascript:void(0)"></a></li>
	<li class="hide"><a href="javascript:void(0)"></a></li>
	<li class="hide"><a href="javascript:void(0)"></a></li>
	<li class="hide"><a href="javascript:void(0)"></a></li>
	<li class="hide"><a href="javascript:void(0)"></a></li>
</ul>	
