
<div>
    <h5>DAD Deutscher Auto Dienst GmbH</h5>
    Ladestraße 1<br/>
    22926 Ahrensburg<br/>
    <br/>
    Telefon: +49 4102 804-109<br/>
    Telefax: +49 4102 804-111<br/>
    E-Mail:  info(at)dad.de<br/>
    Internet:  <a href="http://www.dad.de">http://www.dad.de</a><br/>
    <br/>
 Geschäftsführer: <br/>
    Matthias Gauglitz, Philipp Kroschke (Sprecher der Geschäftsführung), York Schmidt zur Nedden<br/>
    Handelsregister Lübeck HRB 81927 AH <br/>
    Umsatzsteuer-Identifikationsnummer gemäß 
    § 27 a Umsatzsteuergesetz: DE114822102<br/>
    <br/>
    Haftungshinweis: <br/>
    Trotz sorgfältiger inhaltlicher Kontrolle über-
    nehmen wir keine Haftung für die Inhalte
    externer Links. Für den Inhalt der verlinkten
    Seiten sind ausschließlich deren Betreiber
    verantwortlich.
</div>

