<script type="text/javascript" language="javascript">


    setTimeout(function () { resizeDiv(); }, 200);

    function resizeDiv() {
        $("#DadImprint").height($("#kroschkeImprint").height());
    }

    window.onresize = resizeDiv;
  
   $(window).trigger('resize');

</script>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span5 responsive">
            <div class="portlet box light-grey">
                <div class="portlet-title">
                    <div class="caption">
                        Christoph Kroschke GmbH
                    </div>
                </div>
                <div class="portlet-body" id="kroschkeImprint">
                    Ladestraße 1<br />
                    22926 Ahrensburg<br />
                    <br />
                    Telefon: +49 (0)4102 804-0<br />
                    Telefax: +49 (0)4102 804-111<br />
                    E-Mail: info(at)kroschke.de<br />
                    Internet: <a href="http://www.kroschke.de">http://www.kroschke.de</a><br />
                    <br />
                    Geschäftsführer: <br />
                    Philipp Kroschke (Sprecher der Geschäftsführung), Matthias Gauglitz, 
                    <br />York Schmidt zur Nedden<br /><br />
                    Registergericht: Amtsgericht Lübeck<br />
                    HRB 9417 HL <br /><br />

                    Versicherungsvermittlerregister (www.vermittlerregister.info): Register- Nr. : D- HDD1- SNHVC-84<br /><br />
                    Erlaubnis nach § 34 d Abs. 1 GewO (Versicherungsvertreter), erteilt durch die Industrie- und Handelskammer zu Kiel, Bergstr. 2, 24103 Kiel, www.ihk-schleswig-holstein.de<br /><br />
                    USt.-ID-Nr. DE811887896<br /><br />
                    Verantwortlich im Sinne des Pressegesetzes:<br />
                    Philipp Kroschke<br /><br />
                </div>
            </div>
        </div>

        <div class="span6 responsive">
            <div class="portlet box light-grey">
                <div class="portlet-title">
                    <div class="caption">
                        DAD Deutscher Auto Dienst GmbH
                    </div>
                </div>
                <div class="portlet-body" id="DadImprint">
                    Ladestraße 1<br />
                    22926 Ahrensburg<br />
                    <br />
                    Telefon: +49 4102 804-109<br />
                    Telefax: +49 4102 804-111<br />
                    E-Mail:  info(at)dad.de<br />
                    Internet:  <a href="http://www.dad.de">http://www.dad.de</a><br />
                    <br />
                    Geschäftsführer: <br />
                    Philipp Kroschke (Sprecher der Geschäftsführung), Matthias Gauglitz, 
                    <br/> York Schmidt zur Nedden<br/><br/>
                    Handelsregister Lübeck HRB 81927 AH <br />
                    Umsatzsteuer-Identifikationsnummer gemäß
                    § 27 a Umsatzsteuergesetz: DE114822102<br />
                    <br/><br /><br /><br /><br /><br />
                    Haftungshinweis: <br />
                    Trotz sorgfältiger inhaltlicher Kontrolle übernehmen
                    wir keine Haftung für die Inhalte
                    externer Links. Für den Inhalt der verlinkten
                    Seiten sind ausschließlich deren Betreiber
                    verantwortlich.
                </div>
            </div>
        </div>
    </div>
</div>
