
<div>
    <h5>Christoph Kroschke GmbH</h5>
    Ladestraße 1<br/>
    22926 Ahrensburg<br/>
    <br/>
    Telefon: +49 (0)4102 804-170<br/>
    Telefax: +49 (0)4102 804-300<br/>
    E-Mail:  service(at)kroschke.de<br/>
    Homepage:  <a href="http://www.kroschke.de">http://www.kroschke.de</a><br/>
</div>

