
<div>
    <h5>DAD Deutscher Auto Dienst GmbH</h5>
    Ladestraße 1<br/>
    22926 Ahrensburg<br/>
    <br/>
    Telefon: +49 4102 804-109<br/>
    Telefax: +49 4102 804-111<br/>
    E-Mail:  info(at)dad.de<br/>
    Internet:  <a href="http://www.dad.de">http://www.dad.de</a><br/>
</div>

