@model MaintenanceResult

@if (Model.MessagesAvailable && Model.LogonDisabled)
{
    <div class="alert alert-error">
        @foreach (var maintenanceMessage in Model.AvailableMessages.Where(m => m.LogonDisabled))
        {
            <div class="maintenance-hint">
                <div class="maintenance-hint-active-title">
                    <div class="header">@Localize.LoginDisabledGenerally</div> 
                </div> 
                <br />

                @if (maintenanceMessage.Title.IsNotNullOrEmpty())
                {
                    <strong><i class="icon-bell margin-right-5"></i> @maintenanceMessage.Title.ToHtml()</strong><br/><br/>
                }
                @maintenanceMessage.Message.ToHtml() 
            </div>
        }
    </div>
}
