@model CkgDomainLogic.General.Contracts.ILogonContextDataService
<li class="dropdown user">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        @if(Model.UserNameForDisplay == "Pia Schmidt")
        {
            <img alt="" src="~/assets/img/blondeFrau.jpg">
        }
        else
        {
            <img alt="" src="~/assets/img/avatar_small.png">
        }
        <span class="username">@(Model.UserNameForDisplay ?? Model.UserName) </span>
        <i class="icon-angle-down"></i>
    </a>
    <ul class="dropdown-menu">
        
        <li><a href="javascript:ChangePassword()"><i class="icon-key"></i> @Localize.PasswordChange</a></li>

        <li class="divider"></li>
        
        <li><a href="javascript:UserLogout()"><i class="icon-unlock"></i> Log Out</a></li>

    </ul>
</li>
