@model CkgDomainLogic.General.Contracts.ILogonContextDataService

<!-- BEGIN RESPONSIVE MENU TOGGLER -->
<a href="javascript:;" class="btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">
    <img src="~/assets/img/menu-toggler.png" alt="" />
</a>          
<!-- END RESPONSIVE MENU TOGGLER -->            

@if (Model != null)
{
    <ul class="nav pull-right">
    
        @if (Model.MaintenanceInfo != null)
        {
            @Html.Partial("Partial/UserMenuMessagesDropdown", Model.MaintenanceInfo)
        }

        @Html.Partial("Partial/UserMenuUserInfoDropdown")

        @{ViewBag.HeaderIconCssClass = "icon-globe";}
        @Html.Partial("Partial/UserLanguageSwitch")

    </ul>
}

