@using CkgDomainLogic.Fahrzeuge.Models
@model CkgDomainLogic.Fahrzeuge.ViewModels.CarporterfassungViewModel

@{ var gridName = "GridCarporterfassungForConfirmation"; }

@(Html.XTelerik()
    .XGrid<CarporterfassungModel>()
    .Name(gridName)
    .XAjaxDataBinding("CarporterfassungAjaxBindingForConfirmation", "Fahrzeuge")
    .Columns(columns =>
    {
        columns.XBound(c => c.Status);
        columns.XBound(c => c.CarportName);
        columns.XBound(c => c.UserName);
        columns.XBound(c => c.Kennzeichen);
        columns.XBound(c => c.FahrgestellNr);
        columns.XBound(c => c.AuftragsNr);
        columns.XBound(c => c.BestandsNr);
        columns.XBound(c => c.Barcode);
        columns.XBound(c => c.AnzahlKennzeichenText);
        columns.XBound(c => c.DemontageDatum).Format("{0:dd.MM.yyyy}");
        columns.XBound(c => c.Abgemeldet);
        columns.XBound(c => c.Zb1VorhandenText);
        columns.XBound(c => c.Zb2VorhandenText);
        columns.XBound(c => c.CocVorhandenText);
        columns.XBound(c => c.ServiceheftVorhandenText);
        columns.XBound(c => c.HuAuBerichtVorhandenText);
        columns.XBound(c => c.ZweitschluesselVorhandenText);
        columns.XBound(c => c.NaviCdVorhandenText);
    })
    .XAutoColumnConfiguration()
    .ClientEvents(events => events.XAutoClientEvents(gridName))
    .XPageSize(10)
    .XSort(sortOrder => sortOrder.Add(c => c.FahrgestellNr).Ascending())
    .ToolBar(commands =>
    {
        commands.FilteredDataCommand("ExportCarporterfassungFilteredExcelForConfirmation", "Fahrzeuge");
        commands.FilteredDataCommand("ExportCarporterfassungFilteredPDFForConfirmation", "Fahrzeuge");
    })
)

<div class="form-actions">
    <a href="DeliveryNoteAsPdf" class="btn blue"> @Localize.DeliveryNoteAsPdf <i class="icon-download-alt"></i></a>
    <a href="GenerateUpsShippingOrder" target="_blank" class="btn blue"> @Localize.GenerateUpsShippingOrder</a>
    <button type="button" class="btn blue" onclick="NeuesFahrzeugErfassen(true);">@Localize.ToAcquisition</button>
</div>
