@using CkgDomainLogic.Equi.ViewModels
@model EquiHistorieViewModel

<h3 class="page-title" id="headerTitle">Fahrzeugakte<small></small></h3>

<div id="divFahrzeugAkte">
    @Html.Partial("Historie/Fahrzeughistorie")
</div>

<button class='btn green hide' onclick="return Test()"><i class='icon-anchor'></i>&nbsp;Test</button>


<script type="text/javascript">

    var _modelStateValid = 'false';

    function FormPreparePrivate() {
        //$("#GrunddatenEquisForm").submit();
    }

    function FormPreparePrivateAjax() {
        FormPrepareAjax();
    }

</script>
