@* Dieses DIV soll ein automatisches Rendern des Links als Button verhindern *@
<div class="LeftFooterArea">
    <a id="lnkImpressum" href="#popupImpressum" data-rel="popup" data-position-to="window">Impressum</a>
</div>

<div id="popupImpressum" class="ui-content PopupWindow" data-role="popup">
    <a class="ui-btn-right IconButtonDeleteBig" href="#" data-role="button" data-iconpos="notext" data-icon="delete" data-rel="back" >Schließen</a>
    <div class="PopupTitle">
        <b>Impressum</b>
    </div>
    <table class="FontSize12" width="100%">
        <thead> 
        </thead>  
        <tbody>
            <tr>
                <td>
                    <img src="~/Images/kroschke_inside_mobile_logo.png" alt="Kroschke" height="80px" width="240px" />
                </td>
            </tr>
            <tr>
                <td>
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td>
                    <b>Christoph Kroschke GmbH</b>
                </td>
            </tr>
            <tr>
                <td>
                    Ladestraße 1
                </td>
            </tr>
            <tr>
                <td>
                    22926 Ahrensburg
                </td>
            </tr>
            <tr>
                <td>
                    Telefon: +49 4102 804-0
                </td>
            </tr>
            <tr>
                <td>
                    Telefax: +49 4102 804-111
                </td>
            </tr>
            <tr>
                <td>
                    Internet: <a href="http://www.kroschke.de" target="_blank">http://www.kroschke.de</a>
                </td>
            </tr>
            <tr>
                <td>
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td>
                    <b>Geschäftsführer: </b>
                <br />
                    Matthias Gauglitz, Philipp Kroschke (Sprecher der Geschäftsführung), York Schmidt zur Nedden
                </td>
            </tr>
            <tr>
                <td>
                    Registergericht: Amtsgericht Lübeck<br />
                    HRB 9417 HL
                </td>
            </tr>
            <tr>
                <td>
                    Versicherungsvermittlerregister (<a href="http://www.vermittlerregister.info/" target="_blank">www.vermittlerregister.info</a>): Register- Nr. : D- HDD1- SNHVC-84
                </td>
            </tr>
            <tr>
                <td>
                    Erlaubnis nach § 34 d Abs. 1 GewO (Versicherungsvertreter), erteilt durch die Industrie- und<br />
                    Handelskammer zu Kiel, Bergstr. 2, 24103 Kiel, <a href="http://www.ihk-schleswig-holstein.de/" target="_blank">www.ihk-schleswig-holstein.de</a>
                </td>
            </tr>
            <tr>
                <td>
                    USt.-ID-Nr. DE811887896
                </td>
            </tr>
            <tr>
                <td>
                    <b>Verantwortlich im Sinne des Pressegesetzes: </b>
                <br />
                    Philipp Kroschke
                </td>
            </tr>
            <tr>
                <td>
                    <b>Haftungshinweis:</b>
                    <br />
                    Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte<br />
                    externer Links. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.
                </td>
            </tr>
        </tbody>
    </table>
</div>