<a href="#popupOptionsMenu" data-role="button" data-icon="grid" data-transition="slideup" data-rel="popup" data-mini="true" data-inline="true">Optionen</a>
<div id="popupOptionsMenu" data-role="popup">
    <ul class="Min-Width-275" data-role="listview" data-inset="true">
        <li data-role="divider">Optionen</li>     
        <li title="RefreshStammdaten"><a href="#">Stammdaten aktualisieren</a></li> 
        @*<li title="DeleteLocalVorgaenge"><a href="#">Lokale Vorgänge löschen</a></li>*@  
        <li title="DeleteOldLocalVorgaenge"><a href="#">Alte Vorgänge löschen</a></li>   
        <li title="ClearLocalStorage"><a href="#">LocalStorage leeren</a></li>                         
    </ul>
</div>