@using StockCapture.ViewModels;
@model StockQuoteViewModel

<!-- load flotr2 charting library -->
<!--[if IE]>
<script language="javascript" type="text/javascript" src="@Url.Content("~/Scripts/Flotr2/flotr2.ie.min.js")"></script>
<![endif]-->
<script src="@Url.Content("~/Scripts/Flotr2/flotr2.js")" type="text/javascript"> </script>


<h3>Chart</h3>


<style type="text/css">
    #chart {
        width: 1024px;
        height: 500px;
    }

    .chart-tooltip {
        font-weight: bold;
    }
    .chart-tooltip .val {
        color: yellow;
    }
    .chart-tooltip .time {
        color: white;
        margin-left: 20px;
    }
</style>

<div id="chart"></div>

<script type="text/javascript">
    
    function InitChart() {
        $.ajax(
        {
            type: "POST",
            url: "GetChartData",
            data: { },
            loadingShow: false,
            success: function (result) {
                DrawChart(document.getElementById("chart"), result.chartData);
            }
        });
    }

    function DrawChart(container, chartData) {

        var
            d1 = chartData || [],
            //start = new Date("2009/01/01 01:00").getTime(),
            //start = new Date().getTime(),
            options,
            graph,
            i, x, o;

        //console.log(chartData);
        for (var j = 0; j < chartData.length; j++) {
            var subArray = chartData[j];
            var date = new Date(subArray[0]);
            var offset = date.getTimezoneOffset() / 60;
            var hours = date.getHours();
            date.setHours(hours - offset);
            subArray[0] = date;
        }

        options = {
            xaxis: {
                mode: 'time',
                labelsAngle: 45
            },
            selection: {
                mode: 'x'
            },
            mouse: {
                track: true,
                trackFormatter: function(obj) {
                    var dt = new Date(obj.x);
                    var ofs = date.getTimezoneOffset() / 60;
                    return "<span class=\"chart-tooltip\">"
                        + "<span class=\"val\">" + obj.y.replace('.', ',') + "</span>"
                        + "<span class=\"time\">" + leadingZero(dt.getHours() + ofs) + ":" + leadingZero(dt.getMinutes()) + ":" + leadingZero(dt.getSeconds()) + "</span>"
                        + "</span>";
                },
                relative: true
            },
            HtmlText: false,
            title: 'Time'
        };

        function leadingZero(v) {
            if (v < 10)
                return "0" + v;

            return "" + v;
        }

        // Draw graph with default options, overwriting with passed options
        function drawGraph(opts) {

            // Clone the options, so the 'options' variable always keeps intact.
            o = Flotr._.extend(Flotr._.clone(options), opts || {});

            // Return a new graph.
            return Flotr.draw(
                container,
                [d1],
                o
            );
        }

        graph = drawGraph(options);

        var areas = [200];
        var areaIndex = 0;
        areas[areaIndex] = null;

        Flotr.EventAdapter.observe(container, 'flotr:select', function (area) {
            // Draw selected area
            graph = drawGraph({
                xaxis: { min: area.x1, max: area.x2, mode: 'time', labelsAngle: 45 },
                yaxis: { min: area.y1, max: area.y2 }
            });
            areas[++areaIndex] = area;
            //console.log("push: " + areaIndex + " ~ " + area.x1 + " - " + new Date());
        });

        // When graph is clicked, draw the graph with default area.
        Flotr.EventAdapter.observe(container, 'flotr:click', function() {

            if (areaIndex == 0) {
                return;
            }

            var area = areas[--areaIndex];
            if (areaIndex == 0) {
                graph = drawGraph();
                return;
            }

            //console.log("pop: " + areaIndex + " ~ " + area.x1 + " - " + new Date());
            graph = drawGraph({
                xaxis: { min: area.x1, max: area.x2, mode: 'time', labelsAngle: 45 + (10 * areas.length) },
                yaxis: { min: area.y1, max: area.y2 }
            });
        });
    }

    jQuery(document).ready(function () {
        InitChart();
    });
</script>




