@using CkgDomainLogic.Equi.Models
@{ var gridName = "GridFahrzeugbriefe"; }

@(Html.XTelerik()
    .XGrid<Fahrzeugbrief>()
    .Name(gridName)
    .XAjaxDataBinding("FahrzeugbriefeAjaxBinding", "Equi")
    .Columns(columns =>
    {
        columns.XBound(c => c.Kennzeichen);
        //columns.XBound(c => c.Fahrgestellnummer);
        columns.XBound(c => c.Fahrgestellnummer).ClientTemplate(
               "<a href='#' class='link tooltips' data-original-title='Historie' data-placement='right' onclick='ShowEquiHistorieAjax(\"<#= data.Fahrgestellnummer #>\");'><#= data.Fahrgestellnummer #></a>"
           );
        columns.XBound(c => c.Erstzulassungsdatum).Format("{0:dd.MM.yyyy}");
        columns.XBound(c => c.TechnIdentnummer);
        columns.XBound(c => c.Vertragsnummer);
        columns.XBound(c => c.StandortText);
        columns.XBound(c => c.Eingangsdatum).Format("{0:dd.MM.yyyy}");
        columns.XBound(c => c.Stilllegungsdatum).Format("{0:dd.MM.yyyy}");
        columns.XBound(c => c.Ummeldedatum).Format("{0:dd.MM.yyyy}");
        columns.XBound(c => c.Referenz1);
        columns.XBound(c => c.Referenz2);
    })
    .XAutoColumnConfiguration()
    .ClientEvents(events => events.XAutoClientEvents(gridName).OnLoad("OnLoad_GridFahrzeugbriefe"))
    .XPageSize(10)
    .XSort(sortOrder => sortOrder.Add(c => c.Fahrgestellnummer).Ascending())
    .ToolBar(commands =>
    {
        commands.FilteredDataCommand("ExportFahrzeugbriefeFilteredExcel", "Equi");
        commands.FilteredDataCommand("ExportFahrzeugbriefeFilteredPDF", "Equi");
    })
)

