@model CkgDomainLogic.DomainCommon.ViewModels.DashboardViewModel

@Html.Partial("Partial/Common")

<h3 class="page-title">Dashboard <small>Sample</small> </h3>

    
<div>
    <button class="btn margin-left-10" id="btnRefresh">
        Refresh
    </button>
</div>
		
<ul id="myDashboard">

</ul>

<script type="text/javascript">

    function FormPreparePrivate() {
        FormPrepareDashboard();
    }

    function FormPreparePrivateAjax() {
        FormPrepareAjax();
    }

    var _dashboardData = { data: null, options: null };

    function FormPrepareDashboard() {

	    var dashboardJson =
	    [
	        {
	            widgetTitle: "Zulassungen",
	            widgetId: "id002",
	            widgetType: "chart",
	            enableRefresh: true,
	            refreshCallBack: function (widgetId) {
	                return _dashboardData;
	            },
	            widgetContent: {
	                data: null, 
	                options: null 
	            }
	        }
	        , {
	            widgetTitle: "Abmeldungen",
	            widgetId: "id003",
	            widgetType: "chart",
	            enableRefresh: true,
	            refreshCallBack: function (widgetId) {
	                return _dashboardData;
	            },
	            widgetContent: {
	                data: null, 
	                options: null 
	            }
	        }
	    ];
	    
		//basic initialization example
		$("#myDashboard").sDashboard({
		    dashboardData: dashboardJson
		});

		//widget order changes event example
		$("#myDashboard").bind("sdashboardorderchanged", function (e, data) {
		    $.gritter.add({
		        position: 'bottom-left',
		        title: 'Order Changed',
		        time: 4000,
		        text: 'The widgets order has been changed,check the console for the sorted widget definitions array'
		    });
		    if (console) {
		        console.log("Sorted Array");
		        console.log("+++++++++++++++++++++++++");
		        console.log(data.sortedDefinitions);
		        console.log("+++++++++++++++++++++++++");
		    }

		});

		$("#btnRefresh").click(function () {

		    $("#id002 .sDashboard-refresh-icon").trigger("click");
		});

		DashboardChainInit();
	}

    var _dashboardChainIndex = 0;

    function DashboardChainInit() {
        
        var dashboardWidgets = $("#myDashboard li");
        _dashboardChainIndex = 0;
        
        $.each(dashboardWidgets, function (i, elem) {
            var widgetId = "#" + $(elem).attr("id"); 
            var busyHintDiv = $(widgetId + " .sDashboardWidgetContentBusyHint");
            showBusy(busyHintDiv, 0, 0);
        });

        DashboardChainExecute(dashboardWidgets);
    }

    function DashboardChainExecute(dashboardWidgets) {

        if (_dashboardChainIndex >= dashboardWidgets.length)
            return;

        var widget = dashboardWidgets.eq(_dashboardChainIndex);
        var widgetId = "#" + widget.attr("id");
        var busyHintDiv = $(widgetId + " .sDashboardWidgetContentBusyHint");

	    $.ajax(
        {
            type: "POST",
            url: "GetBarChartData",
            data: { id: widgetId },
            loadingShow: false,
            success: function (result) {
                _dashboardData = result;

                hideBusy(busyHintDiv);
                busyHintDiv.hide();

                $(widgetId + " .sDashboard-refresh-icon").trigger("click");

                _dashboardChainIndex++;
                setTimeout(function () { DashboardChainExecute(dashboardWidgets); }, 200);
            }
        });
    }

</script>
