@model CkgDomainLogic.DomainCommon.ViewModels.DashboardViewModel

@Html.Partial("Partial/Common")

<h3 class="page-title">Dashboard <small>Sample</small> </h3>
		
<ul id="myDashboard">
</ul>

<script type="text/javascript">
    var _dashboardJson = [];
</script>
@foreach (var dashBoardItem in Model.DashboardItems)
{
    <script type="text/javascript">
        _dashboardJson.push(
            {
                widgetTitle: "@dashBoardItem.Title",
                widgetId: "id_@dashBoardItem.ID",
                widgetType: "chart",
                enableRefresh: true,
                refreshCallBack: function (widgetId) {
                    return _dashboardData;
                },
                widgetContent: {
                    data: null,
                    options: null
                }
            }
        );
    </script>
}

<script type="text/javascript">

    function FormPreparePrivate() {
        FormPrepareDashboard();
    }

    function FormPreparePrivateAjax() {
        FormPrepareAjax();
    }

    var _dashboardData = { data: null, options: null };

    function FormPrepareDashboard() {
	    
        //basic initialization example
        $("#myDashboard").sDashboard({
            dashboardData: _dashboardJson
        });

        //widget order changes event example
        $("#myDashboard").bind("sdashboardorderchanged", function (e, data) {
            $.gritter.add({
                position: 'bottom-left',
                title: 'Order Changed',
                time: 4000,
                text: 'The widgets order has been changed,check the console for the sorted widget definitions array'
            });
            if (console) {
                console.log("Sorted Array");
                console.log("+++++++++++++++++++++++++");
                console.log(data.sortedDefinitions);
                console.log("+++++++++++++++++++++++++");
            }

        });

        DashboardChainInit();
    }

    var _dashboardChainIndex = 0;

    function DashboardChainInit() {
        
        var dashboardWidgets = $("#myDashboard li");
        _dashboardChainIndex = 0;
        
        $.each(dashboardWidgets, function (i, elem) {
            var widgetId = "#" + $(elem).attr("id"); 
            var busyHintDiv = $(widgetId + " .sDashboardWidgetContentBusyHint");
            showBusy(busyHintDiv, 0, 0);
        });

        DashboardChainExecute(dashboardWidgets);
    }

    function DashboardChainExecute(dashboardWidgets) {

        if (_dashboardChainIndex >= dashboardWidgets.length)
            return;

        var widget = dashboardWidgets.eq(_dashboardChainIndex);
        var widgetId = "#" + widget.attr("id");
        var busyHintDiv = $(widgetId + " .sDashboardWidgetContentBusyHint");

        $.ajax(
            {
                type: "POST",
                url: "GetBarChartData",
                data: { id: widgetId },
                loadingShow: false,
                success: function (result) {
                    _dashboardData.data = result.data;
                    _dashboardData.options = jQuery.parseJSON(result.options);
                    console.log(result.options);

                    hideBusy(busyHintDiv);
                    busyHintDiv.hide();

                    $(widgetId + " .sDashboard-refresh-icon").trigger("click");

                    _dashboardChainIndex++;
                    setTimeout(function () { DashboardChainExecute(dashboardWidgets); }, 200);
                }
            });
    }

</script>
