@model CkgDomainLogic.DomainCommon.ViewModels.DashboardViewModel

@Html.Partial("Partial/Common")

<h3 class="page-title">Dashboard <small>Sample</small> </h3>

    
<div>
    <button class="btn margin-left-10" id="btnRefresh">
        Refresh
    </button>
</div>
		
<ul id="myDashboard">

</ul>

<script type="text/javascript">

    function FormPreparePrivate() {
        FormPrepareDashboard();
    }

    function FormPreparePrivateAjax() {
        FormPrepareAjax();
    }

    var _dashboardData = { data: null, options: null };

    function FormPrepareDashboard() {

	    var dashboardJson =
	    [{
	        widgetTitle: "bar Chart Widget",
	        widgetId: "id002",
	        widgetType: "chart",
	        enableRefresh: true,
	        refreshCallBack: function (widgetId) {
	            return _dashboardData;
	        },
	        widgetContent: {
	            data: null, //myExampleData.barChartData,
	            options: null //myExampleData.barChartOptions
	        }

	    }];
	    
		//basic initialization example
		$("#myDashboard").sDashboard({
		    dashboardData: dashboardJson
		});

		//widget order changes event example
		$("#myDashboard").bind("sdashboardorderchanged", function (e, data) {
		    $.gritter.add({
		        position: 'bottom-left',
		        title: 'Order Changed',
		        time: 4000,
		        text: 'The widgets order has been changed,check the console for the sorted widget definitions array'
		    });
		    if (console) {
		        console.log("Sorted Array");
		        console.log("+++++++++++++++++++++++++");
		        console.log(data.sortedDefinitions);
		        console.log("+++++++++++++++++++++++++");
		    }

		});

		$("#btnRefresh").click(function () {

		    $("#id002 .sDashboard-refresh-icon").trigger("click");
		});

	    InitDashboardChain();
	}

	function InitDashboardChain() {

	    var widgetId = "#id002";
	    var busyHintDiv = $(widgetId + " .sDashboardWidgetContentBusyHint");
	    showBusy(busyHintDiv, 0, 0);
	    $.ajax(
        {
            type: "POST",
            url: "GetBarChartData",
            data: {},
            loadingShow: false,
            success: function (result) {
                _dashboardData = result;
                hideBusy(busyHintDiv);
                //alert("");
                busyHintDiv.addClass("hide");

                $(widgetId + " .sDashboard-refresh-icon").trigger("click");
            }
        });
    }

</script>
