@model CkgDomainLogic.DomainCommon.ViewModels.DashboardViewModel

@Html.Partial("Partial/Common")

<h3 class="page-title">Dashboard <small>Sample</small>

    <li class="dropdown user dashboard-dropdown-menu">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <span class="badge">1</span>
            <i class="icon-bar-chart"></i>
            <i class="icon-angle-down"></i>
        </a>
        <ul class="dropdown-menu">
        
            <li><a href="javascript:ChangePassword()"><i class="icon-bar-chart"></i> Chart 1 sadfdsaf sdsdf sdf dsf sdfds sdf d asdsaf dfds fsd fsd </a></li>

            <li class="divider"></li>
        
            <li><a href="javascript:UserLogout()"><i class="icon-bar-chart"></i> Chart 2</a></li>

        </ul>
    </li> 

    <a class="margin-left-50" href="#" onclick="return AddWidget(9);">Add Widget</a> 
    <a class="margin-left-10" href="#" onclick="return Save();">Save</a> 
</h3>



<ul id="myDashboard">
</ul>

<script type="text/javascript">
    var _dashboardJson = [];
</script>
@foreach (var dashBoardItem in Model.DashboardItems.Where(d => d.ID != 9))
{
    <script type="text/javascript">
        _dashboardJson.push(
            {
                widgetTitle: "@dashBoardItem.Title",
                widgetId: "id_@dashBoardItem.ID",
                widgetType: "chart",
                enableRefresh: true,
                refreshCallBack: function (widgetId) {
                    return _dashboardData;
                },
                widgetContent: {
                    data: null,
                    options: null
                }
            }
        );
    </script>
}

<script type="text/javascript">

    function FormPreparePrivate() {
        FormPrepareDashboard();
    }

    function FormPreparePrivateAjax() {
        FormPrepareAjax();
    }

    var _dashboardData = { data: null, options: null };

    function FormPrepareDashboard() {
	    
        //basic initialization example
        $("#myDashboard").sDashboard({
            dashboardData: _dashboardJson
        });

        DashboardChainInit();

        BindDashboardEvents();

        $(".badge").click(function () {
            $(".badge").toggle("highlight", function () {
                $(".badge").show();
            });
        });
    }

    function BindDashboardEvents() {
        //widget order changes event example
        $("#myDashboard").bind("sdashboardorderchanged", function (e, data) {
            console.log("Sorted Array");
            console.log("+++++++++++++++++++++++++");
            console.log(data.sortedDefinitions);
            console.log("+++++++++++++++++++++++++");
        });
    }

    var _dashboardChainIndex = 0;

    function DashboardChainInit() {
        
        var dashboardWidgets = $("#myDashboard li");
        _dashboardChainIndex = 0;
        
        $.each(dashboardWidgets, function (i, elem) {
            var widgetId = "#" + $(elem).attr("id"); 
            var busyHintDiv = $(widgetId + " .sDashboardWidgetContentBusyHint");
            showBusy(busyHintDiv, 0, 0);
        });

        DashboardChainExecute(dashboardWidgets);
    }

    function DashboardChainExecute(dashboardWidgets) {

        if (_dashboardChainIndex >= dashboardWidgets.length)
            return;

        var widget = dashboardWidgets.eq(_dashboardChainIndex);
        var widgetId = "#" + widget.attr("id");
        var busyHintDiv = $(widgetId + " .sDashboardWidgetContentBusyHint");

        $.ajax(
            {
                type: "POST",
                url: "GetBarChartData",
                data: { id: widgetId },
                loadingShow: false,
                success: function (result) {

                    _dashboardData.data = result.data.data;
                    //console.log(result.data.labels);
                    _dashboardData.options = jQuery.parseJSON(result.options);

                    if (typeof (_dashboardData.options.pie) !== 'undefined') {
                        //console.log(_dashboardData.options);
//                        console.log(_dashboardData.data);
//                        _dashboardData.data =
//                        [
//                            { data: [[0,250]], label: "CSI" },
//                            { data: [[1, 150]], label: "Tesla" },
//                            { data: [[2, 50]], label: "Avis" }
//                        ];
//                        console.log(_dashboardData.data);
                    }

                    hideBusy(busyHintDiv);
                    busyHintDiv.hide();

                    $(widgetId + " .sDashboard-refresh-icon").trigger("click");

                    _dashboardChainIndex++;
                    setTimeout(function () { DashboardChainExecute(dashboardWidgets); }, 200);
                }
            });
    }

    function Save() {
        $.ajax(
            {
                type: "POST",
                url: "DashboardItemsSave",
                data: { commaSeparatedIds: "1,2,3" },
                loadingShow: false,
                success: function (result) {
                }
            });

        return false;
    }

    function AddWidget(rawWidgetId) {

        $("#myDashboard").sDashboard("addWidget",
            {
                widgetTitle: "Just Added ;-)",
                widgetId: "id_" + rawWidgetId,
                widgetType: "chart",
                enableRefresh: true,
                refreshCallBack: function () {
                    return _dashboardData;
                },
                widgetContent: {
                    data: null,
                    options: null
                }
            });

        var widgetId = "#id_" + rawWidgetId;
        var busyHintDiv = $(widgetId + " .sDashboardWidgetContentBusyHint");
        showBusy(busyHintDiv, 0, 0);

        $.ajax(
            {
                type: "POST",
                url: "GetBarChartData",
                data: { id: "id_" + rawWidgetId },
                loadingShow: false,
                success: function (result) {
                    _dashboardData.data = result.data.data;
                    _dashboardData.options = jQuery.parseJSON(result.options);
                    console.log(_dashboardData.data);
                    $(widgetId + " .sDashboard-refresh-icon").trigger("click");
                    hideBusy(busyHintDiv);
                    busyHintDiv.hide();
                }
            });

        return false;
    }

</script>
