@using CkgDomainLogic.Equi.Models
@{ var gridName = "GridEquiHistorieVermieterInfos"; }

@(Html.XTelerik()
    .XGrid<EquiHistorieVermieterInfo>()
    .Name(gridName)
    .XAjaxDataBinding("EquiHistorieVermieterInfosAjaxBinding", "Equi")
    .Columns(columns =>
    {
        columns.XBound(c => c.Kennzeichen);
        columns.XBound(c => c.FahrgestellNr).ClientTemplate(
                "<a href='#' class='link tooltips' data-original-title='" + Localize.VehicleHistory + "' data-placement='right' onclick='ShowEquiHistorieVermieterAjax(\"<#= data.FahrgestellNr #>\");'><#= data.FahrgestellNr #></a>"
            );
        columns.XBound(c => c.BriefNr);
        columns.XBound(c => c.Referenz1);
    })
    .XAutoColumnConfiguration()
        .ClientEvents(events => events.XAutoClientEvents(gridName).OnLoad("OnLoad_GridEquiHistorieVermieterInfos"))
    .XPageSize(10)
    .XSort(sortOrder => sortOrder.Add(c => c.Kennzeichen).Ascending())
    .ToolBar(commands =>
    {
        commands.FilteredDataCommand("ExportEquiHistorieVermieterInfosFilteredExcel", "Equi");
        commands.FilteredDataCommand("ExportEquiHistorieVermieterInfosFilteredPDF", "Equi");
    })
)

