@using CkgDomainLogic.Equi.Models
@{ var gridName = "GridEquiHistorieInfos"; }

@(Html.Telerik()
    .Grid<EquiHistorieInfo>()
    .Name(gridName)

    .XAjaxDataBinding("EquiHistorieInfosAjaxBinding", "Equi")
    .Columns(columns =>
    {
        columns.XBound(c => c.Fahrgestellnummer).ClientTemplate(
                "<a href='#' class='link tooltips' data-original-title='Historie' data-placement='right' onclick='ShowEquiHistorieAjax(\"<#= data.Fahrgestellnummer #>\");'><#= data.Fahrgestellnummer #></a>"
            );
        columns.XBound(c => c.Kennzeichen);
        columns.XBound(c => c.Vertragsnummer);
        columns.XBound(c => c.Briefnummer);
        columns.XBound(c => c.Referenznummer);
        columns.XBound(c => c.Anlagedatum).Format("{0:dd.MM.yyyy}");
        columns.XBound(c => c.Versanddatum).Format("{0:dd.MM.yyyy}");
        columns.XBound(c => c.Lagerort);
        columns.XBound(c => c.Partnernummer);
    })
    .XAutoColumnConfiguration()
    .ClientEvents(events => events.XAutoClientEvents(gridName).OnLoad("OnLoad_GridEquiHistorieInfos"))
    .XPageSize(10)
    .XSort(sortOrder => sortOrder.Add(c => c.Fahrgestellnummer).Ascending())
    .ToolBar(commands =>
    {
        commands.FilteredDataCommand("ExportEquiHistorieInfosFilteredExcel", "Equi");
        commands.FilteredDataCommand("ExportEquiHistorieInfosFilteredPDF", "Equi");
    })
)

