<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.diagnostics>
        <sources>
            <!-- Dieser Abschnitt definiert die Protokollierungskonfiguration für My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Auskommentierung des nachfolgenden Abschnitts aufheben, um in das Anwendungsereignisprotokoll zu schreiben -->
                    <add name="EventLog"/>
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Auskommentierung des nachfolgenden Abschnitts aufheben, um in das Anwendungsereignisprotokoll zu schreiben -->
            <add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="EasyExportGeneralTask"/> 
        </sharedListeners>
    </system.diagnostics>
    <appSettings>
        
        <!--SAP-->
        <add key="SAPAppServerHost" value="192.168.10.151"/>
        <add key="SAPSystemNumber" value="0"/>
        <add key="SAPClient" value="10"/>
        <add key="SAPUsername" value="web_rfc"/>
        <add key="SAPPassword" value="17LOUNGE"/>
        <add key="ProdSAP" value="FALSE"/>
        <add key="TESTSAPAppServerHost" value="192.168.10.152"/>
        <add key="TESTSAPSystemNumber" value="0"/>
        <add key="TESTSAPClient" value="10"/>
        <add key="TESTSAPUsername" value="web_rfc"/>
        <add key="TESTSAPPassword" value="17LOUNGE"/>
        <add key="ErpConnectLicense" value="5DVZ5588DC-25444"/>
        
        <!-- Easy Access -->
        <add key="EasyRemoteHosts" value="192.168.10.140,2001,1|192.168.10.140,2002,1|192.168.10.140,2003,1|192.168.10.140,2004,1|192.168.10.140,2005,1|192.168.10.140,2006,1|192.168.10.140,2007,1|192.168.10.140,2008,1|192.168.10.140,2009,1|192.168.10.140,2010,1"/>
        <add key="EasyRemoteHost" value="192.168.10.140"/>
        <add key="EasyRemotePort" value="2001"/>
        <add key="EasyRequestTimeout" value="60"/>
        <add key="EasySessionId" value="_"/>
        <add key="EasyUser" value="SYSTEM"/>
        <add key="EasyPwd" value="34A3ABA5AE42A79396"/>
        <add key="EasyPwdClear" value="alabasta04"/>
        <add key="EasyQueryIndexName" value="SGW"/>
        <add key="EasyLogPath" value="C:\TEMP"/>
        <add key="EasyLogPathXml" value="C:\Programme\EasyExportGeneralTask"/>
        <add key="EasyBlobPathRemote" value="C:\TEMP"/>

        <!-- Mail -->
        <add key="SmtpServer" value="ahs003.kroschke.de"/>
        <add key="EMailAbsender" value="noreply.sgw@kroschke.de"/>
        <add key="EMailAbsenderError" value="it-entwicklung@kroschke.de"/>
        <add key="EMailEmpfaengerError" value="marco.carl@kroschke.de"/>
        <!-- TEST-Empfänger wird genutzt (betrifft nicht die Fehler-Mails), wenn ProdSAP=FALSE -->
        <add key="EMailEmpfaengerTEST" value="marco.carl@kroschke.de"/>

        <!-- Sonstiges -->
        <add key="PDFSplitAndMergePath" value="C:\Program Files (x86)\AdultPDF\Ap PDF Split-Merge\pdfspme_cmd.exe"/>
        <add key="ZIPPath" value="C:\Programme\EasyExportGeneralTask\7ZA.EXE"/>
        <add key="ConfigFilePath" value="Config.xml"/>
        <add key="WkdaDokumentAblagePfad" value="\\192.168.10.96\prod\portal\wkda\01_pdf"/>
        <add key="WkdaAtDokumentAblagePfad" value="\\192.168.10.96\prod\dad\kls\10080071"/>

        <!--TEST-Flags-->
        <add key="PauseAfterCompletion" value="true"/>
        
    </appSettings>
</configuration>