@model CkgDomainLogic.Autohaus.ViewModels.AutohausZulassungViewModel

<style type="text/css">

</style>

<h4>Ihre Auftragsdaten</h4> 

@Html.Partial("Zulassung/FreieZulassungsOptionenForm", @Model.FreieZulassungsOption)
