@model CkgDomainLogic.DomainCommon.ViewModels.AdressenPflegeViewModel 

@section LayoutScript { _controlGroupValidationType = "default"; }

@Html.Partial("AdressenPflege/AdresseCommon")

<script type="text/javascript">

    var _modelStateValid = false;

    function FormPreparePrivate() {
        FormPreparePrivateAdressenPflege();
    }

    function FormPreparePrivateAjax() {
        FormPrepareAjax();
    }
    
</script>

<h3 class="page-title">Adressenverwaltung <small></small></h3>

@Html.Partial("AdressenPflege/AdressenGrid")

