@model CkgDomainLogic.DomainCommon.ViewModels.AdressenPflegeViewModel 

@section LayoutScript { _controlGroupValidationType = "default"; }

@Html.Partial("AdressenPflege/AdresseCommon")

<h3 class="page-title">Adressenverwaltung <small></small></h3>

<div class="portlet">
    <div id="divGridEditStart">
    
        @Html.Partial("AdressenPflege/AdressenGrid")

    </div>
</div>

<div id="divGridItemDetails"></div>


