@using GeneralTools.Contracts
@{
    var appSettings = DependencyResolver.Current.GetService<IAppSettings>();
}

<h3 class="page-title">@Localize.Imprint </h3>

@Html.Partial(appSettings.AppOwnerImpressumPartialViewName)




