@using GeneralTools.Contracts
@{
    var appSettings = DependencyResolver.Current.GetService<IAppSettings>();
}

@model CkgCommonViewModel

<h3 class="page-title">@appSettings.PortalWelcomeMessageStartLocalized <small>@appSettings.PortalWelcomeMessageEndLocalized</small></h3>

@if (Model.AppFavoritesAvailable)
{
    @Html.Partial("AppFavorites/AppFavoriteButtons")
}

