@using GeneralTools.Contracts
@{
    var appSettings = DependencyResolver.Current.GetService<IAppSettings>();
}

@model CkgCommonViewModel

<h3 class="page-title">@appSettings.PortalWelcomeMessageStartLocalized <small>@appSettings.PortalWelcomeMessageEndLocalized</small></h3>

<script type="text/javascript">
    function FormPreparePrivate() {
    }
</script>

@if (Model.AppFavoritesAvailable)
{
    @Html.Partial("AppFavorites/AppFavoriteButtons")
}
