@model CkgCommonViewModel

<h3 class="page-title">@Localize.WelcomeAtPortalDadStart <small>@Localize.WelcomeAtPortalDadEnd</small></h3>

@if (Model.AppFavoritesAvailable)
{
    @Html.Partial("AppFavorites/AppFavoriteButtons")
}

