@model CkgCommonViewModel

<h3 class="page-title">@Localize.YourContactPersons <small></small> </h3>

@Html.Partial("Partial/CustomerGroupContacts")

@if (HttpContext.Current.Request.UrlReferrer != null && HttpContext.Current.Request.UrlReferrer.ToString().ToLower().Contains("/fahrer"))
{
    <script type="text/javascript">
        RedirectHomePageToFahrerWebHomePage();
    </script>
}