@using CkgDomainLogic.General.Contracts
@model CkgCommonViewModel
@{  var logonContext = (ILogonContextDataService)SessionHelper.GetSessionObject("LogonContext"); }

<h3 class="page-title">@Localize.Notifications </h3>


@Html.Partial("Partial/UserMessagesDetails", logonContext.MaintenanceInfo)