USE [master]
GO
/****** Object:  Database [Jenzen]    Script Date: 04.01.2015 19:54:47 ******/
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'Jenzen')
BEGIN
CREATE DATABASE [Jenzen] ON  PRIMARY 
( NAME = N'Jenzen', FILENAME = N'c:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\Jenzen.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Jenzen_log', FILENAME = N'c:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\Jenzen_log.ldf' , SIZE = 1280KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
END

GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Jenzen].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Jenzen]
GO
/****** Object:  Table [dbo].[Buchungen]    Script Date: 04.01.2015 19:54:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Buchungen]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Buchungen](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Datum] [datetime] NULL,
	[Vzweck] [varchar](500) NULL,
	[Empf] [varchar](500) NULL,
	[Betrag] [money] NULL,
	[Buchungstext] [varchar](500) NULL,
	[Rubrik] [varchar](5) NULL,
 CONSTRAINT [PK_Buchungen] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Buchungen] ON 

INSERT [dbo].[Buchungen] ([ID], [Datum], [Vzweck], [Empf], [Betrag], [Buchungstext], [Rubrik]) VALUES (6374, CAST(0x0000A2A700000000 AS DateTime), N'Entgelte f. Sperre', N'SPARKASSE HOLSTEIN', -10.0000, N'PROVISION', N'h')
INSERT [dbo].[Buchungen] ([ID], [Datum], [Vzweck], [Empf], [Betrag], [Buchungstext], [Rubrik]) VALUES (6375, CAST(0x0000A2A700000000 AS DateTime), N'SVWZ+TASCHENGELD', N'MARLENA JENZEN', -35.0000, N'DAUERAUFTRAG', N'ki')
INSERT [dbo].[Buchungen] ([ID], [Datum], [Vzweck], [Empf], [Betrag], [Buchungstext], [Rubrik]) VALUES (6376, CAST(0x0000A2A700000000 AS DateTime), N'EREF+1335215549982', N'NUERNBERGER LEBENSVERSICHER UNG AG', -57.8900, N'FOLGELASTSCHRIFT', N'v')
GO
SET IDENTITY_INSERT [dbo].[Buchungen] OFF
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_ColumnHidden' , N'SCHEMA',N'dbo', N'TABLE',N'Buchungen', N'COLUMN',N'ID'))
EXEC sys.sp_addextendedproperty @name=N'MS_ColumnHidden', @value=0 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Buchungen', @level2type=N'COLUMN',@level2name=N'ID'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_ColumnOrder' , N'SCHEMA',N'dbo', N'TABLE',N'Buchungen', N'COLUMN',N'ID'))
EXEC sys.sp_addextendedproperty @name=N'MS_ColumnOrder', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Buchungen', @level2type=N'COLUMN',@level2name=N'ID'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_ColumnWidth' , N'SCHEMA',N'dbo', N'TABLE',N'Buchungen', N'COLUMN',N'ID'))
EXEC sys.sp_addextendedproperty @name=N'MS_ColumnWidth', @value=-1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Buchungen', @level2type=N'COLUMN',@level2name=N'ID'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_ColumnHidden' , N'SCHEMA',N'dbo', N'TABLE',N'Buchungen', N'COLUMN',N'Datum'))
EXEC sys.sp_addextendedproperty @name=N'MS_ColumnHidden', @value=0 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Buchungen', @level2type=N'COLUMN',@level2name=N'Datum'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_ColumnOrder' , N'SCHEMA',N'dbo', N'TABLE',N'Buchungen', N'COLUMN',N'Datum'))
EXEC sys.sp_addextendedproperty @name=N'MS_ColumnOrder', @value=0 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Buchungen', @level2type=N'COLUMN',@level2name=N'Datum'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_ColumnWidth' , N'SCHEMA',N'dbo', N'TABLE',N'Buchungen', N'COLUMN',N'Datum'))
EXEC sys.sp_addextendedproperty @name=N'MS_ColumnWidth', @value=-1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Buchungen', @level2type=N'COLUMN',@level2name=N'Datum'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_ColumnHidden' , N'SCHEMA',N'dbo', N'TABLE',N'Buchungen', N'COLUMN',N'Vzweck'))
EXEC sys.sp_addextendedproperty @name=N'MS_ColumnHidden', @value=0 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Buchungen', @level2type=N'COLUMN',@level2name=N'Vzweck'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_ColumnOrder' , N'SCHEMA',N'dbo', N'TABLE',N'Buchungen', N'COLUMN',N'Vzweck'))
EXEC sys.sp_addextendedproperty @name=N'MS_ColumnOrder', @value=0 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Buchungen', @level2type=N'COLUMN',@level2name=N'Vzweck'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_ColumnWidth' , N'SCHEMA',N'dbo', N'TABLE',N'Buchungen', N'COLUMN',N'Vzweck'))
EXEC sys.sp_addextendedproperty @name=N'MS_ColumnWidth', @value=-1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Buchungen', @level2type=N'COLUMN',@level2name=N'Vzweck'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_ColumnHidden' , N'SCHEMA',N'dbo', N'TABLE',N'Buchungen', N'COLUMN',N'Empf'))
EXEC sys.sp_addextendedproperty @name=N'MS_ColumnHidden', @value=0 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Buchungen', @level2type=N'COLUMN',@level2name=N'Empf'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_ColumnOrder' , N'SCHEMA',N'dbo', N'TABLE',N'Buchungen', N'COLUMN',N'Empf'))
EXEC sys.sp_addextendedproperty @name=N'MS_ColumnOrder', @value=0 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Buchungen', @level2type=N'COLUMN',@level2name=N'Empf'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_ColumnWidth' , N'SCHEMA',N'dbo', N'TABLE',N'Buchungen', N'COLUMN',N'Empf'))
EXEC sys.sp_addextendedproperty @name=N'MS_ColumnWidth', @value=-1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Buchungen', @level2type=N'COLUMN',@level2name=N'Empf'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_ColumnHidden' , N'SCHEMA',N'dbo', N'TABLE',N'Buchungen', N'COLUMN',N'Betrag'))
EXEC sys.sp_addextendedproperty @name=N'MS_ColumnHidden', @value=0 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Buchungen', @level2type=N'COLUMN',@level2name=N'Betrag'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_ColumnOrder' , N'SCHEMA',N'dbo', N'TABLE',N'Buchungen', N'COLUMN',N'Betrag'))
EXEC sys.sp_addextendedproperty @name=N'MS_ColumnOrder', @value=0 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Buchungen', @level2type=N'COLUMN',@level2name=N'Betrag'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_ColumnWidth' , N'SCHEMA',N'dbo', N'TABLE',N'Buchungen', N'COLUMN',N'Betrag'))
EXEC sys.sp_addextendedproperty @name=N'MS_ColumnWidth', @value=-1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Buchungen', @level2type=N'COLUMN',@level2name=N'Betrag'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_ColumnHidden' , N'SCHEMA',N'dbo', N'TABLE',N'Buchungen', N'COLUMN',N'Buchungstext'))
EXEC sys.sp_addextendedproperty @name=N'MS_ColumnHidden', @value=0 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Buchungen', @level2type=N'COLUMN',@level2name=N'Buchungstext'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_ColumnOrder' , N'SCHEMA',N'dbo', N'TABLE',N'Buchungen', N'COLUMN',N'Buchungstext'))
EXEC sys.sp_addextendedproperty @name=N'MS_ColumnOrder', @value=0 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Buchungen', @level2type=N'COLUMN',@level2name=N'Buchungstext'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_ColumnWidth' , N'SCHEMA',N'dbo', N'TABLE',N'Buchungen', N'COLUMN',N'Buchungstext'))
EXEC sys.sp_addextendedproperty @name=N'MS_ColumnWidth', @value=-1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Buchungen', @level2type=N'COLUMN',@level2name=N'Buchungstext'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_ColumnHidden' , N'SCHEMA',N'dbo', N'TABLE',N'Buchungen', N'COLUMN',N'Rubrik'))
EXEC sys.sp_addextendedproperty @name=N'MS_ColumnHidden', @value=0 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Buchungen', @level2type=N'COLUMN',@level2name=N'Rubrik'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_ColumnOrder' , N'SCHEMA',N'dbo', N'TABLE',N'Buchungen', N'COLUMN',N'Rubrik'))
EXEC sys.sp_addextendedproperty @name=N'MS_ColumnOrder', @value=0 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Buchungen', @level2type=N'COLUMN',@level2name=N'Rubrik'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_ColumnWidth' , N'SCHEMA',N'dbo', N'TABLE',N'Buchungen', N'COLUMN',N'Rubrik'))
EXEC sys.sp_addextendedproperty @name=N'MS_ColumnWidth', @value=-1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Buchungen', @level2type=N'COLUMN',@level2name=N'Rubrik'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_DefaultView' , N'SCHEMA',N'dbo', N'TABLE',N'Buchungen', NULL,NULL))
EXEC sys.sp_addextendedproperty @name=N'MS_DefaultView', @value=0x02 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Buchungen'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Filter' , N'SCHEMA',N'dbo', N'TABLE',N'Buchungen', NULL,NULL))
EXEC sys.sp_addextendedproperty @name=N'MS_Filter', @value=N'((Buchungen.Rubrik="ha"))' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Buchungen'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_OrderBy' , N'SCHEMA',N'dbo', N'TABLE',N'Buchungen', NULL,NULL))
EXEC sys.sp_addextendedproperty @name=N'MS_OrderBy', @value=N'Buchungen.Datum' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Buchungen'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_OrderByOn' , N'SCHEMA',N'dbo', N'TABLE',N'Buchungen', NULL,NULL))
EXEC sys.sp_addextendedproperty @name=N'MS_OrderByOn', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Buchungen'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Orientation' , N'SCHEMA',N'dbo', N'TABLE',N'Buchungen', NULL,NULL))
EXEC sys.sp_addextendedproperty @name=N'MS_Orientation', @value=0x00 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Buchungen'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_TableMaxRecords' , N'SCHEMA',N'dbo', N'TABLE',N'Buchungen', NULL,NULL))
EXEC sys.sp_addextendedproperty @name=N'MS_TableMaxRecords', @value=10000 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Buchungen'
GO
USE [master]
GO
