@using CkgDomainLogic.Finance.Models

@{ var gridName = "GridVersendungen"; }

<div class="form-actions PageTopMenu">
    <button type="button" id="btnBackToSearch" class="btn blue mini" onclick="CloseVersendungenSearchResult();"><i class="icon-arrow-left"></i>&nbsp;@Localize.BackToSearch</button>
</div>

@(Html.Telerik()
    .Grid<VersendungSummiert>()
    .Name(gridName)
    .XAjaxDataBinding("VersendungenSummiertAjaxBinding", "Finance")
    .Columns(columns =>
    {
        columns.XBound(c => c.HaendlerNr);
        columns.XBound(c => c.HaendlerName);
        columns.XBound(c => c.Vertragsart);
        columns.XBound(c => c.Anforderungsweg);
        columns.XBound(c => c.Anforderungsart);
        columns.XBound(c => c.Versandgrund);
        columns.XBound(c => c.Summe);
        columns.XBound(c => c.BestandHaendler);
        columns.XBound(c => c.AnteilInProzent);
    })
    .XAutoColumnConfiguration()
    .ClientEvents(events => events.XAutoClientEvents(gridName))
    .XPageSize(10)
    .Sortable(s => s.Enabled(false))
    .Filterable(f => f.Enabled(false))
    .Groupable(g => g.Enabled(false))
    .Reorderable(r => r.Columns(false))
    .ToolBar(commands =>
    {
        commands.FilteredDataCommand("ExportVersendungenFilteredExcel", "Finance").HtmlAttributes(new { @class = "btn mini gray tooltips excel a_btn_mini", data_original_title = "Excel Export", data_placement = "right" });
        commands.FilteredDataCommand("ExportVersendungenFilteredPDF", "Finance").HtmlAttributes(new { @class = "btn mini gray tooltips pdf a_btn_mini", data_original_title = "PDF Export", data_placement = "right" });
    })
)
