@model CkgDomainLogic.DomainCommon.ViewModels.XarisViewModel

<script type="text/javascript">
    function FormPreparePrivate() {
    }
</script>

<h5 class="margin-top-40">
    <a href="@Model.XarisUrl">@Model.XarisUrl</a>
</h5>

<iframe frameborder="0" width="800" height="500" src="@Model.XarisUrl"></iframe>