BODY
{
	font-weight: normal;
	font-size: 12px;
	word-spacing: normal;
	text-transform: none;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	letter-spacing: normal;
	background-color: #ffffff;
}

HR
{
	color: #000000;
}

TH, TD
{
	font-size: 12px;
	font-family: Arial, Verdana, Helvetica, sans-serif;
}

A:link
{
	color: #000000;
}	
		
A:visited
{
	color: #000000;
}	
		
A:hover
{
	color: #FFD60D;
}

A:active
{
	color: #FFD60D;
}	
		

.HeaderLinks
{
	padding-right: 5px;
	padding-left: 5px;
	font-size: 13px;
	padding-bottom: 5px;
	color: #000000;
	padding-top: 5px;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	text-decoration: none;
}

.TaskTitle A:link
{
	color: #000000;
}

.TaskTitle A:visited
{
	color: #000000;
}

.TaskTitle A:hover
{
	color: #000000;
}

.TaskTitle A:active
{
	color: #000000;
}

.HeaderLinks A:link
{
	color: #000000;
}

.HeaderLinks A:visited
{
	color: #000000;
}

.HeaderLinks A:hover
{
	color: #FFD60D;
}

.HeaderLinks A:active
{
	color: #000000;
}

.GridTableHead
{
	font-weight: bold;
	font-size: 12px;
	color: #ffffff;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	background-color: #FFD60D;
}

.GridTableHead A:link
{
	color: #000000;
}

.GridTableHead A:visited
{
	color: #000000;
}

.GridTableAlternate
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	background-color: #f5f5f5;
}
	
.StandardButton
{
	font-weight: bold;
	font-size: 12px;
	width: 120px;
	cursor: hand;
	color: #ffffff;
	
	font-family: Arial, Verdana, Helvetica, sans-serif;
	
	height: 22px;
	background-color: #000000;
	text-align: center;
	text-decoration: none;
	display: table-cell;
	
	border-bottom-style: none;
	border-top-style:solid;
	border-top-width:thin;
	border-top-color:White;	 
	border-right-style:solid;
	border-right-width:thin;
	border-right-color:White;	 
}

A.StandardButton
{
	padding-right: 5px;
	padding-left: 5px;
	font-weight: bold;
	font-size: 12px;
	padding-bottom: 5px;
	width: 120px;
	cursor: hand;
	color: #ffffff;
	
	padding-top: 5px;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	
	background-color: #000000;
	text-align: center;
	text-decoration: none;
	
	border-bottom-style: none;
	border-top-style:solid;
	border-top-width:thin;
	border-top-color:White;	 
	border-right-style:solid;
	border-right-width:thin;
	border-right-color:White;	 
}

A.StandardButton:visited
{
	padding-right: 5px;
	padding-left: 5px;
	font-weight: bold;
	font-size: 12px;
	padding-bottom: 5px;
	width: 120px;
	cursor: hand;
	color: #ffffff;
	
	padding-top: 5px;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	
	background-color: #000000;
	text-align: center;
	text-decoration: none;
	
	border-bottom-style: none;
	border-top-style:solid;
	border-top-width:thin;
	border-top-color:White;	 
	border-right-style:solid;
	border-right-width:thin;
	border-right-color:White;	 
}

A.StandardButton:hover
{
	padding-right: 5px;
	padding-left: 5px;
	font-weight: bold;
	font-size: 12px;
	padding-bottom: 5px;
	width: 120px;
	cursor: hand;
	color: #000000;
	
	padding-top: 5px;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	
	background-color: #FFD60D;
	text-align: center;
	text-decoration: none;
	
	border-bottom-style: none;
	border-top-style:solid;
	border-top-width:thin;
	border-top-color:White;	 
	border-right-style:solid;
	border-right-width:thin;
	border-right-color:White;	 
}

A.StandardButton:active
{
	padding-right: 5px;
	padding-left: 5px;
	font-weight: bold;
	font-size: 12px;
	padding-bottom: 5px;
	width: 120px;
	cursor: hand;
	color: #000000;
	
	padding-top: 5px;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	
	background-color: #FFD60D;
	text-align: center;
	text-decoration: none;
	
	border-bottom-style: none;
	border-top-style:solid;
	border-top-width:thin;
	border-top-color:White;	 
	border-right-style:solid;
	border-right-width:thin;
	border-right-color:White;	 
}

.StandardButtonTable
{
	font-weight: bold;
	font-size: 12px;
	width: 150px;
	cursor: hand;
	color: #000000;
	border-top-style: none;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	border-right-style: none;
	border-left-style: none;
	height: 15px;
	background-color: #cccccc;
	text-align: center;
	text-decoration: none;
	border-bottom-style: none;
}

A.StandardButtonTable
{
	padding-right: 9px;
	padding-left: 9px;
	font-weight: bold;
	font-size: 12px;
	padding-bottom: 3px;
	width: 150px;
	cursor: hand;
	color: #000000;
	border-top-style: none;
	padding-top: 3px;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	border-right-style: none;
	border-left-style: none;
	background-color: #cccccc;
	text-align: center;
	text-decoration: none;
	border-bottom-style: none;
}

A.StandardButtonTable:visited
{
	padding-right: 9px;
	padding-left: 9px;
	font-weight: bold;
	font-size: 12px;
	padding-bottom: 3px;
	width: 150px;
	cursor: hand;
	color: #000000;
	border-top-style: none;
	padding-top: 3px;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	border-right-style: none;
	border-left-style: none;
	background-color: #cccccc;
	text-align: center;
	text-decoration: none;
	border-bottom-style: none;
}

A.StandardButtonTable:hover
{
	padding-right: 9px;
	padding-left: 9px;
	font-weight: bold;
	font-size: 12px;
	padding-bottom: 3px;
	width: 150px;
	cursor: hand;
	color: #ffffff;
	border-top-style: none;
	padding-top: 3px;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	border-right-style: none;
	border-left-style: none;
	background-color: #FFD60D;
	text-align: center;
	text-decoration: none;
	border-bottom-style: none;
}

A.StandardButtonTable:active
{
	padding-right: 9px;
	padding-left: 9px;
	font-weight: bold;
	font-size: 12px;
	padding-bottom: 3px;
	width: 150px;
	cursor: hand;
	color: #000000;
	border-top-style: none;
	padding-top: 3px;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	border-right-style: none;
	border-left-style: none;
	background-color: #cccccc;
	text-align: center;
	text-decoration: none;
	border-bottom-style: none;
}

.StandardButtonSmall
{
	font-weight: bold;
	font-size: 12px;
	width: 75px;
	cursor: hand;
	color: #000000;
	border-top-style: none;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	border-right-style: none;
	border-left-style: none;
	height: 15px;
	background-color: #cccccc;
	text-align: center;
	text-decoration: none;
	border-bottom-style: none;
}

A.StandardButtonSmall
{
	padding-right: 9px;
	padding-left: 9px;
	font-weight: bold;
	font-size: 12px;
	padding-bottom: 3px;
	width: 75px;
	cursor: hand;
	color: #000000;
	border-top-style: none;
	padding-top: 3px;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	border-right-style: none;
	border-left-style: none;
	background-color: #cccccc;
	text-align: center;
	text-decoration: none;
	border-bottom-style: none;
}

A.StandardButtonSmall:visited
{
	padding-right: 9px;
	padding-left: 9px;
	font-weight: bold;
	font-size: 12px;
	padding-bottom: 3px;
	width: 75px;
	cursor: hand;
	color: #000000;
	border-top-style: none;
	padding-top: 3px;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	border-right-style: none;
	border-left-style: none;
	background-color: #cccccc;
	text-align: center;
	text-decoration: none;
	border-bottom-style: none;
}

A.StandardButtonSmall:hover
{
	padding-right: 9px;
	padding-left: 9px;
	font-weight: bold;
	font-size: 12px;
	padding-bottom: 3px;
	width: 75px;
	cursor: hand;
	color: #ffffff;
	border-top-style: none;
	padding-top: 3px;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	border-right-style: none;
	border-left-style: none;
	background-color: #FFD60D;
	text-align: center;
	text-decoration: none;
	border-bottom-style: none;
}

A.StandardButtonSmall:active
{
	padding-right: 9px;
	padding-left: 9px;
	font-weight: bold;
	font-size: 12px;
	padding-bottom: 3px;
	width: 75px;
	cursor: hand;
	color: #000000;
	border-top-style: none;
	padding-top: 3px;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	border-right-style: none;
	border-left-style: none;
	background-color: #cccccc;
	text-align: center;
	text-decoration: none;
	border-bottom-style: none;
}

.StandardTableHead
{
	font-weight: bold;
	font-size: 14px;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	background-color: #f5f5f5;
}

.StandardTableAlternate
{
	font-weight: bold;
	font-size: 12px;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	background-color: #f5f5f5;
}

.MainmenuItemAlternate
{
	padding-right: 3px;
	padding-left: 3px;
	font-weight: bold;
	font-size: 12px;
	padding-bottom: 3px;
	padding-top: 3px;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	background-color: #f5f5f5;
	height: 28px;
}

.MainmenuItem
{
	padding-right: 3px;
	padding-left: 3px;
	font-weight: bold;
	font-size: 12px;
	padding-bottom: 3px;
	padding-top: 3px;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	height: 28px;
}

.MainmenuItemCommentAlternate
{
	padding-right: 3px;
	padding-left: 3px;
	font-size: 12px;
	padding-bottom: 3px;
	padding-top: 3px;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	background-color: #f5f5f5;
}

.MainmenuItemComment
{
	padding-right: 3px;
	padding-left: 3px;
	font-size: 12px;
	font-weight: normal;
	padding-bottom: 3px;
	padding-top: 3px;
	font-family: Arial, Verdana, Helvetica, sans-serif;
}

.TextMainHeader
{
	font-weight: bold;
	font-size: 18px;
	text-align: center;
}

.TextHeader
{
	padding-right: 5px;
	padding-left: 5px;
	font-weight: bold;
	font-size: 15px;
	padding-bottom: 5px;
	padding-top: 5px;
}

.TextExtraLarge 
{
	font-weight: bold;
    FONT-SIZE: 14px;
}

.TextSmallHeader {
    FONT-SIZE: 12px;
    text-decoration: underline;
}

.TextLarge
{
	font-weight: bold;
	font-size: 12px;
}

.TextNormal
{
	font-size: 12px;
}

.TextError
{
	padding-right: 5px;
	padding-left: 5px;
	font-weight: bold;
	font-size: 14px;
	padding-bottom: 5px;
	color: red;
	padding-top: 5px;
}

.InfoBoxFlat
{
	background-color: #f5f5f5;
	border-style: solid ;
	border-color: DarkGray ;
	border-width: 1px;
}

.PageNavigation
{
	padding-right: 4px;
	padding-left: 4px;
	font-weight: bold;
	font-size: 12px;	
	padding-bottom: 4px;
	color: #000000;
	padding-top: 4px;
	
	background-image:url(/PortalORM/Images/PageNavBack.jpg);
	border-bottom-style:solid; 
	border-top-style:solid;
	border-bottom-width:thin;
	border-top-width:thin;	
	border-top-color:#C3C3C3;
	border-bottom-color:#C3C3C3;
}

.PageNavigation A:link
{
	color: #000000;
}

.PageNavigation A:visited
{
	color: #000000;
}

.LabelExtraLarge
{
	padding-right: 5px;
	padding-left: 5px;
	font-weight: bold;
	font-size: 14px;
	padding-bottom: 5px;
	padding-top: 5px;
}

.PagerStyle
{
	font-size: 14px;
	background-color: #ffffff;
	text-align: left;
}

.TaskTitle
{
	padding-right: 5px;
	padding-left: 5px;
	font-weight: bold;
	font-size: 12px;
	padding-bottom: 5px;
	color: #000000;	/*Überschriften*/
	padding-top: 5px;
	background-color: #FFD60D;
}

.InputRight
{
	text-align: right;
}

.GridTableHeadSub
{
	font-weight: bold;
	font-size: 12px;
	color: #000000;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	background-color: #cccccc;
}

.GridTableHighlight
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	background-color: #696969;
}



.tableLogin {
	background-color: #bababa;
	background-image: url(/PortalORM/Images/backgroundImage.gif);
	background-position: 0px 0px;
	background-repeat: repeat-x;
	font-family: Verdana, sans-serif;
	font-size: 10px;
	margin-top: 2px;
}
