@{
    ViewBag.Title = "Login - " + Localize.PasswordChange;
    ViewBag.BodyCssClass = "login";
    Layout = "~/Views/Shared/_LayoutSimple.cshtml";
}
@model LoginViewModel 


@Html.Partial("Partial/Common") 

<div id="DivLogin" class="content">
    @Html.Partial("Partial/Logo") 
    <div class="alert alert-error margin-top-10">
        <i class="icon-bell margin-right-5"></i>
        @Localize.PasswordResetLinkInvalid
    </div>
</div>

@Html.Partial("Partial/Scripts") 

