@{
    ViewBag.Title = "Info";
}

<h2>Info</h2>
<p>
     Legen Sie hier Inhalt ab.
</p>

<ul data-role="listview" data-inset="true">
    <li data-role="list-divider">Navigation</li>
    <li>@Html.ActionLink("Startseite", "Selection", "Home")</li>
    <li>@Html.ActionLink("Kontakt", "Contact", "Home")</li>
</ul>