<?xml version="1.0"?>
<configuration>
    
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TransferEasyArchivDocsToTwoS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>

    <appSettings>
        <add key="DocumentSourcePath" value="c:\temp\twos_test\"/>
        <add key="AuthKey" value="EmTP3uXJqZd4fDHY6pLiHvc7tLESoTXBD7JZzahXxorbfjJuYjRpftsToFskVxmwCv5wF3hcq6JMJpHVANSXcnaDF9zDS6cRwH7ydZU6LWebKBVjmGrrPEFUS5EcFJk7"/>
        <add key="WaitAfterCompletion" value="true"/>
        
        <!--Logging-->
        <add key="Logs" value="server=192.168.33.33;User Id=LogUser;password=seE@Anemone;Persist Security Info=True;database=LogsDev" />
        <add key="LogTableName" value="WebServiceTrafficTwoS" />
    </appSettings>
        
    <startup>
        <supportedRuntime version="v2.0.50727"/>
    </startup>
        
    <applicationSettings>
        <TransferEasyArchivDocsToTwoS.Properties.Settings>
            <setting name="TransferEasyArchivDocsToTwoS_de_twosales_web10_upload_Service"
                serializeAs="String">
                <!--TEST-->
                <value>https://web10.two-sales.de/WebServices/DAD/index.php</value>
                <!--PROD-->
                <!--<value>https://web01.two-sales.de/WebServices/DAD/index.php</value>-->
            </setting>
        </TransferEasyArchivDocsToTwoS.Properties.Settings>
    </applicationSettings>
        
</configuration>
