@model dynamic[]

@{
    var addressType = (string)Model[0];
    var addressSelectionAvailable = (bool)Model[1];
    var addressEditAvailable = (bool)Model[2];
}

<br />
@if (addressSelectionAvailable)
{
    <a href="#" onclick="return AjaxFormAdressenShowGrid('@addressType')" class="btn white mini"><i class="icon-search"></i> Suchen</a>
}
@if (addressEditAvailable)
{
    <a href="#" onclick="return AjaxFormAdresseEdit('@addressType')" class="btn white mini"><i class="icon-pencil"></i> Bearbeiten</a>
}
<div class="SummaryAddressHint">
    @Html.SpanAlert(@addressType, "mini")
</div>