@using CkgDomainLogic.Insurance.ViewModels
@model VersEventsViewModel

<div>
    
    <h4>Box: @Model.TerminCurrent.Box.BoxName</h4>
    <h4>Datum: @Model.TerminCurrent.Datum.ToString("d")</h4>
    <h4>Von @Model.TerminCurrent.DatumZeitVon.ToString("HH:mm")</h4>
    <h4>Bis @Model.TerminCurrent.DatumZeitBis.ToString("HH:mm")</h4>

</div>

<script type="text/javascript">
   
</script>