@using CkgDomainLogic.Equi.Models
@{
    var gridName = "GridVersandBeauftragungen";
}

<div id="VersandBeauftragungenSelectedCount" class="alert alert-success hide">
    <i class="icon-check"></i><span class="padding-left-5 bold"></span>
    <button type="submit" class="btn red mini margin-left-20" onclick="GridVersandBeauftragungen_DeleteSelectedRecords()"><i class='icon-remove'></i>&nbsp;Datensätze löschen</button>
</div>


@(Html.XTelerik()
    .XGrid<Fahrzeugbrief>()
    .Name(gridName)

    .XAjaxDataBinding("VersandBeauftragungenAjaxBinding", "Equip")
    .Columns(columns =>
        {
            columns.XBound("")
                .ClientTemplate("<input type='checkbox' name='checkedRecords' <# if (data.IsSelected) { #> checked <# } #> value='<#= data.Fahrgestellnummer #>' onchange='GridVersandBeauftragungen_OnSelectionChange($(this))' />")
                .HeaderTemplate("<input type='checkbox' id='uncheckAllRecords' onchange='GridVersandBeauftragungen_OnAllSelectionChange($(this))' />")
                .Filterable(false).Sortable(false);
            columns.XBound(c => c.Vertragsnummer);
            columns.XBound(c => c.Kennzeichen);
            columns.XBound(c => c.Fahrgestellnummer);
            columns.XBound(c => c.VersandAdresse);
        })
    .XAutoColumnConfiguration()
    .ClientEvents(events => events.XAutoClientEvents(gridName))
    .XPageSize(10)
    .XSort(sortOrder => sortOrder.Add(c => c.Equipmentnummer).Descending())
    .XToolBar("Equip")
)

