@model CkgDomainLogic.DomainCommon.ViewModels.WeatherViewModel

@Html.Partial("Partial/Common")

<style type="text/css">
    .wd-day {
        width: 75px;
        display: inline-block;
        margin: 5px 0 15px 0;
        text-align: center;
    }

    .day-info {
        margin: 0 0 15px 0;
    }
    .day-info div.day {
        font-size: 1.0em;
        color: #808080!important;
    }
    .day-info div.wkday {
        font-size: 1.5em;
        font-weight: bold;
    }

    .temp-info {
        margin: 0 0 10px 0;
    }
    .temp-info hr {
        margin: 2px 0 2px -3px; 
    }
    .temp-info div.tlabel {
        color: #808080!important;
        display: inline-block;
        width: 30px;
        text-align: left;
    }
    .temp-info div.tlabel-degree {
        display: inline-block;
        vertical-align: 4px;
        font-size: 1.5em;
    }
    .temp-info div.celsius {
        display: inline-block;
        width: 30px;
        text-align: right;
        font-weight: bold;
        font-size: 1.5em;
    }
    .temp-info div {
        color: green;
    }
    .temp-info div.leq-zero * {
        color: blue;
    }

</style>


<h3 class="page-title">Weather <small>Widget</small></h3>

<div id="wd-template" class="">
    <div class="wd-day">
        
        <div class="day-info">
            <div class="day">
            </div>
            <div class="wkday">
            </div>
        </div>

        <div class="temp-info">
            <div class="max-info">
                <div class="tlabel">max</div> <div class="celsius"></div><div class="tlabel-degree">°</div>
            </div>
            <hr/>
            <div class="min-info">
                <div class="tlabel">min</div> <div class="celsius"></div><div class="tlabel-degree">°</div>
            </div>
        </div>

        <div class="picture">
            <img src=""/>
        </div>

    </div>
</div>


<script type="text/javascript">
    
    function FormPreparePrivate() {
        PrepareWeatherWidget("hamburg,de");
    }

    function FormPreparePrivateAjax() {
        FormPrepareAjax();
    }

    function PrepareWeatherWidget(cityAndCountry) {

        var imagePath = '@Url.ContentArea("Content/Weather/images/")';

        $.ajax(
            {
                type: "POST",
                url: "PrepareWeatherWidget",
                data: { cityAndCountry: cityAndCountry },
                loadingShow: false,
                success: function (result) {

                    var wd = result.data.list[0];
                    //$("#test").html(result.data.city.name);

                    console.log(wd);

                    var minTemperature = toCelsiusTemperature(wd.main.temp_min);
                    var maxTemperature = toCelsiusTemperature(wd.main.temp_max);

                    $(".wd-day .day-info div.day").html("Mi, 13.01.");
                    $(".wd-day .day-info div.wkday").html("heute");

                    $(".wd-day .min-info div.celsius").html(minTemperature).parent().addClass(minTemperature <= 0 ? "leq-zero" : "");
                    $(".wd-day .max-info div.celsius").html(maxTemperature).parent().addClass(maxTemperature <= 0 ? "leq-zero" : "");

                    $(".wd-day .picture img").attr("src", imagePath + wd.weatherFirst.icon + ".png");

                }
            });

        return false;
    }

    function toCelsiusTemperature(kelvin) {
        var celsius = Math.round(parseFloat(kelvin)) - 273.0;

        return celsius;
    }

</script>