@model CkgDomainLogic.DomainCommon.ViewModels.WeatherViewModel

@Html.Partial("Partial/Common")

<style type="text/css">
    .wd-day {
        float: left;
        font-size: 0.7em;
        display: inline-block;
        margin: 5px 0 15px 20px;
        text-align: center;
    }
    #wd-0 .wd-day {
        margin-left: 0;
    }

    .day-info {
        margin: 0 0 2px 0;
    }
    .day-info div.day {
        font-size: 1.0em;
        color: #808080!important;
    }
    .day-info div.wkday {
        font-size: 1.3em;
        font-weight: bold;
        margin: 0 0 0 0;
    }

    .temp-info {
        margin: 0 0 -7px 0;
    }
    .temp-info hr {
        margin: -1px 0 -3px -1px; 
    }
    .temp-info div.tlabel {
        color: #808080!important;
        display: inline-block;
        font-size: 0.95em;
        width: 6px;
        text-align: left;
    }
    .temp-info div.tlabel-degree {
        display: inline-block;
        vertical-align: 2px;
        font-size: 1.5em;
    }
    .temp-info div.celsius {
        display: inline-block;
        width: 30px;
        text-align: right;
        font-weight: bold;
        font-size: 1.5em;
    }
    .temp-info div {
        color: green;
    }
    .temp-info div.leq-zero * {
        color: blue;
    }

</style>


<h3 class="page-title">Weather <small>Widget</small></h3>


<input id="tb-cities" class="m-wrap medium ui-autocomplete-input" type="text" />

<div id="wd-content" class="hide">
</div>

<div id="wd-template" class="hide">
    <div class="wd-day">

        <div class="day-info">
            <div class="day">
            </div>
            <div class="wkday">
            </div>
        </div>

        <div class="temp-info">
            <div class="max-info">
                <div class="tlabel">max</div> <div class="celsius"></div><div class="tlabel-degree">°</div>
            </div>
            <hr />
            <div class="min-info">
                <div class="tlabel">min</div> <div class="celsius"></div><div class="tlabel-degree">°</div>
            </div>
        </div>

        <div class="picture">
            <img src="" />
        </div>

    </div>
</div>


<script type="text/javascript">

    function FormPreparePrivate() {
        InitCityControl();

        //PrepareWeatherWidget("hamburg,de");
        //PrepareWeatherCityDropdown("de");
    }

    function FormPreparePrivateAjax() {
        FormPrepareAjax();
    }

    function InitCityControl() {
        console.log("test-1");
        $('#tb-cities').select2({
            ajax: {
                url: "PrepareWeatherCityDropdown",
                dataType: 'json',
                type: 'POST',
                data: function (params) {
                    return {
                        city: params.term, // search term
                        page: params.page
                    };
                },
                processResults: function (result, params) {
                    // parse the results into the format expected by Select2
                    // since we are using custom formatting functions we do not need to
                    // alter the remote JSON data, except to indicate that infinite
                    // scrolling can be used
                    params.page = params.page || 1;

                    return {
                        results: result.data,
                        pagination: {
                            more: (params.page * 30) < result.data.length
                        }
                    };
                },
                cache: true
            },
            escapeMarkup: function (markup) { return markup; },
            minimumInputLength: 1,
            templateResult: function(c) {
                //if (repo.loading) return repo.text;

                var markup = "<div class='select2-result-repository clearfix'>" +
                    "<div class='select2-result-repository__title'>" + c.name + "</div>" +
                    "</div>";

                //alert(markup);

                return markup;
            },
            templateSelection: function (c) { return c.name; }
    });

        console.log("test-2");

        //setTimeout(function () {
        //    $('#city-dropdown').data('select2').open();
        //}, 100);
    }

    function OnCityChanged(city) {
        alert(city);
    }

    function PrepareWeatherCityDropdown(country) {
        console.log(country);
        $.ajax(
            {
                type: "POST",
                url: "PrepareWeatherCityDropdown",
                data: { country: country },
                loadingShow: false,
                success: function (result) {
                    $('#city-dropdown').empty();
                    $(result.data).each(function () {

                        var option = $('<option />');
                        option.attr('value', this._id).text(this.name);

                        $('#city-dropdown').append(option);
                    });
                }
            });
    }

    function PrepareWeatherWidget(cityAndCountry) {

        var imagePath = '@Url.ContentArea("Content/Weather/images/")';

        $.ajax(
            {
                type: "POST",
                url: "PrepareWeatherWidget",
                data: { cityAndCountry: cityAndCountry },
                loadingShow: false,
                success: function (result) {

                    for (var i = 0; i < result.data.list.length; i++) {  
                        var wd = result.data.list[i];
                        //console.log(wd);

                        var content = $("#wd-template").clone();
                        content.removeClass("hide");
                        content.attr("id", "wd-" + i);
                        $("#wd-content").append(content);

                        var minTemperature = toCelsiusTemperature(wd.main.temp_min) - 20;
                        var maxTemperature = toCelsiusTemperature(wd.main.temp_max) + 20;

                        $("#wd-" + i + " .wd-day .day-info div.day").html(wd.dateHeaderTop);
                        $("#wd-" + i + " .wd-day .day-info div.wkday").html(wd.dateHeaderBottomBold);

                        $("#wd-" + i + " .wd-day .min-info div.celsius").html(minTemperature).parent().addClass(minTemperature <= 0 ? "leq-zero" : "");
                        $("#wd-" + i + " .wd-day .max-info div.celsius").html(maxTemperature).parent().addClass(maxTemperature <= 0 ? "leq-zero" : "");

                        $("#wd-" + i + " .wd-day .picture img").attr("src", imagePath + wd.weatherFirst.icon + ".png");
                    }

                    $("#wd-content").removeClass("hide");
                }
            });

        return false;
    }

    function toCelsiusTemperature(kelvin) {
        var celsius = Math.round(parseFloat(kelvin)) - 273.0;

        return celsius;
    }

</script>
