@using CkgDomainLogic.Leasing.ViewModels
@model LeasingAbweichWiedereingangViewModel
<style>
    .m-wrap.tiny {
        width: 30px;
    }
</style>
<h3 class="page-title" id="headerTitle">@Localize.AbweichungWiedereingang <small></small></h3>
<p id="lblError"></p>
@section LayoutScript { _controlGroupValidationType = "individual"; }

@using (Html.FormSearchBox())
{
    @Html.Partial("AbweichWiedereingang/Suche", Model.Selektor)
}

@using (Html.FormSearchResultsGrid())
{
    <div id="divGrid"></div>
}
<script type="text/javascript">

    var _modelStateValid = false;

    function FormPreparePrivate() {
    }

    function FormPreparePrivateAjax() {
        FormPrepareAjax();
    }

    function GetGrid() {
        return $("#GridAbweichendeWiedereingaenge").data("tGrid");
    }

    function GridLoadingHide() {
        // needed for chrome browser: Explicitely hide grids loading icon on multiple subsequent grid ajax requests (because of filter control initializing)
        setTimeout('$("#GridAbweichendeWiedereingaengeItems .t-grid-pager .t-status .t-icon").removeClass("t-loading")', 500);
    }

    function GridRefresh() {
        GetGrid().ajaxRequest();
    }

    function OnDataBound_GridAbweichendeWiedereingaenge() {
        FilteredData_Grid_OnDataBound($(this));
        $('.tooltips').tooltip();
    }

    function OnColumnShowHide_GridAbweichendeWiedereingaenge() {
        FilteredData_Grid_OnColumnShowHide($(this));
    }

    function OnColumnReorder_GridAbweichendeWiedereingaenge() {
        FilteredData_Grid_OnColumnReorder($(this));
    }

    function ShowAbweichendeWiedereingaengeSearchResult(result) {
        SearchFormHide();
        $("#divGrid").html(result);
        GridAllColumnFilterApplyToGrid("GridAbweichendeWiedereingaenge");
        $("#divGrid").slideDown();
    }


</script>
