@model LeasingEndgueltigerVersandViewModel
@using CkgDomainLogic.Leasing.ViewModels

@{
    ViewBag.Title = "EndgueltigerVersand";
}

<h3 class="page-title" id="headerTitle">Nachträglicher endgültiger Versand</h3>

@using (Html.FormSearchBox())
{
    @Html.Partial("EndgueltigerVersand/EndgueltigerVersandSuche", Model.EndgueltigerVersandSelektor)
}

<div style="margin-bottom: 15px">
    <span id="result" class="alert alert-success margin-left-15 hide">
        <i class="icon-check"></i><span class="padding-left-5 bold"></span>

    </span>
</div>
@using (Html.FormSearchResultsGrid())
{
    <div id="divGrid"></div>

}

<script type="text/javascript">

    var _modelStateValid = 'false';

    function FormPreparePrivateAjax() {
        FormPrepareAjax();
    }

    function FormPreparePrivate() {}

    function ShowEndgueltigerVersandSearchResult(result) {
        SearchFormHide();
        $("#divGrid").html(result);

        // move our grid filter form into grid's toolbar:
        GridAllColumnFilterApplyToGrid("GridEndgueltigerVersand");
        //alert('1');
        $("#divGrid").slideDown();
        //alert('2');
    }


    function OnDataBound_GridEndgueltigerVersand() {
        FilteredData_Grid_OnDataBound($(this));
        jQuery('.tooltips').tooltip();
        LoadingHide();
    }

    function OnColumnShowHide_GridEndgueltigerVersand() {
        FilteredData_Grid_OnColumnShowHide($(this));
    }

    function OnColumnReorder_GridEndgueltigerVersand() {
        FilteredData_Grid_OnColumnReorder($(this));
    }



</script>