@using CkgDomainLogic.General.Contracts
@model IApplicationUserMenuItem

@{
    var logonContext = (ILogonContextDataService)SessionHelper.GetSessionObject("LogonContext");
}

@{
    Layout = null;
}


@if (logonContext.TranslateMenuAppName(Model).ToUpper() == "KROSCHKE CLEVER")
{
    <i class="icon-search"></i>
}
else
{
    <span>  </span>
}
