
<!-- Tools, export options, etc -->
<div class="outer-export-menu btn-group pull-right margin-left-15">
    <a class="outer-export-link-excel" title="Excel Export" href="#"><i class="menu-item excel-export">Excel</i></a>
    <a class="outer-export-link-pdf" title="PDF Export" href="#"><i class="menu-item pdf-export">PDF</i></a>
</div>
