@model CkgDomainLogic.General.Contracts.ILogonContextDataService

@if (Model != null)
{
    <ul class="nav pull-right">
        @{ViewBag.HeaderIconCssClass = "icon-globe";}
        @Html.Partial("Partial/UserLanguageSwitch")

        @if (Model.MaintenanceInfo != null)
        {
            @Html.Partial("Partial/UserMenuMessagesDropdown", Model.MaintenanceInfo)
        }

        @Html.Partial("Partial/UserMenuUserInfoDropdown")

        <!-- BEGIN RESPONSIVE MENU TOGGLER -->
        <li>
            <a href="javascript:;" class="btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">
                <img src="~/assets/img/menu-toggler.png" alt="" />
            </a>
        </li>          
        <!-- END RESPONSIVE MENU TOGGLER -->            

        <li class="logout"><a href="javascript:UserLogout()">Log Out</a></li>
    </ul>
}


<script type="text/javascript">
    $(".userbild").each(function (i, obj) {

        //alert("");
        
        var clone;
        var position;
        clone = $(obj).clone();
        $(clone).addClass("clonedItem");
        position = $(obj).position();

        $(obj).bind("mouseover", function (e) {

            $(".clonedItem").animate({
                height: "50px",
                width: "50px"
            }, 200, function () { $(this).remove(); });

            $("#divUserbild").css("z-index", 1);
            $(clone).css("top", position.top).css("left", position.left).css("z-index", 1000);

            $(clone).appendTo("#divUserbild").css("position", "absolute").animate({
                height: "200px",
                width: "200px"
            }, 200, function () {

                $(clone).bind("mouseout", function (e) {
                    $(clone).animate({
                        height: "50px",
                        width: "50px"
                    }, 200, function () { $(clone).remove(); });

                }); // end mouseout

            }); // end animate callback

        }); // end mouseover
    }); // end each



</script>