@using CkgDomainInternal.Verbandbuch.Models;
@using CkgDomainInternal.Verbandbuch;

@model VerbandbuchModel



<h3 class="page-title" id="headerTitle">Verbandbuch <small></small></h3>

@Html.SpanAlert("spanMessage")

<div>
    @Html.Partial("Partial/FormErfassung")
</div>