<?xml version="1.0"?>

<!--
  Weitere Informationen zur Konfiguration der ASP.NET-Anwendung finden Sie unter
  "http://go.microsoft.com/fwlink/?LinkId=169433".
  -->

<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="UPSTrackingWrapperService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>

    <appSettings>
        <!--TEST/PROD, entsprechend werden dann URL und Zertifikat gesetzt-->
        <add key="UPS_Zielsystem" value="PROD"/>
        <add key="UPS_Username" value="DADAhrensburg" />
        <add key="UPS_Password" value="DAD#092015" />
        <add key="UPS_AccessKey" value="2CF910231D9BF298" />
        <!--Logging-->
        <add key="Logs" value="server=192.168.33.33;User Id=LogUser;password=seE@Anemone;Persist Security Info=True;database=LogsDev" />
        <add key="LogTableName" value="WebServiceTrafficUps" />
    </appSettings>

    <connectionStrings />

  <system.web>
    <compilation debug="true" targetFramework="4.0" />

      <authentication mode="Windows" />

    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>

    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>

  </system.web>

  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <applicationSettings>
    <UPSTrackingWrapperService.Properties.Settings>
      <setting name="UPSTrackingWrapperService_UPSTrack_TrackService"
        serializeAs="String">
        <value>https://wwwcie.ups.com/webservices/Track</value>
      </setting>
    </UPSTrackingWrapperService.Properties.Settings>
  </applicationSettings>
</configuration>
