
<div class="hide dashboard-item-row-span-dropdown-menu">

    <h5>Gewünschte Widget Größe:</h5>
    <a class="row-span-item-1" href="#">1 Zeile</a>
    <a class="row-span-item-2" href="#">2 Zeilen</a>
    <a class="row-span-item-3" href="#">3 Zeilen</a>

    <a class="row-span-item-cancel" href="#">Abbrechen</a>

</div>