@using CkgDomainLogic.Fahrzeugbestand.ViewModels
@model FahrzeugbestandViewModel

<h3 class="page-title" id="headerTitle">
    <button id="closeFahrzeugDetails" onclick="CloseFahrzeugDetails();" class='btn mini red margin-right-20 hide'><i class='icon-chevron-left margin-right-5'></i>@Localize.Back</button>
    Fahrzeugakte + Bestand <small>Pflege</small>
</h3>

@using (Html.FormSearchBox())
{
    @Html.Partial("Partial/FahrzeugAkteBestandSuche", Model.FahrzeugAkteBestandSelektor)
}

<div id="divSearchAndGrid">
    @using (Html.FormSearchResultsGrid())
    {
        <div id="divGrid"></div>
    }
</div>
<div id="divFahrzeugDetails"></div>

<script type="text/javascript">

    var _modelStateValid = 'false';

    function FormPreparePrivate() {
        setTimeout(function () {
            $("#FahrzeugAkteBestandForm").submit();
        }, 100);
    }

    function FormPreparePrivateAjax() {
        FormPrepareAjax();
    }

    function ShowFahrzeugAkteBestandGrid() {

        FormPreparePrivateAjax();

        $.ajax({
            type: "POST",
            url: "ShowFahrzeugAkteBestandGrid",
            loadingShow: true,
            success: function (result) {

                SearchResultsTryHide();

                if (_modelStateValid) {
                    ShowFahrzeugAkteBestandSearchResult(result);
                    //return;
                }

                LoadingHide();
            }
        });
    }

    function ShowFahrzeugAkteBestandSearchResult(result) {
        SearchFormHide();
        $("#divGrid").html(result);

        // move our grid filter form into grid's toolbar:
        GridAllColumnFilterApplyToGrid("GridFahrzeugAkteBestand");

        $("#divGrid").slideDown();
        $("#divHistorie").html('');
    }

    function FahrzeugShowAjax(finID) {
        FahrzeugShowCreateAjax(finID);
    }

    function FahrzeugCreateAjax() {
        FahrzeugShowCreateAjax(null);
    }
    
    function FahrzeugShowCreateAjax(finID) {
        $.ajax({
            type: "POST",
            url: "ShowFahrzeugAkteBestandDetails",
            data: { finID: finID },
            loadingShow: true,
            success: function (result) {
                ShowFahrzeugDetails(result);
                LoadingHide();
            }
        });
    }

    function ShowFahrzeugDetails(result) {
        $("#divFahrzeugDetails").html(result);
        $("#divSearchAndGrid").slideUp();
        $("#divFahrzeugDetails").slideDown();
        setTimeout(function () { $("#CloseFahrzeugDetails").show(); }, 600);
        FormPrepareAjax();
    }

    function CloseFahrzeugDetails() {
        $("#closeFahrzeugDetails").hide();
        setTimeout(function () {
            $("#divFahrzeugDetails").slideUp();
            $("#divSearchAndGrid").slideDown();
            setTimeout('LoadingHide();', 500);
        }, 150);
    }

    function TryCloseFahrzeugDetails() {
        if (_modelStateValid) {
            CloseFahrzeugDetails();
            FilterGrid("GridFahrzeugAkteBestand");
        }
    }

    function OnDataBound_GridFahrzeugAkteBestand() {
        FilteredData_Grid_OnDataBound($(this));
        jQuery('.tooltips').tooltip();
        LoadingHide();
    }

    function OnColumnShowHide_GridFahrzeugAkteBestand() {
        FilteredData_Grid_OnColumnShowHide($(this));
    }

    function OnColumnReorder_GridFahrzeugAkteBestand() {
        FilteredData_Grid_OnColumnReorder($(this));
    }

</script>
