@using CkgDomainLogic.Fahrzeugbestand.ViewModels
@model FahrzeugbestandViewModel

<style type="text/css">
    input[type="text"][readonly="readonly"] { border:0; font-weight: bold; }
</style>

<h3 class="page-title" id="headerTitle">
    Fahrzeugakte + Bestand <small>Pflege</small>
</h3>

<div id="divSearchAndGrid">
    @using (Html.FormSearchBox())
    {
        @Html.Partial("Partial/FahrzeugAkteBestandSuche", Model.FahrzeugAkteBestandSelektor)
    }

    @using (Html.FormSearchResultsGrid())
    {
        <div id="divGrid"></div>
    }
</div>
<div id="divFahrzeugDetails"></div>

<script type="text/javascript">

    var _modelStateValid = 'false';

    function FormPreparePrivate() {
        setTimeout(function () {
            $("#FahrzeugAkteBestandForm").submit();
        }, 100);
    }

    function FormPreparePrivateAjax() {
        FormPrepareAjax();
    }

    function ShowFahrzeugAkteBestandGrid() {

        FormPreparePrivateAjax();

        $.ajax({
            type: "POST",
            url: "ShowFahrzeugAkteBestandGrid",
            loadingShow: true,
            success: function (result) {

                SearchResultsTryHide();

                if (_modelStateValid) {
                    ShowFahrzeugAkteBestandSearchResult(result);
                    //return;
                }

                LoadingHide();
            }
        });
    }

    function ShowFahrzeugAkteBestandSearchResult(result) {
        SearchFormHide();
        $("#divGrid").html(result);

        // move our grid filter form into grid's toolbar:
        GridAllColumnFilterApplyToGrid("GridFahrzeugAkteBestand");

        $("#divGrid").slideDown();
        $("#divHistorie").html('');
    }

    function FahrzeugShowAjax(fin) {
        FahrzeugShowCreateAjax(fin);
    }

    function FahrzeugCreateAjax() {
        FahrzeugShowCreateAjax(null);
    }
    
    function FahrzeugShowCreateAjax(fin) {
        $.ajax({
            type: "POST",
            url: "ShowFahrzeugAkteBestandDetails",
            data: { finToLoad: fin },
            loadingShow: true,
            success: function (result) {
                ShowFahrzeugDetails(result);
                LoadingHide();
            }
        });
    }

    function ShowFahrzeugDetails(result) {
        $("#divFahrzeugDetails").html(result);
        SetFahrzeugakteFormToReadOnly(true);
        $("#divSearchAndGrid").slideUp();
        $("#divFahrzeugDetails").slideDown();
        FormPrepareAjax();
    }

    var _finSearchFahrzeugFinID = '';

    function ShowFahrzeugDetailsComingFromFinSearch(result) {
        $("#divFahrzeugDetails").html(result);
        SetFahrzeugakteFormToReadOnly(_finSearchFahrzeugFinID != '');
        FormPrepareAjax();
    }

    function CloseFahrzeugDetails() {
        setTimeout(function () {
            $("#divFahrzeugDetails").slideUp();
            $("#divSearchAndGrid").slideDown();
            setTimeout('LoadingHide();', 500);
        }, 150);
    }

    function FinSearchTryLoadFahrzeugDetails() {
        if (!_modelStateValid) {
            FormPrepareAjax();
            return;
        }

        $.ajax({
            type: "POST",
            url: "ShowFahrzeugAkteBestandDetails",
            data: { finToLoad: "useModelFin" },
            loadingShow: true,
            success: function (result) {
                ShowFahrzeugDetailsComingFromFinSearch(result);
                LoadingHide();
            }
        });
    }

    function TryCloseFahrzeugDetails() {
        SetFahrzeugakteFormToReadOnly(true);
        if (_modelStateValid) {
            CloseFahrzeugDetails();
            FilterGrid("GridFahrzeugAkteBestand");
            return;
        }
        FormPrepareAjax();
    }

    function SetFahrzeugakteFormToReadOnly(readonly) {
        $("#fahrzeug-akte input[type=text]").attr("readonly", readonly);
        $("#fahrzeug-akte input[name='FIN']").attr("readonly", true);
    }


    function OnDataBound_GridFahrzeugAkteBestand() {
        FilteredData_Grid_OnDataBound($(this));
        jQuery('.tooltips').tooltip();
        LoadingHide();
    }

    function OnColumnShowHide_GridFahrzeugAkteBestand() {
        FilteredData_Grid_OnColumnShowHide($(this));
    }

    function OnColumnReorder_GridFahrzeugAkteBestand() {
        FilteredData_Grid_OnColumnReorder($(this));
    }

</script>
