<h3 class="page-title">Test <small>Adressenpflege</small> </h3>

@Html.Partial("AdressenPflege/AdresseCommon")
@Html.Partial("Partial/Common")


<div class="portlet">
    <div id="divGridEditStart">
    
        @Html.Partial("AdressenPflege/AdressenGrid")

    </div>
</div>

<div id="divGridItemDetails"></div>
