@model CkgDomainLogic.Autohaus.ViewModels.KroschkeZulassungViewModel

<style type="text/css">

</style>

<h3>
    @Localize.SpecialRegistration <small>Home</small>
</h3>

<div class="form-wizard portlet app-view hidden-on-shopping-cart-opened">
    @Html.FormWizard("icon-file", "", Model.StepFriendlyNames, Model.StepKeys, stepTitlesInNewLine: true)
    <div id="formWizardTab1" class="hide">
        @Html.Partial("Partial/" + Model.FirstStepPartialViewName)
    </div>
</div>
