@model CkgDomainLogic.Autohaus.ViewModels.EsdBeauftragungViewModel

<h3 class="page-title" id="headerTitle">@Localize.Autohaus_EsdAnforderung <small></small></h3>

<div id="divKopf">
    @Html.Partial("Partial/FormKopf", Model)
</div>

<div id="divDetails"></div>

<div id="divReceipt"></div>

<script type="text/javascript">

    var _modelStateValid = false;

    function FormPreparePrivate() {
    }

    function FormPreparePrivateAjax() {
        FormPrepareAjax();
    }

    function ShowDetailsForm(countryCode) {
        FormPreparePrivateAjax();

        $.ajax({
            type: "POST",
            url: "ShowDetailsForm",
            loadingShow: true,
            data: { countryCode: countryCode },
            success: function (result) {
                ShowDetails(result);
                LoadingHide();
            }
        });

        return false;
    }

    function ShowDetails(result) {
        $("#divKopf").slideUp(200, function() {
            $("#divDetails").html(result);
            FormPreparePrivateAjax();
            $("#divDetails").slideDown(500);
        });
    }

    function CloseDetails() {
        $("#divDetails").slideUp(200, function () {
            $("#divKopf").slideDown(500);
        });
    }

    function ShowReceiptAjax() {
        FormPreparePrivateAjax();

        $.ajax({
            type: "POST",
            url: "ShowReceipt",
            loadingShow: true,
            success: function (result) {
                if (_modelStateValid)
                    ShowReceipt(result);

                LoadingHide();
            }
        });
    }

    function ShowReceipt(result) {
        $("#divKopf").slideUp();
        $("#divDetails").slideUp();
        $("#divReceipt").html(result);
        $("#divReceipt").slideDown();
    }

</script>
