@model CkgDomainLogic.Logs.ViewModels.LogsViewModel
@using CkgDomainLogic.Logs.Models
@{
    var gridName = "GridLogsSap";
}

<button type="submit" class='btn blue' onclick="GridAllColumnFilterQuickMouseClickFilter()"><i class='icon-filter'></i>&nbsp;Filtern</button>

@(Html.Telerik()
                    .Grid<SapLogItem>()
    .Name(gridName)

    .XAjaxDataBinding("LogsSapAjaxBinding", "Logs")
    .Columns(columns =>
        {
            columns.Bound(c => c.Dauer).Title("").ClientTemplate("<a href=\"#\" onclick=\"return ShowSapImportContext(<#= data.Id #>);\" class=\"btn gray mini tooltips\" data-original-title=\"SAP Übergabedaten anzeigen ... \" data-placement=\"top\"><i class=\"icon-reorder\"></i></a>");
            columns.XBoundAll();
        })
    .XAutoColumnConfiguration()
    .ClientEvents(events => events.XAutoClientEvents(gridName).OnRowDataBound("OnRowDataBound_GridLogsSap"))
    .XPageSize(10)
    .XSort(sortOrder => sortOrder.Add(c => c.Datum).Descending())
    .XToolBar("Logs")
    .Groupable(g => g.Enabled(false))
)

