@using CkgDomainLogic.General.Database.Models
@using CkgDomainLogic.Insurance.Models
@model SchadenakteDocument

<div class="form-horizontal">
    @Html.FormDropDownListFor(m => m.CategoryID, (ViewBag.AuswahlKategorie as List<CustomerDocumentCategory>).ToSelectList("ID", "CategoryName"), new { @class = "m-wrap" })
    
    @Html.FormTextBoxFor(m => m.Dienstleister, new { @class = "m-wrap" })
</div>

<div class="space20"></div>

<div id="divSchadenakteDocUpload">
    @Html.Partial("Schadenakte/Partial/Dokumente/SchadenakteDocUpload", Model)
</div>

