@model MvcTools.Models.FormControlModel 

<div class="SControlGroupOuter">
    
    <div class="SLabel SLabelCheckBox"><span class="SDisplayName"></span></div>
    
    @Html.Partial("Partial/FormControls/SimpleForm/CheckBoxInline")

</div>