@using CkgDomainLogic.Autohaus.ViewModels
@model ZulassungsReportViewModel

<h3 class="page-title" id="headerTitle">@Localize.Registration <small>Report</small>
</h3>

@using (Html.FormSearchBox())
{
    @Html.Partial("Partial/Suche", Model.Selektor, new ViewDataDictionary{{ "KundenList", Model.Kunden }})
}

@using (Html.FormSearchResultsGrid())
{
    <div id="divGrid"></div>
}

<script type="text/javascript">

    var _modelStateValid = 'false';

    function FormPreparePrivate() {
    }

    function FormPreparePrivateAjax() {
        FormPrepareAjax();
    }

    function ShowZulassungsReportSearchResult(result) {
        SearchFormHide();
        $("#divGrid").html(result);

        // move our grid filter form into grid's toolbar:
        GridAllColumnFilterApplyToGrid("GridZulassungen");

        $("#divGrid").slideDown();
    }

    function OnDataBound_GridZulassungen() {
        FilteredData_Grid_OnDataBound($(this));
        jQuery('.tooltips').tooltip();
        LoadingHide();

        GridInitGroupCollapsing();
    }

    function OnColumnShowHide_GridZulassungen() {
        FilteredData_Grid_OnColumnShowHide($(this));
    }

    function OnColumnReorder_GridZulassungen() {
        FilteredData_Grid_OnColumnReorder($(this));
    }


    function GridInitGroupCollapsing() {
        var grid = $("#GridZulassungen").data('tGrid');

        $("#GridZulassungen tbody").find('>tr.t-grouping-row').each(
            function (index, elem) {
                if (index > 0)
                    grid.collapseRow(elem);
            });
    }

    //function FormPreparePrivatePopups() {
    //    $('.FormDateRangePickerButton').magnificPopup({
    //        items: {
    //            src: '#popup',
    //            type: 'inline'
    //        }
    //    });
    //}

</script>
