@using CkgDomainLogic.WFM.ViewModels
@model WfmViewModel

<h3 class="page-title" id="headerTitle">@Model.Title <small></small></h3>

@Html.SpanAlert("spanAlertAbmeldevorgaenge")

@using (Html.FormSearchBox())
{
    @Html.Partial("Abmeldevorgaenge/AuftraegeSuche", Model.Selektor)
}

@using (Html.FormSearchResultsGrid())
{
    <div id="divAuftraegeGrid"></div>
    <div id="divAuftragDetail"></div>
}

<style type="text/css">
    
    #tbNoteForToDo {
        background-color: white!important;
    }
    
</style>

<script type="text/javascript">

    var ladeHinweis = '@Localize.LoadingData';
    var _modelStateValid = 'false';

    function FormPreparePrivate() {
    }

    function FormPreparePrivateAjax() {
        FormPrepareAjax();
    }

    function ShowAuftraegeSearchResult(result) {
        SearchFormHide();
        $("#divAuftraegeGrid").html(result);

        GridAllColumnFilterApplyToGrid("GridAuftraege");

        $("#divAuftraegeGrid").slideDown();
        $("#divAuftragDetail").html('');
    }

    function GetAuftraegeGrid() {
        return $("#GridAuftraege").data("tGrid");
    }

    function TryAuftraegeGridRefresh() {
        // Refresh grid only
        try { FilterGrid("GridAuftraege"); }
        catch(e){}
    }

    function OnDataBound_GridAuftraege() {
        FilteredData_Grid_OnDataBound($(this));
        jQuery('.tooltips').tooltip();
        LoadingHide();
    }

    function OnLoad_GridAuftraege() {
        $('.t-no-data td').text(ladeHinweis);
    }

    function OnColumnShowHide_GridAuftraege() {
        FilteredData_Grid_OnColumnShowHide($(this));
    }

    function OnColumnReorder_GridAuftraege() {
        FilteredData_Grid_OnColumnReorder($(this));
    }

    function ShowAuftragsDetailAjax(id) {
        LoadingShow();
        $.ajax(
        {
            type: "POST",
            url: "GetAuftragsDetailPartial",
            loadingShow: true,
            data: { vorgangsnr: id },
            success: function (result) {
                ShowAuftragsDetail(result);
            }
        });
    }

    function ShowAuftragsDetail(result) {
        $("#divAuftragDetail").html(result);
        GridAllColumnFilterApplyToGrid("GridInformationen");
        GridAllColumnFilterApplyToGrid("GridDokumente");
        GridAllColumnFilterApplyToGrid("GridAufgaben");
        $("#divAuftraegeGrid").slideUp();
        $("#divAuftragDetail").slideDown();
        $("#btnBackToResult").show();
        setTimeout('LoadingHide()', 1000);
        FormPreparePrivateAjax();
    }

    function CloseAuftragsDetail() {
        $("#btnBackToResult").hide();
        $("#divAuftragDetail").slideUp(function () {
            $("#divAuftraegeGrid").delay(200).slideDown();
            TryAuftraegeGridRefresh();
            window.scrollTo(0, 0);
        });
        //$("#divAuftraegeGrid").slideDown();
    }

    function GetInformationenGrid() {
        return $("#GridInformationen").data("tGrid");
    }

    function TryInformationenGridRefresh() {
        // Refresh grid only
        if (typeof (GetInformationenGrid()) !== "undefined") {
            GetInformationenGrid().ajaxRequest();
        }
    }

    function OnDataBound_GridInformationen() {
        FilteredData_Grid_OnDataBound($(this));
        jQuery('.tooltips').tooltip();
        LoadingHide();
    }

    function OnColumnShowHide_GridInformationen() {
        FilteredData_Grid_OnColumnShowHide($(this));
    }

    function OnColumnReorder_GridInformationen() {
        FilteredData_Grid_OnColumnReorder($(this));
    }

    function GetDokumenteGrid() {
        return $("#GridDokumente").data("tGrid");
    }

    function TryDokumenteGridRefresh() {
        // Refresh grid only
        if (typeof (GetDokumenteGrid()) !== "undefined") {
            GetDokumenteGrid().ajaxRequest();
        }
    }

    function OnDataBound_GridDokumente() {
        FilteredData_Grid_OnDataBound($(this));
        jQuery('.tooltips').tooltip();
        LoadingHide();
    }

    function OnColumnShowHide_GridDokumente() {
        FilteredData_Grid_OnColumnShowHide($(this));
    }

    function OnColumnReorder_GridDokumente() {
        FilteredData_Grid_OnColumnReorder($(this));
    }

    function GetAufgabenGrid() {
        return $("#GridAufgaben").data("tGrid");
    }

    function TryAufgabenGridRefresh() {
        // Refresh grid only
        if (typeof (GetAufgabenGrid()) !== "undefined") {
            GetAufgabenGrid().ajaxRequest();
        }
    }

    function OnDataBound_GridAufgaben() {
        FilteredData_Grid_OnDataBound($(this));
        jQuery('.tooltips').tooltip();
        LoadingHide();
    }

    function OnColumnShowHide_GridAufgaben() {
        FilteredData_Grid_OnColumnShowHide($(this));
    }

    function OnColumnReorder_GridAufgaben() {
        FilteredData_Grid_OnColumnReorder($(this));
    }
    
    function CancelOrder(vorgangsNr) {
        $.ajax(
        {
            type: "POST",
            url: "CancelOrder",
            loadingShow: true,
            data: { vorgangsNr: vorgangsNr },
            success: function (result) {
                if (result.success) {
                    SpanAlertSuccess("spanAlertAbmeldevorgaenge", result.message, 1500);
                } else {
                    SpanAlertError("spanAlertAbmeldevorgaenge", result.message, 6000);
                }
            }
        });
    }
    
    function ConfirmToDo(lfdNr) {
        $.ajax(
        {
            type: "POST",
            url: "ConfirmToDo",
            loadingShow: true,
            data: { lfdNr: lfdNr, remark: $("#tbNoteForToDo").val() },
            success: function (result) {
                if (result.success) {
                    SpanAlertSuccess("spanAlertAbmeldevorgaenge", result.message, 1500);
                    try { FilterGrid("GridAufgaben"); }
                    catch (e) { }
           
                } else {
                    SpanAlertError("spanAlertAbmeldevorgaenge", result.message, 6000);
                }
            }
        });
        
        return false;
    }

</script>