@using CkgDomainLogic.Equi.Models
@model CkgDomainLogic.Equi.ViewModels.BriefversandViewModel
@{ var gridName = "GridStuecklistenAuswahl"; }

<h4 class="margin-bottom-25">Komponenten für Ihre Auswahl: @Model.SelectedFahrzeugeAsString</h4>

<h4>
    @Model.StuecklistenAuswahlTitleHint: 
    <span id="StuecklistenAuswahlCount" class="alert alert-success margin-left-15 hide">
        <i class="icon-check"></i><span class="padding-left-5 bold"></span>
    </span>
</h4> 

@Html.SpanAlert("Message")

@(Html.XTelerik()
    .XGrid<StuecklistenKomponente>()
    .Name(gridName)
    .XAjaxDataBinding("StuecklistenAuswahlAjaxBinding", "Equi")
    .Columns(columns =>
        {
            columns.XBound(c => c.Action)
                .ClientTemplate("<# if (data.IsMissing) { #> <span><i class='icon-bell margin-left-5'></i></span> <# } else { #><input type='checkbox' name='checkedRecords' <# if (data.IsSelected) { #> checked <# } #> value='<#= data.UniqueId #>' onchange='OnSelectionChange_GridStuecklistenAuswahl($(this))' /> <# } #>")
                .HeaderTemplate("<input type='checkbox' id='uncheckAllRecords' onchange='GridStuecklistenAuswahl_OnAllSelectionChange($(this).is(\":checked\"))' />")
                .Filterable(false);

            columns.XBound(c => c.Fahrgestellnummer);
            columns.XBound(c => c.Kennzeichen);
            columns.XBound(c => c.Bezeichnung);
        })

    .XAutoColumnConfiguration()
    .ClientEvents(events => events.XAutoClientEvents(gridName).OnLoad("OnLoad_GridStuecklistenAuswahl").OnRowDataBound("OnRowDataBound_GridStuecklistenAuswahl"))
    .XPageSize(10)
    .XSort(sortOrder => sortOrder.Add(c => c.UniqueId).Ascending())

    .ToolBar(commands =>
        {
            commands.FilteredDataCommand("StuecklistenAuswahlExportFilteredExcel", "Equi").HtmlAttributes(new { @class = "hide btn mini gray tooltips excel a_btn_mini", data_original_title = "Excel Export", data_placement = "right" });
            commands.FilteredDataCommand("StuecklistenAuswahlExportFilteredPDF", "Equi").HtmlAttributes(new { @class = "hide btn mini gray tooltips pdf a_btn_mini", data_original_title = "PDF Export", data_placement = "right" });
        })
)

