@model CkgDomainLogic.Equi.ViewModels.BriefversandViewModel

<h4 class="margin-bottom-25">Versandadresse für Ihre Auswahl: @Model.SelectedFahrzeugeAsString</h4> 

<div class="form-actions">
    <a href="#" onclick="return AjaxFormAdressenShowGrid('Versand')" class="btn white tooltips margin-right-10" data-original-title="Wählen Sie eine Versandadresse über Ihren Adressenpool aus" data-placement="top">Versandadressen auswählen <i class="icon-chevron-right"></i></a>
    <a href="#" onclick="return AjaxFormAdressenShowGrid('Zulassung')" class="btn white tooltips margin-right-10" data-original-title="Wählen Sie eine Zulassungsadresse über Ihren Adressenpool aus" data-placement="top">Zulassungsadressen auswählen <i class="icon-chevron-right"></i></a>
    
    <a href="#" onclick="return AjaxFormAdresseEmpty('VersandAdresseAjaxForm', 'VersandadresseGetAutoCompleteItems')" class="btn white tooltips margin-left-10 margin-right-10" data-original-title="Leert das Adressformular (zur Eingabe einer neuen Adresse)" data-placement="top">Formular leeren <i class="icon-remove"></i></a>
</div>

@Html.Partial("Briefversand/VersandAdresseForm", @Model.VersandAdresse)
