@using CkgDomainLogic.KroschkeZulassung.ViewModels
@using GeneralTools.Resources
@using GeneralTools.Services
@{
    var gridName = "GridShoppingCart";
    var currentController = ViewContext.RouteData.GetRequiredString("controller");
    var itemSelectorAvailable = (bool)(ViewData["ItemSelectorAvailable"] ?? false);
}

@(Html.Telerik()
    .Grid<KroschkeZulassungViewModel>()
    .Name(gridName)
        
    .XGroup(null)
    .XAjaxDataBinding("ShoppingCartAjaxBinding", currentController)
    .Columns(columns =>
        {
            columns.XBound(c => c.ObjectKey).Width(145).Title("").Filterable(false).Sortable(false)
                    .ClientTemplate(
                    (itemSelectorAvailable ?
                        "<button onclick='ShoppingCartItemSelect(\"<#= data.ObjectKey #>\");' class='btn mini blue tooltips' data-original-title='" + CommonResources.PickAddress + "' data-placement='right'><i class='halflings-icon white ok'></i></button>"
                        + "&nbsp;" : "") 
                        +
                        "<button onclick='ShoppingCartItemEdit(\"<#= data.ObjectKey #>\");' class='btn mini gray tooltips' data-original-title='" + CommonResources.EditAddress + "' data-placement='right'><i class='halflings-icon white pencil'></i></button>"
                        + "&nbsp;"
                        + "<button onclick='ShoppingCartItemRemove(\"<#= data.ObjectKey #>\");' class='btn mini gray tooltips' data-original-title='" + CommonResources.DeleteAddress + "' data-placement='right'><i class='halflings-icon white remove'></i></button>"
                );

            columns.XBound(c => c.FIN);
            columns.XBound(c => c.HalterDatenAsString);
            columns.XBound(c => c.EditDate);
            columns.XBound(c => c.EditUser);
        })
    .XAutoColumnConfiguration()
    .ClientEvents(events => events.XAutoClientEvents(gridName))
    .XPageSize(10)
    .XSort(sortOrder => sortOrder.Add(c => c.EditDate).Descending())
    .ToolBar(commands =>
    {
        commands.FilteredDataCommand("ShoppingCartExportFilteredExcel", currentController).HtmlAttributes(new { @class = "hide btn mini gray tooltips a_btn_mini excel", data_original_title = "Excel Export", data_placement = "right" });
        commands.FilteredDataCommand("ShoppingCartExportFilteredPDF", currentController).HtmlAttributes(new { @class = "hide btn mini gray tooltips a_btn_mini pdf", data_original_title = "PDF Export", data_placement = "right" });
    })
)
