@using CkgDomainLogic.Equi.Models
@{ var gridName = "GridFahrzeugbriefeErweitert"; }

<div class="form-actions PageTopMenu">
    <button type="button" id="btnBackToSearch" class="btn blue mini" onclick="CloseFahrzeugbriefeErweitertSearchResult();"><i class="icon-arrow-left"></i>&nbsp;@Localize.BackToSearch</button>
</div>

@(Html.XTelerik()
    .XGrid<FahrzeugbriefErweitert>()
    .Name(gridName)
    .XAjaxDataBinding("FahrzeugbriefeErweitertAjaxBinding", "Equi")
    .Columns(columns =>
    {
        columns.XBound(c => c.Eingangsdatum).Filterable(false).Sortable(false)
                  .ClientTemplate(
                      "<button onclick='ItemEdit(\"<#= data.Fahrgestellnummer #>\");' class='btn mini gray tooltips' data-original-title='" + Localize.ItemEdit + "' data-placement='right'><i class='halflings-icon white pencil'></i></button>"
                      + "&nbsp;"
              );

        columns.XBound(c => c.Eingangsdatum).Format("{0:dd.MM.yyyy}");
        columns.XBound(c => c.Fahrgestellnummer);
        columns.XBound(c => c.Kennzeichen);
        columns.XBound(c => c.Vertragsnummer);
        columns.XBound(c => c.TechnIdentnummer);
        columns.XBound(c => c.StandortText);
        columns.XBound(c => c.VersandgrundText);
        columns.XBound(c => c.Versanddatum).Format("{0:dd.MM.yyyy}");
        columns.XBound(c => c.Stilllegungsdatum).Format("{0:dd.MM.yyyy}");
        columns.XBound(c => c.Referenz1);
        columns.XBound(c => c.Referenz2);
        columns.XBound(c => c.Name1);
        columns.XBound(c => c.Name2);
        columns.XBound(c => c.Strasse);
        columns.XBound(c => c.Hausnummer);
        columns.XBound(c => c.PLZ);
        columns.XBound(c => c.Ort);
        columns.XBound(c => c.VertragsBeginn).Format("{0:dd.MM.yyyy}");
        columns.XBound(c => c.VertragsEnde).Format("{0:dd.MM.yyyy}");
        columns.XBound(c => c.VertragsStatus);
    })
    .XAutoColumnConfiguration()
    .ClientEvents(events => events.XAutoClientEvents(gridName).OnLoad("OnLoad_GridFahrzeugbriefeErweitert"))
    .XPageSize(10)
    .XSort(sortOrder => sortOrder.Add(c => c.Fahrgestellnummer).Ascending())
    .ToolBar(commands =>
    {
        commands.FilteredDataCommand("ExportFahrzeugbriefeErweitertFilteredExcel", "Equi");
        commands.FilteredDataCommand("ExportFahrzeugbriefeErweitertFilteredPDF", "Equi");
    })
)

