@model CkgDomainLogic.Autohaus.ViewModels.EsdAnforderungViewModel

<style>

    .validation-summary-errors {
        margin-top: 0;
    }

    .box.portlet {
        padding: 10px !important;
    }

    @@media (max-width: 1580px) {
        .row-fluid .span4 {
            display: block;
            float: none;
            width: 100%;
            margin-left: 0;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }
    }

    .europe-map {
        text-align: center;
    }
    .country-hint {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 99999;
        display: none;
        background-color: white;
        padding: 10px;
        border: 2px solid #61B1CD;
        border-radius: 12px !important;
        box-shadow: 5px 5px 20px -1px rgba(0,0,0,0.75)!important;
    }
    .country-hint i {
        display: table-cell;
        vertical-align: middle;
        width: 38px;
        height: 38px;
        background: center center no-repeat;
        background-size: 50px 64px;
        border-radius: 50%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        box-shadow: 0px 0px 4px 4px rgba(0,0,0,0.07)!important;
    }
    .country-hint span {
        display: table-cell;
        vertical-align: middle;
        padding-left: 10px;
        font-weight: bold;
    }

    path.svg-country {
        fill: #d0d1d5; /* #d0d1d5 */
    }
    path.svg-country.enabled {
        fill: #61B1CD; /* #d0d1d5 */
    }

</style>


<script type="text/javascript" src="~/Scripts/snap.svg.js?v=20160208"></script>

<script type="text/javascript">

    var _validCountriesAsString = '@string.Join(",", Model.LaenderAuswahlliste.Select(c => c.ID))';
    var _validCountries = @Html.Raw(Json.Encode(Model.LaenderAuswahlliste));

    //console.log(_validCountries);

    function CountryIsEnabled(elem) {
        var node = $(elem.node);
        return _validCountriesAsString.indexOf(node.attr("dataid")) >= 0;
    }

    function GetCountryItem(elem) {
        var node = $(elem.node);
        return $.grep(_validCountries, function (e) { return e.ID === node.attr("dataid"); })[0];
    }

    $(function () {
        var mouseX;
        var mouseY;
        document.onmousemove = function (e) {

            mouseX = e.pageX;
            mouseY = e.pageY;
        }

        var s = Snap("#europe-svg");
        Snap.load("/ServicesMvc/Images/maps/europe.svg", function (f) {

            var g = f.select("g");
            var paths = g.selectAll("path");

            paths.forEach(function (elem, i) {

                var node = $(elem.node);
                if (CountryIsEnabled(elem))
                    node.attr("class", node.attr("class") + " enabled");

                elem.hover(
                    function () {
                        if (!CountryIsEnabled(elem))
                            return;

                        // hover opacity
                        elem.attr("fill-opacity", "0.5");
                        $(".country-hint").css("left", (mouseX - 90) + "px");
                        $(".country-hint").css("top", (mouseY - 100) + "px");

                        var countryItem = GetCountryItem(elem);
                        //var node = $(elem.node);
                        //console.log(countryItem);
                        $(".country-hint i").css("background-image", "url(/ServicesMvc/Images/flags/64x64/" + countryItem.ID + ".png)");
                        $(".country-hint span").html(countryItem.Name);

                        $(".country-hint").show();
                    },
                    function () {
                        if (!CountryIsEnabled(elem))
                            return;

                        // unhover opacity
                        elem.attr("fill-opacity", "");
                        $(".country-hint").hide();
                    }
                );
                elem.click(function () {
                    if (!CountryIsEnabled(elem))
                        return;

                    var node = $(elem.node);
                    console.log("CLICKED: " + node.attr("dataid"));

                });
            });

            s.append(g);
        });
    });


</script>

<div class="country-hint hide">
    <i></i>
    <span></span>
</div>

<div class="europe-map">

    <div id="country-hovered" class=""></div>

    <svg id="europe-svg" height="542.6089315691006" version="1.1" width="750px" xmlns="http://www.w3.org/2000/svg" style="overflow: hidden; position: relative; left: -150.5px; background-color: transparent;" viewBox="341.90774666666664 46.4 131.73333333333332 141.33333333333334" preserveAspectRatio="xMinYMin">
    </svg>

</div>

