<?xml version="1.0"?>
<configuration>

    <appSettings>
        <add key="CsvOutputFolder" value="c:\temp\bapi2report\exportfiles\"/>
        <add key="CsvDivider" value=";"/>
        <add key="WaitAfterCompletion" value="true"/>
    </appSettings>
    
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>

</configuration>
