@using CkgDomainLogic.Autohaus.Models
@model FahrzeugakteDocument

@Html.FormLabel(Localize.DocumentUploadDocument, "SummaryItemTitle float-left margin-right-10 margin-top-10")

@(Html.Telerik()
    .Upload()
    .Name("UploadFahrzeugakteDoc")
    .Multiple(false)
    .Localizable("de-DE")
    .Async(async => async
            .Save("UploadFahrzeugakteDoc", "Autohaus")
            .SaveField("uploadFiles")
            .AutoUpload(true) // Dies ist der Initial Wert, notwendig weil in bestimmten Fällen der Anwender eine Auswahl treffen muss
    )
    .ShowFileList(true)
    .ClientEvents(events => events
        .OnSelect("onFileSelect")
        .OnUpload("UploadStart")
        .OnComplete("UploadFinished")
        .OnError("UploadError")
    )
)

<div class="space20"></div>
@Html.FormRequiredFieldsSummary()

<div class="form-actions">
    <button type="button" class="btn" onclick="CloseFahrzeugakteDocEdit();">@Localize.Cancel</button>
</div>
