@using GeneralTools.Resources
<style type="text/css">
    .shopping-cart-menu {
        display: inline;
    }
    .shopping-cart-menu span.badge {
        padding-top: 6px;
        padding-bottom: 4px;
        padding-left: 4px;
        padding-right: 6px;
        margin-left: 22px;
        font-size: 16px!important;
        font-weight: normal;
        height: 16px;
        width: 16px;
        background-color: #ffb848;
        border-radius: 16px !important;
        text-shadow: none!important;
        float: none;
        text-align: center;
    }
    .shopping-cart-menu .glyphicons i:before {
        color: #707070!important;
        margin-top: -3px;
        margin-left: 30px;
        background-color: transparent!important;
        float: none;
        font-size: 28px!important;
    }
    
    .shopping-cart-body-inner 
    {
        margin-top: 0px;
        margin-bottom: 35px;
    }
    .shopping-cart-body .portlet .caption i.icon-shopping-cart {
        font-size: 18px;
        margin-top: 2px;
        margin-right: 10px;
    }
    .shopping-cart-body {
        box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.15);
        width: 98%;
    }
</style>

<div class="shopping-cart-body"></div>

<script type="text/javascript">

    function ShoppingCartHide() {
        $(".shopping-cart-body .portlet a.remove").trigger("click");
    }

    function ShoppingCartShow() {

        var shoppingCartVisible = ($(".shopping-cart-body").html() !== '');
        if (shoppingCartVisible) {
            ShoppingCartHide();
            return false;
        }

        $.ajax({
            type: "POST",
            url: "ShoppingCartGridShow",
            data: {},
            loadingShow: true,
            success: function (result) {
                ShoppingCartShowResult(result);
            }
        });

        return false;
    };
    
    function ShoppingCartShowResult(result) {
        if (typeof (result.message) !== "undefined") {
            alert(result.message);
            return;
        }

        $(".shopping-cart-body").html("");
        $(".shopping-cart-body").append("<div class='shopping-cart-body-inner hide'></div>");
        $(".shopping-cart-body-inner").html(result);
        $(".shopping-cart-body-inner").slideDown(200);
        FormPreparePrivateGridShoppingCard();
    }

    function ShoppingCartItemEdit(id) {

        $.ajax({
            type: "POST",
            url: "ShoppingCartItemEdit",
            data: { id: id },
            loadingShow: false,
            success: function () {
                LocationReloadWithoutQueryString();
            }
        });
    }

    function ShoppingCartItemRemove(id) {

        if (!confirm('@Localize.ItemDeleteConfirm.ToJavascriptString()'))
            return;

        $.ajax({
            type: "POST",
            url: "ShoppingCartItemRemove",
            data: { id: id },
            loadingShow: false,
            success: function () {
                FilterGrid("GridShoppingCart");
                ShoppingCartMenuRefreshCount();
            }
        });
    }


    function ShoppingCartMenuRefreshCount() {
        $.ajax({
            type: "POST",
            url: "ShoppingCartMenuRefreshCount",
            data: {},
            loadingShow: false,
            success: function (result) {
                $(".shopping-cart-menu a span.badge").html(result.count);
            }
        });
    }

    function FormPreparePrivateGridShoppingCard() {
        FormPreparePrivateAjax();
        GridAllColumnFilterApplyToGrid("GridShoppingCart");
    }

    function OnDataBound_GridShoppingCart() {
        FilteredData_Grid_OnDataBound($(this));
        $('.tooltips').tooltip();
    }

    function OnColumnShowHide_GridShoppingCart() {
        FilteredData_Grid_OnColumnShowHide($(this));
    }

    function OnColumnReorder_GridShoppingCart() {
        FilteredData_Grid_OnColumnReorder($(this));
    }

</script>
