<span class="shopping-cart-menu">
    <a href="#" onclick="return ShoppingCartShow();" 
        class="dropdown-toggle glyphicons white shopping_cart tooltips" 
        data-toggle="dropdown" data-hover="dropdown" data-close-others="true"
        data-original-title="Warenkorb anzeigen" data-placement="right">

        <span class="badge"></span>
        <i></i>
    </a>
</span>
