@model CkgDomainLogic.Fahrzeuge.ViewModels.ZulassungViewModel

<h4>Bestätigung für Ihre Auswahl: 
    @Html.Partial("Partial/GridFahrzeugSummaryHeader")
</h4> 

@if (Model.SaveErrorMessage.IsNullOrEmpty())
{
    <div class="alert alert-success">
        <i class="icon-check"></i><span class="padding-left-5"><strong>Vielen Dank</strong>, wir haben Ihren Auftrag erhalten!</span>
    </div>
}
else
{
    <div class="alert alert-error">
        <span class="label label-important"><i class="icon-bell"></i><span class="margin-left-5"> Es ist ein Fehler aufgetreten!</span></span><br /><br />
        @Model.SaveErrorMessage.ToHtml()
    </div>
}

<div id="ReceiptFormActions" class="hide">
    <a href="SummaryAsPdf" class="btn blue tooltips margin-right-10" data-original-title="Ihr Vorgang als PDF Datei!" data-placement="top"> PDF Download <i class="icon-download-alt"></i></a>
</div>

@if (Model.SaveErrorMessage.IsNotNullOrEmpty())
{
    <script type="text/javascript">
        FormWizard.ButtonPrevShowDelayed();
    </script>
}
else
{
    <script type="text/javascript">
        FormWizard.InsertActionButton("#ReceiptFormActions");
    </script>    
}