<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
		<add key="DownloadPath" value="C:\Inetpub\wwwroot\Portal\Temp\Porsche\lastschrift\" />	
		<add key="DownloadPathWeb" value="C:\Inetpub\wwwroot\Portal\Temp\Porsche\" />	
		<add key="DownloadPathWebView" value="\Portal\Temp\Porsche\" />	
	</appSettings>
</configuration>
