/* Grundsätzliche Stile */

html,body,div,td {
font:normal 12px/18px arial, helvetica, sans-serif;
color:#7f7f7f;
font-weight:400;
margin:0;
padding:0;
}

body {
background-color:#eeefef;
background-image:url(../images/bg_page.jpg);
background-repeat:repeat-x;
text-align:center;
}

body.start {
background-color:#eeefef;
background-image:url(../images/bg_page_start.jpg);
background-repeat:repeat-x;
}

:link,:visited,:active,:focus,:hover {
outline:none;
}

.mainform {padding:0px;
margin:0px;

}

img {
border:0;
display:block;
margin:0;
padding:0;
}

p {
margin-top:0;
margin-bottom:8px;
}

h1 {
font:normal 26px/26px Arial,Helvetica,sans-serif;
color:#00afcb;
font-weight:700;
margin:0;
padding:0;
}

h2 {
font:normal 18px/18px Arial,Helvetica,sans-serif;
color:#00afcb;
font-weight:700;
margin:0;
padding:0;
}

h3 {
font:normal 17px/17px Arial,Helvetica,sans-serif;
color:#00afcb;
font-weight:700;
margin:0;
padding:0;
}

h4 {
font:normal 15px/15px Arial,Helvetica,sans-serif;
color:#00afcb;
font-weight:700;
margin:0;
padding:0;
}

h5 {
font:normal 14px/14px Arial,Helvetica,sans-serif;
color:#00afcb;
font-weight:700;
margin:0;
padding:0;
}

a {
color:#7f7f7f;
}

a:hover {
color:#00afcb;
}

.disabled {
color: #7f7f7f!important;
}

.trenner {
clear:both;
height:1px;
overflow:hidden;
}

.trenner5 {
clear:both;
height:5px;
overflow:hidden;
}

.trenner10 {
clear:both;
height:10px;
overflow:hidden;
}

.trenner12 {
clear:both;
height:12px;
overflow:hidden;
}

.trenner15 {
clear:both;
height:15px;
overflow:hidden;
}

.trenner20 {
clear:both;
height:20px;
overflow:hidden;
}

.trenner40 {
clear:both;
height:40px;
overflow:hidden;
}

.trenner_bottom {
clear:both;
height:80px;
overflow:hidden;
}

fieldset {
border:0;
margin:0;
padding:0;
}


/* HAUPT INHALTSCONTAINER  */

#maincontainer {
width:962px;
text-align:left;
margin:0 auto;
}

#maincontainer_breit {
/* width:1383px; */
width:98%;
text-align:left;
margin:0 auto;
}


/* HEADBEREICH  */

#head {
position:relative;
text-align:left;
width:962px;
height:184px;
background-image:url(../images/portal_bg_head.jpg);
background-position: bottom left;
background-repeat:no-repeat;
overflow:visible;
margin:0 auto;
z-index: 7000;
}

#head .logo {
position:absolute;
top:74px;
right:74px;
}


/* HEADBEREICH UNTERNAVIGATION AUF FORMULAR- UND LISTENSEITEN  */

#head.breadcrump {
background-image:url(../images/portal_bg_head_content.jpg);
}

#head.login {
background-image:url(../images/portal_bg_head_login.jpg);
}


#head.breadcrump .logo {
top:62px;
}

#head.breadcrump .extapp {
position:absolute;
top:124px;
right:8px;
}

#breadcrump {
position:absolute;
height:31px;
left:150px;
top:122px;
}


#breadcrump .backlink {
	border-right: 1px solid  #d3d3d3;
	height: 31px;
	width: 90px;
	float: left;
	
}

#breadcrump .backlink a {
text-decoration:none;
font:bold 15px/32px arial, helvetica, sans-serif;
color:#7f7f7f;
}

#breadcrump .headline {
font:bold 15px/32px arial, helvetica, sans-serif;
color:#00afcb;
font-weight:700;
float: left;
margin-left: 20px;
}


#breadcrump .button a:hover {
color:#00afcb;
}

#breadcrump .navitrenner {
float:left;
height:31px;
width:10px;
overflow:hidden;
background-image:url(../images/breadcrump_trenner.gif);
background-repeat:no-repeat;
margin:0 34px;
}


/* HEADBEREICH METANAVIGATION */

#metanavigation {
position:absolute;
height:28px;
right:4px;
}

#metanavigation .metalinks {
float:left;
width:7px;
height:28px;
background-image:url(../images/bg_metanavi_links.gif);
background-repeat:no-repeat;
overflow:hidden;
}

#metanavigation .metarechts {
float:left;
width:7px;
height:28px;
background-image:url(../images/bg_metanavi_rechts.gif);
background-repeat:no-repeat;
overflow:hidden;
}

#metanavigation .metabutton {
float:left;
height:28px;
background-image:url(../images/bg_metanavi.gif);
background-repeat:repeat-x;
overflow:hidden;
padding:0 28px;
}

#metanavigation .metabutton a {
text-decoration:none;
font:bold 12px/24px arial, helvetica, sans-serif;
color:#7f7f7f;
text-transform:uppercase;
padding:0;
}

#metanavigation .metabutton a:hover {
color:#00afcb;
}

#metanavigation .metatrenner {
float:left;
width:3px;
height:28px;
background-image:url(../images/bg_metanavi_trenner.gif);
background-repeat:no-repeat;
overflow:hidden;
}


/* HEADBEREICH STARTMENU */

#startbutton {
position:absolute;
left:18px;
top:45px;
width:105px;
height:105px;
background-image:url(../images/startbutton.gif);
background-position:0 0;
overflow:hidden;
}

#startmenu {
position:absolute;
width:324px;
top:29px;
z-index:7000;
display:none;
margin:0;
padding:0;
}

#startmenu img {
padding-bottom:0;
margin-bottom:0;
}

.startmenu_top {
clear:both;
width:324px;
height:154px;
overflow:hidden;
background-image:url(../images/startmenu_top.jpg);
background-repeat:no-repeat;
}

body.start .startmenu_top {
background-image:url(../images/startmenu_top_start.jpg);
}

.startmenu_bottom {
clear:both;
width:324px;
height:25px;
overflow:hidden;
background-image:url(../images/startmenu_bottom.png);
background-repeat:no-repeat;
}

.startmenu_contentlayer {
clear:both;
width:324px;
background-image:url(../images/startmenu_bg_lang.png);
background-repeat:no-repeat;
margin:0;
padding:0;
}

.startmenu_content {
margin-left:56px;
width:239px;
padding:8px 0;
}

#startmenu .trenner {
width:239px;
height:2px;
background-image:url(../images/trennlinie_horiziontal.gif);
background-repeat:repeat-x;
margin:8px 0;
}

#startmenu .startmenu_content h3 {
padding:0 0 4px;
}

#startmenu .startmenu_content a {
text-decoration:none;
font:bold 12px/32px arial, helvetica, sans-serif;
color:#7f7f7f;
background-image:url(../images/kreispfeil.png);
background-repeat:no-repeat;
padding:3px 0 4px 33px;
}

#startmenu .startmenu_content a:hover {
color:#00afcb;
}


/* HEADBEREICH WARENKORB */

#warenkorb {
position:absolute;
height:27px;
left:5px;
top:2px;
z-index:120;
}

#warenkorb h4 {
float:left;
font:bold 14px/28px Arial,Helvetica,sans-serif;
color:#fff;
}

#warenkorb h4 a {
text-decoration:none;
color:#fff;
}

#warenkorb h4 a:hover {
text-decoration:underline;
}

#warenkorb .menge {
float:left;
height:27px;
width:27px;
margin-left:9px;
text-align:center;
background-image:url(../images/kreis_head.gif);
background-repeat:no-repeat;
font:bold 16px/28px Arial,Helvetica,sans-serif;
color:#fff;
}

#warenkorb .menge a {
text-decoration:none;
color:#fff;
}


/* CONTENTBEREICH  */


#contentstart {
clear:both;
width:962px;
overflow:visible;
margin-bottom:70px;
}

#content {
	margin-bottom:100px;
}

#contentstart .maincontent {
width:928px;
min-height:652px;
height:auto!important;
overflow:visible;
background-color:#e9eaea;
background-image:url(../images/bg_content_startseite.gif);
background-repeat:no-repeat;
margin:0 0 0 32px;
}

#contentstart .maincontent_bottom {
width:928px;
height:10px;
background-image:url(../images/bg_content_startseite_bottom.gif);
overflow:hidden;
margin:0 0 0 32px;
}

#contentstart .contentlinks {
float:left;
width:622px;
margin:36px 0 0 40px;
}

#contentstart .contentlinks p {
width:580px;
}

#contentstart .contentrechts {
float:left;
width:222px;
margin:11px 0 0;
}



/* CONTENTBEREICH CONTENTBLÖCKE - WERDEN ÜBER DIE SUBNAVIGATION EINGEBLENDET */

.contentbloecke	{
}

#contentblock1 {
position:absolute;
z-index:1;
}

#contentblock2 {
position:absolute;
z-index:2;
display:none;
}

#contentblock3 {
position:absolute;
z-index:3;
display:none;
}



/* CONTENTBEREICH TEASER */


/* 4 Teaserboxen oben auf Startseite */
#contentstart .teaserstart {
height:330px;
margin:10px 0 0 32px;
}

#contentstart .teaserstart .teaser {
float:left;
background-image:url(../images/bg_teaser_start.gif);
width:222px;
height:307px;
margin-right:13px;
display:none;
background-position: 0px 0px;
}

#contentstart .teaserstart .teaser:hover {
background-position: 0px -307px;
}

#contentstart .teaserstart #teaser2 {
margin-right:14px;
}

#contentstart .teaserstart #teaser4 {
margin-right:0;
}

#contentstart .teaserstart .teaserbild {
width:214px;
height:110px;
overflow:hidden;
margin:4px 0 0 4px;
}

#contentstart .teaserstart .teasercontent {
width:190px;
height:189px;
overflow:hidden;
margin:0 0 0 15px;
}

#contentstart .teaserstart .teaser h2 {
margin-top:18px;
text-transform:uppercase;
}

#contentstart .teaserstart .teaser .trenner {
width:183px;
background-image:url(../images/trennlinie_horiziontal.gif);
background-repeat:repeat-x;
}

#contentstart .teaserstart .teaser ul {
list-style-type:none;
margin:16px 0 0;
padding:0;
}

#contentstart .teaserstart .teaser ul li {
height:30px;
width:190px;
line-height:20px;
background-image:url(../images/trennlinie_horiziontal.gif);
background-repeat:repeat-x;
background-position:0 top;
margin:0;
}

#contentstart .teaserstart .teaser ul li a {
text-decoration:none;
font:bold 12px/32px arial, helvetica, sans-serif;
color:#7f7f7f;
background-image:url(../images/kreispfeil.png);
background-repeat:no-repeat;
padding:3px 0 4px 33px;
}

#contentstart .teaserstart .teaser ul li a:hover {
color:#00afcb;
}


/* Teaserboxen links unten auf Startseite */

#contentstart .contentlinks .teaser {
position:relative;
width:622px;
height:132px;
}

#contentstart .contentlinks .teaser img {
float:left;
}

#contentstart .contentlinks .teaser .teasercontent {
float:left;
width:290px;
margin:0 0 0 31px;
}

#contentstart .contentlinks .teaser h2 {
margin-bottom:12px;
text-transform:uppercase;
}

#contentstart .contentlinks .teaser .link {
position:absolute;
bottom:0;
}

#contentstart .contentlinks .teaser a {
text-decoration:none;
font:bold 12px/32px arial, helvetica, sans-serif;
color:#7f7f7f;
background-image:url(../images/kreispfeil.png);
background-repeat:no-repeat;
padding:2px 0 4px 33px;
}


/* Teaserboxe rechts unten auf Startseite (ansprechpartner) */

#contentstart .contentrechts .teaser {
position:relative;
width:222px;
height:298px;
background-image:url(../images/bg_teaser_content.gif);
}

#contentstart .contentrechts .teaserlarge {
position:relative;
width:222px;
height:348px;
background-image:url(../images/bg_teaser_content_large.gif);
}

#contentstart .contentrechts .teaserbild {
width:214px;
height:72px;
overflow:hidden;
margin:4px 0 0 4px;
}

#contentstart .contentrechts .teasercontent {
position:relative;
width:183px;
height:218px;
overflow:hidden;
margin:0 0 0 20px;
}

#contentstart .contentrechts .teasercontentlarge {
position:relative;
width:183px;
height:268px;
overflow:hidden;
margin:0 0 0 20px;
}

#contentstart .contentrechts .teaser h3, #contentstart .contentrechts .teaserlarge h3 {
margin-top:18px;
margin-bottom:8px;
}

#contentstart .contentrechts .teaser .trenner, #contentstart .contentrechts .teaserlarge .trenner {
width:183px;
background-image:url(../images/trennlinie_horiziontal.gif);
background-repeat:repeat-x;
}

#contentstart .contentrechts .teaser .link, #contentstart .contentrechts .teaserlarge .link {
position:absolute;
bottom:12px;
}

#contentstart .contentrechts a {
text-decoration:none;
font:bold 12px/32px arial, helvetica, sans-serif;
color:#7f7f7f;
background-image:url(../images/kreispfeil.png);
background-repeat:no-repeat;
padding:2px 0 4px 33px;
}


/* REITERNAVIGATION INDEX-SEITE */

#contentstart #subnavigation {
width:928px;
height:101px;
margin:0;
}

.subnavi {
position:relative;
height:47px;
overflow:hidden;
}

.tnbutton,.tnbutton_on {
float:left;
height:47px;
cursor:pointer;
}

.tnbuttonleft,.tnbuttonleft_on {
float:left;
width:22px;
height:47px;
background-repeat:no-repeat;
overflow:hidden;
background-image:url(../images/subnavi_button_left.gif);
background-position:0 0;
}

.tnbuttonleft_on {
background-position:0 -47px;
}

.tnbutton .tnbuttoninner,.tnbutton_on .tnbuttoninner {
float:left;
width:170px;
height:47px;
background-repeat:repeat-x;
background-image:url(../images/subnavi_button_bg.gif);
background-position:0 0;
font:normal 18px/55px Arial,Helvetica,sans-serif;
color:#fff;
font-weight:700;
}

.tnbutton_on .tnbuttoninner {
background-position:0 -47px;
}

.tnbutton .tnbuttonright,.tnbutton .tnbuttonrightnexton,.tnbutton_on .tnbuttonright {
float:left;
width:52px;
height:47px;
background-repeat:no-repeat;
overflow:hidden;
background-image:url(../images/subnavi_button_right.gif);
background-position:0 0;
}

.tnbutton .tnbuttonrightnexton {
background-position:0 -47px;
}

.tnbutton_on .tnbuttonright {
background-position:0 -94px;
}

.tnbutton .tnbuttonrightlast,.tnbutton_on .tnbuttonrightlast {
float:left;
width:43px;
height:47px;
background-repeat:no-repeat;
overflow:hidden;
background-image:url(../images/subnavi_button_right_last.gif);
background-position:0 0;
}

.tnbutton_on .tnbuttonrightlast {
background-position:0 -47px;
}

.tnbutton .tnbuttoninner a {
text-decoration:none;
font:normal 18px/55px Arial,Helvetica,sans-serif;
color:#fff;
font-weight:700;
}

.tnbutton_on .tnbuttoninner a {
text-decoration:none;
font:normal 18px/55px Arial,Helvetica,sans-serif;
color:#fff;
font-weight:700;
}

.subnavi-info {
clear:both;
width:928px;
height:54px;
background-image:url(../images/bg_contentnavi_startseite.gif);
background-repeat:no-repeat;
}

.subnavi-info p {
font:bold 16px/54px arial, helvetica, sans-serif;
color:#acbed5;
padding:0 0 0 22px;
}


/* LISTEN */

.liste {
width:924px;
text-align:left;
margin:0 auto;
}

.liste_breit {
/* width:1383px; */
width:100%;
text-align:left;
margin:0 auto;
}

.liste h1,.liste_breit h1 {
margin:20px 0;
}

.liste .head_liste {
width:924px;
height:44px;
background-image:url(../images/bg_listen_head.gif);
}

.liste_breit .head_liste {
/* width:1383px; */
width:100%;
height:44px;
background-image:url(../images/bg_listen_head.gif);
}

.liste .head_liste_links,.liste_breit .head_liste_links {
float:left;
width:5px;
height:44px;
background-image:url(../images/bg_listen_head_links.gif);
background-repeat:no-repeat;
}

.liste .head_liste_rechts,.liste_breit .head_liste_rechts {
float:right;
width:7px;
height:44px;
background-image:url(../images/bg_listen_head_rechts.gif);
background-repeat:no-repeat;
}

.liste .entry_liste,.liste_breit .entry_liste {
clear:both;
height:44px;
margin-left:5px;
}

.liste .linie {
width:924px;
background-image:url(../images/trennlinie_horiziontal.gif);
background-repeat:repeat-x;
height:2px;
overflow:hidden;
}

.liste_breit .linie {
width:1383px;
background-image:url(../images/trennlinie_horiziontal.gif);
background-repeat:repeat-x;
height:2px;
overflow:hidden;
}

.liste_breit .trennervert {
float:left;
/* width:14px; */
width:1%;
height:24px;
background-image:url(../images/trennlinie_vertikal.gif);
background-position: center 0px;
background-repeat:repeat-y;
margin:11px 0 0 0;
}

.head_liste .titel {
float:left;
height:44px;
margin-right:4px;
}

.liste .head_liste .titel p {
padding-top:17px;
font:bold 13px/13px arial, helvetica, sans-serif;
color:#7f7f7f;
text-transform:uppercase;
}

.liste_breit .head_liste .titel p {
padding-top:10px;
font:bold 12px/12px arial, helvetica, sans-serif;
color:#7f7f7f;
}

.entry_liste .eintrag {
float:left;
height:48px;
margin-right:4.5px;
}

.liste .entry_liste .eintrag p {
padding-top:19px;
font:bold 12px/12px arial, helvetica, sans-serif;
color:#004494;
}

.liste_breit .entry_liste .eintrag p {
padding-top:10px;
font:bold 12px/12px arial, helvetica, sans-serif;
color:#004494;
}

.entry_liste .edit {
float:left;
height:48px;
width:77px;
}

.liste_breit .entry_liste .edit {
width:67px;
}

.entry_liste .edit p {
padding-top:17px;
}

.editbutton,
.entry_liste .editbutton {
float:left;
margin-top:1px;
text-indent: -9999px;
margin-right:15px;
width:28px;
height:37px;
background-image:url(../images/editicon.gif);
background-position:0 0;
overflow:hidden;
}

.liste_breit .entry_liste .editbutton {
margin-right:5px;
}
.editbutton:hover,
.entry_liste .editbutton:hover {
background-position:0 -37px;
}

.entry_liste .deletebutton img {
width:24px;
height:24px;
}

.deletebutton,
.entry_liste .deletebutton {
float:left;
margin-top:7px;
text-indent: -9999px;
width:24px;
height:24px;
background-image:url(../images/deleteicon.gif);
background-position:0 0;
overflow:hidden;
}
.deletebutton:hover,
.entry_liste .deletebutton:hover {
background-position:0 -24px;
}

.listecheckbox {
float:left;
height:44px;
padding-top:10px;
margin-right:4px;
margin-bottom:-20px;
}


/* Loginbereich */

h1.login {
	margin-left: 130px;
	margin-bottom: 7px;
	margin-top: 20px;
}

h3.login {
	margin-left: 130px;	
	margin-bottom: 40px;
	color: #777777;
}


.loginbereich  {
clear:both;
margin-bottom:5px;
padding-left: 130px;
}

.loginbereich .linie {
width:653px;
background-image:url(../images/trennlinie_horiziontal.gif);
background-repeat:repeat-x;
height:2px;
overflow:hidden;
}

.loginpfeil {
float:left;
width:42px;
height:42px;
cursor:pointer;
}


.loginbereich .loginbereich_top{
clear:both;
width:720px;
height:5px;
background-image:url(../images/Loginbox_bg_top.gif);
background-repeat:no-repeat;
background-position: left top;
overflow:hidden;
}

.blueformname {
	color: #004494;
	font-weight: bold;
	width: 290px;
	float: left;
	margin-left: 6px;
}

.loginbereich .loginbereich_content {
clear:both;
width:720px;
background-image:url(../images/Loginbox_bg.gif);
background-repeat:repeat-y;
}

.loginbereich .loginbereich_bottom {
clear:both;
width:720px;
height:5px;
background-image:url(../images/Loginbox_bg_bottom.gif);
background-repeat:no-repeat;
background-position: left bottom;
overflow:hidden;
}

.logindaten {
	padding: 0 33px;
	padding-top: 10px;
	
}

.logindaten h3 {
	line-height: 42px;
	margin-left: 20px;
	float: left;
	color: #004494;
	font-size: 20px;	
}


/* FORMULARE */

.formulare {
width:924px;
text-align:left;
margin:0 auto;
}

.globalcheckbox{
   float: right;
   margin-bottom: 5px;
}

.formulare h1 {
margin:20px 0;
}

.formulare .linie {
width:924px;
background-image:url(../images/trennlinie_horiziontal.gif);
background-repeat:repeat-x;
height:2px;
overflow:hidden;
}

.formulare .formlayer {
margin-top:0px;
}

.formulare .formlayer_top {
height:42px;
}

.formulare .formopener {
float:left;
width:42px;
height:42px;
background-image:url(../images/formularpfeil_opener.gif);
background-repeat:no-repeat;
background-position:0 0;
cursor:pointer;
}

.formulare .formopener:hover {
/*background-position:0 -42px;*/
}

.formulare h2 {
float:left;
color:#004494;
padding:12px 0 0 22px;
}

.formulare h3 {
color:#7f7f7f;
padding:0;
font-size: 12px;
}

.ErrorMessageArea {
    margin-left: 200px;
    margin-right: 100px;
    float: left;
}

.formulare .hinweispflicht {
float:right;
color:#004494;
display:none;
padding:12px 0 0;
}

.formulare .formlayer_plus {
clear:both;
margin-left:63px;
display:none;
}

.formulare .formularbereich {
clear:both;
margin-bottom:5px;
}

.formulare .formlayer_plus_top {
clear:both;
width:859px;
height:5px;
background-image:url(../images/bg_formlayer_plus_top.gif);
background-repeat:no-repeat;
background-position: left top;
overflow:hidden;
}

.formulare .formlayer_plus_content {
clear:both;
width:859px;
background-image:url(../images/bg_formlayer_plus.gif);
background-repeat:repeat-y;
}

.formulare .formlayer_plus_bot {
clear:both;
width:859px;
height:5px;
background-image:url(../images/bg_formlayer_plus_bot.gif);
background-repeat:no-repeat;
background-position: left bottom;
overflow:hidden;
}

.inhaltsseite .inhaltsseite_top {
clear:both;
width:859px;
height:5px;
background-image:url(../images/bg_formlayer_plus_top.gif);
background-repeat:no-repeat;
background-position: left top;
overflow:hidden;
}

.inhaltsseite {
clear:both;
width:859px;
background-image:url(../images/bg_formlayer_plus.gif);
background-repeat:repeat-y;
margin-left: 50px;
}

.inhaltsseite .innerwrap{
	padding: 5px 20px;
}

.inhaltsseite .inhaltsseite_bot {
clear:both;
width:859px;
height:5px;
background-image:url(../images/bg_formlayer_plus_bot.gif);
background-repeat:no-repeat;
background-position: left bottom;
overflow:hidden;
}

.inhaltsseite h1 {
	margin: 0 0 15px 0;
}

.inhaltsseite h2 {
	margin: 5px 0 15px 0;
}

.formulare .formulardaten {
padding:4px 20px 0px 20px;
}

.formulare .formulardaten a {
color:#7f7f7f;
}

.formulare .formulardaten a:hover {
color:#000;
}
.logindaten .formname,
.formulare .formulardaten .formname {
float:left;
width:145px;
font:normal 12px/18px arial, helvetica, sans-serif;
color:#004494;
padding-top:10px;
}

.formulare .formulardaten .helpbutton {
float:right;
width:27px;
padding-top: 4px;
cursor:pointer;
overflow:visible;
}

.formulare .formulardaten .helpbutton .helplayer {
position:absolute;
z-index:99;
width:270px;
height:184px;
display:none;
margin-top:22px;
margin-left:-118px;
background-image: url(../images/bg_hilfe.png);background-repeat: no-repeat;
}

.formulare .formulardaten .helpbutton .helplayer p {
text-align:left;
padding: 40px 20px 0 20px;
}


.formulare .formulardaten .formselects {
float:left;
height:26px;
color:#004494;
border-width: 1px;
border-style: solid;
border-color: transparent;
}
.logindaten .formfeld,
.formulare .formulardaten .formfeld,
.formfeld {
float:left;
height:36px;
}

.logindaten .formfeld_end,
.formulare .formulardaten .formfeld_end,
.formfeld_end {
float:left;
width:15px;
height:36px;
background-image:url(../images/bg_formfelder_end.gif);
overflow:hidden;
}

.formulare .formulardaten .error .formfeld_end,
.error .formfeld_end {
background-image:url(../images/bg_formfelder_end_error.gif)!important;
background-repeat:no-repeat;
} 

.formulare .formulardaten .formfeld_end_wide, 
.formfeld_end_wide{
float:left;
width:40px;
height:36px;
background-image:url(../images/bg_formfelder_end_wide.gif);
overflow:hidden;
}

.formulare .formulardaten .error .formfeld_end_wide,
.error .formfeld_end_wide {
float:left;
width:40px;
height:42px;
background-image:url(../images/bg_formfelder_end_wide_error.gif)!important;
background-repeat:no-repeat;
overflow:hidden;
}

.formulare .formulardaten .datepicker,
.datepicker {
margin-top:9px;
margin-left: 2px;
}

.logindaten input.formtext,
.formulare .formulardaten input.formtext,
.formulare .formulardaten input.t-input, 
input.formtext {
height:16px;
background-image:url(../images/bg_formfelder_dyn.gif);
/* Das Background Image benötigt einen negativen Start links von 15px */
background-position: -15px top;
float:left;
border:none;
background-color:transparent;
font:normal 12px/16px arial, helvetica, sans-serif;
color:#000;
margin:0;
/* Padding Links muss entfernt werden */
padding:10px 0 10px 0px;
}

.formulare .formulardaten .error input.formtext,
.error input.formtext {
background-image:url(../images/bg_formfelder_error.gif)!important;
}


.formulare .formulardaten .formbereich {
float:left;
}

.formulare .formulardaten .radiolabel {
float:left;
font:normal 12px/18px arial, helvetica, sans-serif;
color:#004494;
padding:10px 25px 0 0;
}

.formulare .formulardaten .checklabel {
float:left;
font:normal 12px/18px arial, helvetica, sans-serif;
color:#004494;
padding:11px 25px 0 4px;
}

.formbuttons {
clear:both;
margin-top:15px;
}

.globalcheckbox .checklabel {
float:left;
font:normal 12px/18px arial, helvetica, sans-serif;
color:#004494;
padding:11px 0px 0 0;
font-weight: bold;
}


/* SUBMITBUTTONS */

input.submitbutton,input.button {
padding-bottom:2px;
float:right;
background-image:url(../images/bg_formbuttons.gif);
background-repeat:no-repeat;
background-position:0 0;
font:bold 13px/13px arial, helvetica, sans-serif;
color:#fff;
cursor:pointer;
border:none;
background-color:transparent;
width:166px;
height:40px;
margin-left:6px;
overflow:hidden;
text-align:center;
}

input.dynbutton {
height: 25px;
line-height: 25px;
padding: 0 5px;
margin-top: 5px;
margin-left: 7px;
display: inline;
border: none;
overflow: visible;
cursor: pointer;
background-image: url(../images/bg_dynbutton.gif);
background-position: 0px 0px;
background-color:transparent;
font:bold 13px/13px arial, helvetica, sans-serif;
color:#fff;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;


}
input.dynbutton:hover {
background-position: 0 26px;
}

input.submitbutton {
background-image:url(../images/bg_submitbuttons.gif);
}

input.button:hover {
background-position:0 -40px;
}

input.submitbutton:hover {
background-position:0 -40px;
}




/* FOOTER BEREICH */

#footer {
position:fixed;
bottom: 0px;
left: 0px;
width:100%;
height:30px;
background-image:url(../images/bg_footer.png);
background-repeat:repeat-x;
z-index: 6999;
}

#footer	.footcontent {
width:962px;
text-align:left;
margin:0 auto;
}

#footer	.footcontentl {
float:left;
font:normal 12px/12px arial, helvetica, sans-serif;
color:#fff;
padding:10px 0 0 32px;
}

#footer	.footcontentl a {
text-decoration:none;
color:#fff;
padding-left:25px;
background-image:url(../images/pfeil_footer.gif);
background-repeat:no-repeat;
background-position:0 5px;
}

#footer	.footcontentr {
float:right;
font:normal 12px/12px arial, helvetica, sans-serif;
color:#fff;
padding:10px 32px 0 0;
}


/* Telrik Styles */

.GridView {
	border: 0px;
}



.GridTableHead {
	height:44px;
	background-image:url(../images/bg_listen_head.gif);
    background-repeat: repeat-x;
}
.GridTableHead th {
    color: #7F7F7F;
    font: bold 12px/12px arial,helvetica,sans-serif;
    text-transform: uppercase;
    padding-left: 10px;
    padding-top: 3px;
    text-align:left;

}


.GridTableHead th.colheaderstart {
    background: transparent;
    background-image: url("../images/bg_listen_head_links.gif");
    background-repeat: no-repeat;
    
}

.GridTableHead th.colheaderend {
	background: transparent;
    background-image: url("../images/bg_listen_head_rechts.gif");
    background-repeat: no-repeat;
    background-position: top right;
}

.GridTableHead th span,
.GridTableHead th a,
.GridTableHead th a:link {
	 color: #7F7F7F;
	 text-decoration: none!important;
     margin-top: 4px;
     display: block; 
     float: left;
}   
.GridTableHead th span.tableCheckbox {
    margin-top: 0px!important;
}
.GridTableAlternate {
	background-color: transparent!important;
}

.GridTableAlternate td, 
.ItemStyle td {
    height: 44px;
    padding-right: 4px;  
    background-image: url("../images/trennlinie_horiziontal.gif");
    background-position: bottom left;
    background-repeat: repeat-x;
    padding-left: 10px;
    color: #004494;
   font: bold 12px/12px arial,helvetica,sans-serif;
        
}

.subheaderrow {
	background: #fff;
}

.GridTableAlternate td span,
.ItemStyle td span {
    color: #004494;
    font: bold 12px/12px arial,helvetica,sans-serif;
    padding-top: 9px;
    
}

.legenditem {
	float: left;
	width: 200px;
	margin-top: 6px;
}

.legenditemSmall {
	float: left;
    margin-left: 15px;
}

.legendcontent {
	padding: 10px;
	border: 1px solid #D3D3D3;
	margin-top: 15px;
	background: #fff;
}

.legendcontentSmall {
    margin-top: 5px;
	background: #fff;
}

.clear {
	clear: both;
}

.advice {
	color: #004494;
	text-decoration: underline;
	margin: 15px 0;
}

p.haftung {
	margin-top: 5px;
}

.linkelements {
	margin-bottom: 15px;
}

.linkelements .linkelement {
	float: left; 
	margin-right: 100px;
}

.rcbInputCell {
position: relative!important;
margin:6px 0 0 6px!important;
padding-left: 6px!important;
text-decoration: none!important;
text-align: left!important;
outline: none!important;
vertical-align: middle!important;
cursor: default!important;
height:27px!important;
background-repeat: no-repeat!important;
font: normal 12px/26px arial, helvetica, sans-serif!important;
color:#7f7f7f!important;
background-image: url(../images/bg_select.gif)!important;
background-position: left top!important;
border: 0px!important;
}
.rcbInput {
font: normal 12px/12px arial, helvetica, sans-serif!important;
}

.RadComboBox .rcbArrowCell a {
	width: 28px!important;
}

.rcbArrowCell {
	border: 0px!important;
	width: 28px!important;
	height: 27px!important;
	background: url(../images/select_pfeil.gif) no-repeat!important;
}


.riTextBox {
height:36px!important;
background-image:url(../images/bg_formfelder.png)!important;
float:left!important;
border:none!important;
background-color:transparent!important;
font:normal 12px/35px arial, helvetica, sans-serif!important;
color:#7f7f7f!important;
margin:0!important;
padding:0 0 0 15px!important;	
}

#ctl00_ContentPlaceHolder1_txtService2_text   {
    height:80px!important;
    background-image:none!important;
    background-color:White!important;
    border: 1px solid #D3D3D3!important;
    padding:0 0 0 0px!important;	
    line-height: 16px!important;
}
.inputHoverClass {
	background-image:url(../images/bg_formfelder_on.gif)!important;
}

.rcInputCell {
	padding-right: 0px!important;
}

.datepicker_end {
width:15px;
height:36px;
background-image:url(../images/bg_formfelder_end.png);
overflow:hidden;
}

.RadComboBox {

    z-index: 1!Important;
}
.RadComboBoxDropDown {
    background-color:#FFFFFF;
    border: 1px solid #CECECE;
   
}

.RadComboBoxDropDown .rcbHovered {
    color:#00AFCB;
    background-color:#EEEEEE;
}

.RadComboBoxDropDown .rcbMoreResults a {

    background-image:url(../images/rcbSprite.png);
    background-position: -157px -94px;
}

.dynFields
{

}

.RadGrid .rgHeader, .RadGrid th.rgResizeCol {
    color: #7F7F7F!important;
    font: bold 12px/12px arial,helvetica,sans-serif!important;
    text-transform: uppercase;
    padding-left: 10px!important;
    padding-top: 3px!important;
    text-align:left!important;
}

.RadGrid .rgDetailTable {
    border-style: none!important;
}

.RadGrid .rgRow td, .RadGrid .rgAltRow td, .RadGrid .rgEditRow td, .RadGrid .rgFooter td, .RadGrid .rgFilterRow td, .RadGrid .rgHeader, .RadGrid .rgResizeCol, .RadGrid .rgGroupHeader td {
    padding-left: 10px!important;
    padding-right: 3px!important;
}

.RadGrid th.colheaderstart {
    background: transparent;
    background-image: url("../images/bg_listen_head_links.gif");
    background-repeat: no-repeat;
    
}

.RadGrid th.colheaderend {
	background: transparent;
    background-image: url("../images/bg_listen_head_rechts.gif");
    background-repeat: no-repeat;  
    background-position: top right;
}

.RadGrid .rgAdd, .RadGrid .rgRefresh, .RadGrid .rgEdit, .RadGrid .rgDel, .RadGrid .rgDrag, .RadGrid .rgFilter, .RadGrid .rgPagePrev, .RadGrid .rgPageNext, .RadGrid .rgPageFirst, .RadGrid .rgPageLast, .RadGrid .rgExpand, .RadGrid .rgCollapse, .RadGrid .rgSortAsc, .RadGrid .rgSortDesc, .RadGrid .rgUpdate, .RadGrid .rgCancel, .RadGrid .rgUngroup, .RadGrid .rgExpXLS, .RadGrid .rgExpDOC, .RadGrid .rgExpPDF, .RadGrid .rgExpCSV {
    background-color: transparent;
    background-repeat: no-repeat;
    border: 0 none;
    cursor: pointer;
    font-size: 1px;
    height: 21px!important;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    width: 21px!important;
}

.RadGrid_Default .rgExpand {
    background-position: 0px 0px;
}
.RadGrid_Default .rgCollapse {
    background-position: 0px -21px
}

 .RadGrid_Default .rgExpand, .RadGrid_Default .rgCollapse{
    background-image:url(../images/Radgrid_opener.gif);
    /*background-image: url("WebResource.axd?d=mwR-nXA9DQSKtn9NFucPt2UqEQc5ELDgp07VkrN7JM6fYn3TWJ5W3nHAqpQTW0REzrRIefc4N6793vg3C4hjf3Fl0CrZhkeoXyVT_BS2E6pEBWKdBGnG9t0Yk6DgJIVChQFZn0jKO0YH3D-zqPH46UWAuSQ1&t=634612891780000000");
    */
}

.RadGrid_Default .rgExpXLS {
    background-position: 0 0;
}
.RadGrid_Default .rgExpPDF {
    background-position: 0 -100px;
}
.RadGrid_Default .rgExpXLS, .RadGrid_Default .rgExpDOC, .RadGrid_Default .rgExpPDF, .RadGrid_Default .rgExpCSV {
    background-image: url("../images/Grid/export.gif");
}

.Textbox110 {
    width: 110px;
}
    
.logindaten .formfeld_start,
.formulare .formulardaten .formfeld_start, 
.formfeld_start {
	float:left;
	width:15px;
	height:36px;
	background-image: url("../images/bg_formfelder_dyn.gif");
	overflow:hidden;
}

input.formtext.textbox_focus {
    background-image:url(../images/bg_formfelder_on_dyn.gif)!important;
}

.formfeld_start.textbox_focus {
	background-image:url(../images/bg_formfelder_on_dyn.gif)!important;
}

.formfeld_end.textbox_focus {
	background-image:url(../images/bg_formfelder_end_on_dyn.gif)!important;
}

.formfeld_end_wide.textbox_focus {
	background-image:url(../images/bg_formfelder_end_wide_on.gif)!important;
}

.formulare .formulardaten .error .formfeld_start {
	background-image:url(../images/bg_formfelder_error.gif)!important;
}

.TextUpperCase {
    text-transform: uppercase;
}

.formselects.error {
    border-color: red!important;
}

.HighlightOnHover:hover {
    text-decoration: underline;
    cursor: pointer;
}