@model CkgDomainLogic.Autohaus.Models.ZiPoolDetaildaten

<style>

    .dd-handle  {
        height: auto;
        cursor: auto !important;
        border-radius: 5px !important;
    }

    .zipool-item-original {
        background-color: #6E8CBF;
        color: #ffffff;
    }

    .zipool-item-copy {
        background-color: #9B9B9B;
        color: #ffffff;
    }
    
    .zipool-item-error {
        background-color: #f2dede;
    }
    
</style>

<ul id="ZiPoolInfo" class="dd-list">
    
    @foreach (var item in Model.ErforderlicheDokumente)
    {
        <li class="dd-item">
            <div class="dd-handle @item.StyleCssClass">
                @item.Text
            </div>
        </li>
    }

</ul>
