@model CkgDomainLogic.Uebfuehrg.Models.HistoryAuftrag

<div id="divHistoryAuftragDetails">
    @using (Ajax.BeginForm(null, null, null,
        new MvcAjaxOptions("divHistoryAuftragDetails"), new { id = "HistoryAuftragDetailsForm" }))
    {    
        <div class="form-horizontal" id="dummyForm">
            
            <button onclick="CloseHistoryAuftragDetails();" class='btn blue'><i class='icon-chevron-left margin-right-5'></i>@Localize.Back</button>
            
            <h4>
            @Model.AuftragsNr
            </h4>

            <h4>
            @Model.Fahrt
            </h4>

        </div>  
    }
</div>
