@model CkgDomainLogic.Uebfuehrg.ViewModels.UebfuehrgReportViewModel

<style type="text/css">
    #dummyForm.form-horizontal .control-group { margin-bottom: 0!important; }
    img.fahrer-thumbnail {
        cursor: pointer;
        padding: 3px;
        margin: 5px;
        border: 1px solid #afafaf;
        box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.15);
    }
</style>

<div class="row-fluid">
    <div class="span8">
        @using (Html.PortletBox("Details", "icon-table"))
        {
            @Html.Partial("Partial/HistoryAuftragDetails", Model.HistoryAuftragCurrent)
        }
    </div>

    <div class="span4" id="HistoryProtokolle">
        @if (Model.PdfFilesAvailable)
        {
            using (Html.PortletBox("Protokolle", "icon-copy", "purple"))
            {
                <a href="HistoryDownloadPdfFiles" class="btn grey tooltips" data-original-title="Protokolle als PDF downloaden" data-placement="top"> PDF Download <i class="icon-download-alt margin-left-10"></i></a>
            }
        }
        
        @foreach (var tour in Model.ImageFileTours)
        {
            using (Html.PortletBox("Fotos, Fahrt " + tour, "icon-picture", "blue"))
            {
                foreach (var thumbImageFile in Model.GetThumbImageFileNamesForTour(tour))
                {
                    <img class="fahrer-thumbnail" src="@thumbImageFile" alt="" onclick=" ShowBigImage(@tour, @Model.GetIndexFromFilename(thumbImageFile)); " />
                }
            }
        }
    </div>
</div>

