@model CkgDomainLogic.Uebfuehrg.ViewModels.UebfuehrgReportViewModel

<div class="row-fluid">
    <div class="span8">
        @using (Html.PortletBox("Details", "icon-table"))
        {
            @Html.Partial("Partial/HistoryAuftragDetails", Model.HistoryAuftragCurrent)
        }
    </div>

    <div class="span4" id="HistoryProtokolle">
        @if (Model.PdfFilesAvailable)
        {
            using (Html.PortletBox("Protokolle", "icon-copy", "purple"))
            {
                <a class="pdf" href="HistoryDownloadPdfFiles">PDF Download</a>
            }
        }
        
        @foreach (var tour in Model.ImageFileTours)
        {
            using (Html.PortletBox("Fotos, Fahrt " + tour, "icon-picture", "blue"))
            {
                foreach (var thumbImageFile in Model.GetThumbImageFileNamesForTour(tour))
                {
                    <img src="@thumbImageFile" alt="" onclick=" ShowBigImage(@tour, @Model.GetIndexFromFilename(thumbImageFile)); " />
                }
            }
        }
    </div>
</div>

