@model CkgDomainLogic.Uebfuehrg.ViewModels.UebfuehrgReportViewModel

@Html.Partial("Partial/HistoryAuftragDetails", Model.HistoryAuftragCurrent)

<div id="HistoryProtokolle">
    @if (Model.PdfFilesAvailable)
    {
        <h3>Protokolle</h3>
        <div>
            <a class="pdf" href="HistoryDownloadPdfFiles">PDF Download</a>
        </div>
    }

    @foreach (var tour in Model.ImageFileTours)
    {
        <h3>Fotos, Fahrt @tour</h3>
        <div>
            @foreach (var thumbImageFile in Model.GetThumbImageFileNamesForTour(tour))
            {
                <img src="@thumbImageFile" alt="" onclick="ShowBigImage(@tour, @Model.GetIndexFromFilename(thumbImageFile));" />
            }
        </div>
    }
</div>