<div class="hide">
    <!-- Workaround for Telerik Grid on Ajax Partial View Loading -->
    @{
        try { Html.Telerik().Grid<string>().Name("TelerikTestGrid").Render(); }
        catch { }
    }
</div>

@Html.Partial("Partial/TelerikExtensionsStyles")
@Html.Partial("Partial/TelerikExtensionsScripts")
