@model CkgDomainLogic.FzgModelle.ViewModels.StatusEinsteuerungViewModel

@section LayoutScript { _controlGroupValidationType = "default"; }

<h3 class="page-title">@Localize.Report_Statusbericht</h3>

<div class="hide">
    @using (Html.FormSearchBox())
    {
        @Html.Partial("Partial/Suche", null)
    }
</div>

<div class="portlet" id="GridStatus"></div>

@Html.Partial("Partial/Common")

