@model CkgDomainLogic.FzgModelle.ViewModels.StatusEinsteuerungViewModel

@section LayoutScript { _controlGroupValidationType = "default"; }

@Html.Partial("Partial/Common")

<h3 class="page-title">@Localize.Report_StatusEinsteuerung</h3>


<div class="hide">
    @using (Html.FormSearchBox())
    {
        @Html.Partial("Partial/Suche", null)
    }
</div>


<div class="portlet">
    <div id="divGrid">
        @Html.Partial("Partial/Grid")
    </div>
</div>






