@model CkgDomainLogic.FzgModelle.ViewModels.StatusEinsteuerungViewModel

@section LayoutScript { _controlGroupValidationType = "default"; }

@Html.Partial("Partial/Common")

<h3 class="page-title">Status Einsteuerung</h3>

<div class="portlet">
    <div id="divGrid">
        @Html.Partial("Partial/Grid")
    </div>
</div>






