
.page-sidebar
{
    background-color: #3d3d3d !important;
    min-height: 1560px;
}
@media (max-width: 1079px) {
    .page-sidebar
    {
        min-height: 0px;
    }
}
.footer
{
    background-color: #3d3d3d !important;

    bottom: 0;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    margin-bottom: 0;
}
@media (max-height: 800px) {
    .footer
    {
        font-size: 9px;
        height: 15px;
        padding: 2px 3px 0px 10px;
    }
}
.footer a {
    color: #b6b6b6!important;
}

.m-wrap.hasDatepicker {
    width: 180px;
}
.m-wrap.smaller {
    width: 90px !important;
}
.m-wrap.xlarge {
    width: 520px !important;
}
.m-wrap.xxlarge {
    width: 720px !important;
}
@media (max-width: 600px) {
    .m-wrap.xlarge {
      width: 320px !important;
    }
    .m-wrap.xxlarge {
      width: 520px !important;
    }
}
@media (max-width: 400px) {
    .m-wrap.xlarge {
      width: 220px !important;
    }
    .m-wrap.xxlarge {
      width: 420px !important;
    }
}



textarea.m-wrap {
    height: auto !Important;
}

.step {
    cursor: default!important;
}


.icon-close 
{
    display: none;
    margin-top: 10px;
    width: 25px;
    height: 25px;
    float: right;
    background:#3d3d3d url(../assets/img/icon-color-close.png) center no-repeat !important;
    cursor: pointer;
}

.icon-close:hover {
    background:#222 url(../assets/img/icon-color-close.png) center no-repeat !important;
}

.gray, .m-wrap.gray {
    background-color: #aaa;
}

input[disabled].m-wrap,
select[disabled].m-wrap,
textarea[disabled].m-wrap,
input[readonly].m-wrap,
select[readonly].m-wrap,
textarea[readonly].m-wrap {
  cursor: not-allowed;
  background-color: #eeeeee;
}

.padding-left-5 {
    padding-left: 5px;
}
.padding-left-10 {
    padding-left: 10px;
}
.padding-left-15 {
    padding-left: 15px;
}
.padding-left-30 {
    padding-left: 30px;
}
.padding-left-40 {
    padding-left: 40px;
}

.padding-right-5 {
    padding-right: 5px;
}
.padding-right-10 {
    padding-right: 10px;
}
.padding-right-15 {
    padding-right: 15px;
}
.padding-right-30 {
    padding-right: 30px;
}
.padding-right-40 {
    padding-right: 40px;
}


.padding-top-2 {
    padding-top: 2px;
}
.padding-top-3 {
    padding-top: 3px;
}
.padding-top-4 {
    padding-top: 4px;
}
.padding-top-5 {
    padding-top: 5px;
}
.padding-top-7 {
    padding-top: 7px;
}
.padding-top-10 {
    padding-top: 10px;
}
.padding-top-15 {
    padding-top: 15px;
}

.padding-bottom-1 {
    padding-bottom: 1px;
}
.padding-bottom-5 {
    padding-bottom: 5px;
}
.padding-bottom-7 {
    padding-bottom: 7px;
}
.padding-bottom-10 {
    padding-bottom: 10px;
}
.padding-bottom-15 {
    padding-bottom: 15px;
}

.margin-left-30 {
    margin-left: 30px;
}
.margin-left-40 {
    margin-left: 40px;
}
.margin-left-50 {
    margin-left: 50px;
}
.margin-left-180 {
    margin-left: 180px;
}

.margin-right-30 {
    margin-right: 30px;
}
.margin-right-40 {
    margin-right: 40px;
}
.margin-right-50 {
    margin-right: 50px;
}

.no-top-margin {
  margin-top: 0 !important;
}
.no-bottom-margin {
  margin-bottom: 0 !important;
}

.margin-bottom-5 {
    margin-bottom: 5px;
}

.no-break-container {
    display: inline-block;
}

/*
.alert {
    padding-bottom: 3px;
}
*/



.caption .step-title {
    margin-top: 2px!important;
    display: inline-block;
}

/* Ergänzende Klasse zu form-actions (für obere Menüleiste auf den Seiten) */
.PageTopMenu {
    background-color: #ffffff;
    border-top-style: none;
    padding-left: 0;
    padding-top: 0;
    margin-top: 0;
}

.span4 a {
    text-align: center!important;
}


.grid-cellOk {
    color:green; 
    font-weight:bold;
    padding-left: 35px!important;
    background:url(../images/commands/24x24/OK.png) 5px 8px no-repeat !important;
}
.grid-cellError {
    color:red; 
    font-weight:bold;
    padding-left: 35px!important;
    background:url(../images/commands/24x24/warning.png) 5px 6px no-repeat !important;
}
.grid-rowOk {
    font-weight:bold; color:#004400;background-color: #ddffdd;
}
.grid-rowOkAlt {
    font-weight:bold; color:#004400;background-color: #d3f3d3;
}
.grid-rowError {
    font-weight:bold; background-color: #ffeeee;
}
.grid-rowErrorAlt {
    font-weight:bold; background-color: #f6e6e6;
}







.inline-block {
    display: inline-block!important;
}

/* "form-horizontal"-Divs mit diesen Klassen versehen, um die Labelbreite auf bestimmte Werte festzulegen */

.form-horizontal.form-non-bordered .controls > .radio, 
.form-horizontal.form-non-bordered .controls > .checkbox {
    margin-top: 7px!important;
}
.form-horizontal.form-bordered .controls > .radio, 
.form-horizontal.form-bordered .controls > .checkbox {
    margin-top: 5px!important;
}

.label-width-0 .control-label {
    width: 0 !Important;
}
.label-width-0 .controls {
    margin-left: 10px !Important;
}
.label-width-100 .control-label {
    width: 100px !Important;
}
.label-width-100 .controls {
    margin-left: 110px !Important;
}
.label-width-120 .control-label {
    width: 120px !Important;
}
.label-width-120 .controls {
    margin-left: 130px !Important;
}
.label-width-130 .control-label {
    width: 130px !Important;
}
.label-width-130 .controls {
    margin-left: 140px !Important;
}
.label-width-140 .control-label {
    width: 140px !Important;
}
.label-width-140 .controls {
    margin-left: 150px !Important;
}
.label-width-150 .control-label {
    width: 150px !Important;
}
.label-width-150 .controls {
    margin-left: 160px !Important;
}
.label-width-175 .control-label {
    width: 175px !Important;
}
.label-width-175 .controls {
    margin-left: 185px !Important;
}
.label-width-200 .control-label {
    width: 200px !Important;
}
.label-width-200 .controls {
    margin-left: 210px !Important;
}
.label-width-250 .control-label {
    width: 250px !Important;
}
.label-width-250 .controls {
    margin-left: 260px !Important;
}
.label-width-275 .control-label {
    width: 275px !Important;
}
.label-width-275 .controls {
    margin-left: 285px !Important;
}
.label-width-300 .control-label {
    width: 300px !Important;
}
.label-width-300 .controls {
    margin-left: 310px !Important;
}

.uppercase {
    text-transform: uppercase;
}

.label-info {
  background-color: #ffffdd;
  color: black;
}

.app-view {
    margin-top: 15px;
}

.icon-calendar {
    vertical-align: middle;
}

.SDateRangePicker .icon-calendar {
    vertical-align: top!important;
}

.form-wizard .step {
    
}
.form-wizard .step span.number {
  padding: 5px 9px 6px 9px !important;
    vertical-align: middle;
}

.formWizardStepDescWrapper {
    white-space: nowrap;
}
.form-wizard .step span.formWizardStepDesc {
    font-size: 0.8em;
    vertical-align: middle;
}
.form-wizard .steps {
    padding: 0px;
}
.form-wizard .navbar {
    margin-bottom: 0;
}
.form-wizard .navbar-inner {
    padding-left: 0!important;
    padding-right: 0!important;
}
.form-wizard {
    padding-top: 10px;
}
.progress {
    height: 13px;
    margin-left: 0px;
    margin-right: 0px;
}


.form-horizontal .form-actions {
    margin-top: 0px;
    border-top: 0;
}


.form-horizontal.formlabelwidth80 .control-label {
    text-align: right;
    width: 80px;
}
.form-horizontal.formlabelwidth80 .controls {
    margin-left: 80px;
}
.form-horizontal.formlabelwidth80 .form-actions {
    padding-left: 94px!important;
}


.form-horizontal.formlabelwidth100 .control-label {
    text-align: right;
    width: 100px;
}
.form-horizontal.formlabelwidth100 .controls {
    margin-left: 100px;
}
.form-horizontal.formlabelwidth100 .form-actions {
    padding-left: 114px!important;
}


.form-horizontal.formlabelwidth120 .control-label {
    text-align: right;
    width: 120px;
}
.form-horizontal.formlabelwidth120 .controls {
    margin-left: 120px;
}
.form-horizontal.formlabelwidth120 .form-actions {
    padding-left: 134px!important;
}


.form-horizontal.formlabelwidth150 .control-label {
    text-align: right;
    width: 150px;
}
.form-horizontal.formlabelwidth150 .controls {
    margin-left: 150px;
}
.form-horizontal.formlabelwidth150 .form-actions {
    padding-left: 164px!important;
}


.form-horizontal.formlabelwidth200 .control-label {
    text-align: right;
    width: 200px;
}
.form-horizontal.formlabelwidth200 .controls {
    margin-left: 200px;
}
.form-horizontal.formlabelwidth200 .form-actions {
    padding-left: 214px!important;
}


.form-horizontal.formlabelwidth210 .control-label {
    text-align: right;
    width: 210px;
}
.form-horizontal.formlabelwidth210 .controls {
    margin-left: 210px;
}
.form-horizontal.formlabelwidth210 .form-actions {
    padding-left: 224px!important;
}


.form-horizontal.formlabelwidth240 .control-label {
    text-align: right;
    width: 240px;
}
.form-horizontal.formlabelwidth240 .controls {
    margin-left: 240px;
}
.form-horizontal.formlabelwidth240 .form-actions {
    padding-left: 254px!important;
}


.form-horizontal.formlabelwidth250 .control-label {
    text-align: right;
    width: 250px;
}
.form-horizontal.formlabelwidth250 .controls {
    margin-left: 250px;
}
.form-horizontal.formlabelwidth250 .form-actions {
    padding-left: 264px!important;
}


.form-horizontal.formlabelwidth260 .control-label {
    text-align: right;
    width: 260px;
}
.form-horizontal.formlabelwidth260 .controls {
    margin-left: 260px;
}
.form-horizontal.formlabelwidth260 .form-actions {
    padding-left: 274px!important;
}

.form-horizontal.formlabelwidth262 .control-label {
    text-align: right;
    width: 262px;
}
.form-horizontal.formlabelwidth262 .controls {
    margin-left: 262px;
}
.form-horizontal.formlabelwidth262 .form-actions {
    padding-left: 276px!important;
}


.form-horizontal.formlabelwidth300 .control-label {
    text-align: right;
    width: 300px;
}
.form-horizontal.formlabelwidth300 .controls {
    margin-left: 300px;
}
.form-horizontal.formlabelwidth300 .form-actions {
    padding-left: 314px!important;
}

.form-horizontal .FormDateRangePickerWrapper {
    padding-top: 5px;
}
.form-horizontal .FormDateRangePickerCheckBox {
    padding-top: 2px;
}
.form-horizontal .checker {
    padding-top: 3px;
}

.form-horizontal span.validation-message {
    color: red;
    margin-top: 4px;
    margin-left: 5px;
    display: inline-block;
}
.form-horizontal span.validation-message i {
    padding-right: 3px;
}

.form-horizontal-multicolumns {
    display: table-cell;
}
.form-horizontal-multicolumns.spacerleft {
    padding-left: 162px;
}




.validation-summary-errors {
    margin-top: 20px;
}
.validation-summary-errors.alert-success {
    color: darkgreen;
}
/*
.validation-summary-errors {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid lightgray;
    padding: 10px;
    padding-bottom: 0px;
    background-color: yellow;
    color: #b94a48;
    font-size: 1.1em;
}
.validation-summary-errors a {
    color: #b94a48;
}
.validation-summary-errors a {
    color: #b94a48;
}
.validation-summary-errors ul {
    margin-top: 3px;
    margin-bottom: 3px;
}
.validation-summary-errors {
    padding: 4px;
}
form .validation-summary-errors 
{
    margin-top: 0;
}
*/


.alert ul {
    margin: 0!important;
    padding: 0!important; 
}
.alert ul li {
    margin: 0!important;
    padding: 0!important;
    list-style: none;
    font-weight: bold;
}
.alert.alert-error a {
    color: #b94a48!important;
}




.message-icon-preceding {
    margin-left: 5px;
    display: inline-block;
}


/* <Telerik Grid> */

.t-grid  {
    border-width: 1px 1px 0 1px;
    border-color: #fff;/*#e6e6e6;*/
    
}

.t-grid-header {
    background-color: white;
}
.t-grid-header th 
{
    background-color: white;
}
.t-grid-header .t-header {
    background-color: white;
}
.t-toolbar{
    background-color: white;
}
.t-grid-toolbar:first-child{
    border-collapse:collapse!important;
    border-color: #e6e6e6!important;
    border-width: 0px 0px 0px 0px!important;
    padding: 7px 7px 7px 7px!important;
}
.t-grid-pager {
    background-color: white;
    border-color: #fff!important; /*#e6e6e6!important;*/
    border-width: 0px 0px 1px 0px!important;
    padding: 7px 7px 7px 7px!important;
}
.t-grid-pager a {
    color: black!important;
}
.t-status{
    background-color: white!important;
    border-color: #e6e6e6!important;
    border-width: 0px 0px 0px 0px!important;
}
.t-grid td {
    border-collapse:collapse!important;
    border-color: #e6e6e6!important;
    border-width: 0px 0px 0px 1px!important;
    padding: 7px;
    white-space: nowrap;
}
.t-grid td:first-child {
    border-width: 0px 0px 0px 0px!important;
}
.t-grid th {
    border-collapse:collapse!important;
    border-color: #e6e6e6!important;
    border-width: 0px 0px 0px 1px!important;
    font-weight: bold!important;
    padding: 7px 7px 7px 7px!important;
}
.t-grid th:first-child {
    border-width: 0px 0px 0px 0px!important;
}
.t-state-hover {
    background-color: #f6f6f6!important;
    border-color: gray!important;
}
.t-filter-options input {
    width: 134px!important;
}
.t-widget.t-grid 
{
}
.t-widget.t-grid table
{
    width: 120px!important;
    background-color: white;
}
.t-widget.t-grid .table-no-paging
{
    display: table;
}

/* <column header right click menu> */
ul.t-group {
    width: 800px;
    background-color: white;
    position: absolute!important;
}
ul.t-group li.t-item {
    background-color: white;
    float: left;
}
li.t-item .t-link input[type="checkbox"] {
    margin-top: -1px!important;
    margin-right: 5px!important;
}
/* </column header right click menu> */

.t-grid-header .t-header .t-link {
}

.t-arrow-down {
}

.t-grid-filter {
}

div.t-window-content {
}

div.t-window {
}


.t-window-titlebar {
}

.t-window-titlebar .t-window-actions
{
}

.t-grouping-header 
{
    padding-left: 15px;
}
.t-grid-multi-row-select {
    cursor: pointer!important;
    background-color: #fff;
}


.t-grid-selected {
    background-color: #dff0d8!important;
}
.t-grid-selected-alt {
    background-color: #d0f0c6!important;
}

.t-grid-error {
    background-color: #ffeeee!important;
}
.t-grid-error-alt {
    background-color: #f6e6e6!important;
}

.t-grid-selected.t-grid-error {
    background-color: #FFF9EE!important;
}
.t-grid-selected-alt.t-grid-error-alt {
    background-color: #F6F2E6!important;
}

.t-grid-confirmed {
    background-color: #E2FBE2!important;
}
.t-grid-confirmed-alt {
    background-color: #D7FCD7!important;
}

.t-grid-unconfirmed {
    background-color: #ffffd8!important;
}
.t-grid-unconfirmed-alt {
    background-color: #ffffc6!important;
}



.text-box.single-line {
    width: 150px;
}


/* </Telerik Grid> */


.beauftragung h4 {
    margin-left: 10px;
}


/* <Summary> */
.SummaryItems 
{
    margin-left: 2px; 
    padding-bottom: 20px;
}
.SummaryItem {
    float: left;
    margin-left: 25px;
    margin-right: 25px;
    display: inline-flexbox;
    padding-bottom: 10px;
    min-height: 150px;
}
.SummaryMainItem {
    float: none;
    background-color: #fffff6;
    margin-top: 20px;
    margin-bottom: 10px;
    min-height: 20px!important;
    height: auto!important;
}
.SummaryItemTitle {
    font-weight: bold;
    margin-bottom: 0;
}
.SummaryItemBody {
    margin-bottom: 0;
    margin-left: 1px;
}

.SummaryItemsFullWidth {
    margin-left: 2px; 
    margin-top: 10px;
}
.SummaryItemFullWidth {
   margin-top: 2px;
}
.SummaryItemTitleFullWidth {
    margin-top: 2px;
}
.SummaryItemBodyFullWidth {
    margin-top: 1px;
    min-height: 20px;
}

.SummaryAddressHint {
    margin-top: 5px;
    height: 30px;
}
/* </Summary> */


/* <Loading> */
.loading,.loading2 {
    position: absolute;
    left: 500px;
    top: 300px;
    z-index: 99999;
}
/* </Loading> */


/* <Multi Selection> */
.ms-selection .ms-list li {
    /*color: #00a000!important;*/
}
.ms-list li {
    background-color: #f9f9f9;
}
.ms-list li.ms-hover {
    background-color: #fff!important;
}
.ms-list li i 
{
    color: #777;
    margin-left: 5px;
    float: right;
}
/* </Multi Selection> */


.contact-blocks {
    height: 170px;
    float: left;
    margin-bottom: 25px;
    margin-right: 25px;
}
.contact-blocks .contact-img {
    margin-right: 15px;
    width: 100px;
}
.contact-blocks .contact-info {
    width: 211px;
}


.app-owner-postfix {
    margin-left: 5px;    
}
@media (max-width: 490px) {
    .app-owner-postfix {
        display: none;
    }
}


.table-input-dummy {
    border: 1px solid #ddd;
    padding: 2px;
    min-height: 10px;
    margin-bottom: 0;
}

span.m-wrap {
    display: block;
    font-weight: bold;
    padding-top: 2px;
    min-height: 20px;
    border: 0px solid #f0f0f0;
}
span.m-wrap.font-normal { font-weight: normal!important; }
.font-bold { font-weight: bold; }

.portlet span.m-wrap {
    margin-top: 1px;
}

.overflow-x-auto {
  overflow-x:auto;
}


.t-grouping-header {
    background-color: white;
    border-color: white;
    color: #d9d9d9;
    padding-left: 8px;
}


i.menu-item {
    display: inline-block;
    width: 16px;
    height: 17px;
    padding-left: 25px;
    font-style: normal;
}
i.excel-export 
{
    background: transparent url(../images/metronic/excel.png) 0 1px no-repeat !important;
}
i.pdf-export 
{
    background: transparent url(../images/metronic/pdf.png) 0 1px no-repeat !important;
}

.cursor-pointer {
    cursor: pointer;
}

.form-actions a.btn.white-font {
    color: white;
}

.one-pixel {
    width: 1px!important;
    height: 1px!important;
}

.t-upload-button {
    width: 90px;
}

.t-upload-button, .t-upload-selected, .t-upload-files {
    padding-top: 7px;
    padding-bottom: 7px;
    border-width: 0;
}

.tooltips { }

.white-space-no-wrap { white-space: nowrap; }


@media (max-width: 450px) {
 input.grid-column-overall-filter { width: 50px!important; }
 .grid-rows-per-page-label { display: none; }
}
@media (min-width: 451px) {
 input.grid-column-overall-filter { width: 80px!important; }
 .grid-rows-per-page-label { display: inline; }
}
@media (min-width: 651px) {
 input.grid-column-overall-filter { width: 150px!important; }
}


/* Smarthone device width */
@media (max-width: 550px) 
{
    
 .smartphone { display: table-cell; }
 .smartphone-block { display: block; }
 .smartphone-inline { display: inline; }
 .smartphone-or-wider { display: table-cell; }
 .smartphone-or-wider-block { display: block; }
 .smartphone-or-wider-inline { display: inline; }
 
 .tablet { display: none; }
 .tablet-block { display: none; }
 .tablet-inline { display: none; }
 .tablet-or-wider { display: none; }
 .tablet-or-wider-block { display: none; }
 .tablet-or-wider-inline { display: none; }
 
 .workstation { display: none; }
 .workstation-block { display: none; }
 .workstation-inline { display: none; }
 .workstation-or-wider { display: none; }
 .workstation-or-wider-block { display: none; }
 .workstation-or-wider-inline { display: none; }

 .t-grid th.smartphone, .t-grid td.smartphone { border-width: 0!important; }
}    

/* Tablet device width */
@media (min-width: 551px) and (max-width: 1200px) 
{
    
 .smartphone { display: none; }
 .smartphone-block { display: none; }
 .smartphone-inline { display: none; }
 .smartphone-or-wider { display: table-cell; }
 .smartphone-or-wider-block { display: block; }
 .smartphone-or-wider-inline { display: inline; }
 
 .tablet { display: table-cell; }
 .tablet-block { display: block; }
 .tablet-inline { display: inline; }
 .tablet-or-wider { display: table-cell; }
 .tablet-or-wider-block { display: block; }
 .tablet-or-wider-inline { display: inline; }
 
 .workstation { display: none; }
 .workstation-block { display: none; }
 .workstation-inline { display: none; }
 .workstation-or-wider { display: none; }
 .workstation-or-wider-block { display: none; }
 .workstation-or-wider-inline { display: none; }

}   
    
/* Workstation device width */
@media (min-width: 1201px) {

 .smartphone { display: none; }
 .smartphone-block { display: none; }
 .smartphone-inline { display: none; }
 .smartphone-or-wider { display: table-cell; }
 .smartphone-or-wider-block { display: block; }
 .smartphone-or-wider-inline { display: inline; }
 
 .tablet { display: none; }
 .tablet-block { display: none; }
 .tablet-inline { display: none; }
 .tablet-or-wider { display: table-cell; }
 .tablet-or-wider-block { display: block; }
 .tablet-or-wider-inline { display: inline; }
 
 .workstation { display: table-cell; }
 .workstation-block { display: block; }
 .workstation-inline { display: inline; }
 .workstation-or-wider { display: table-cell; }
 .workstation-or-wider-block { display: block; }
 .workstation-or-wider-inline { display: inline; }

}   
    
.t-grid .iconStatusIndicator {
    height: 20px;
    width: 2px;
    float: left;
    margin-right: 5px;
}
    
.t-grid .iconStatusIndicator.success {
    background-color: #66ee66;
}

.t-grid .iconStatusIndicator.info {  
    background-color: #87ceeb;
}

.t-grid .iconStatusIndicator.important {  
    background-color: #f02c71;
}

.t-grid .iconStatusIndicator.warning {  
    background-color: #fdbb39;
}

.t-grid .iconStatusIndicator.danger {  
    background-color: #e23e29;
}


.cursor-default {
    cursor: default!important;
}

.color-legend {
    position: absolute;
    font-size: 0.8em;
    border: 1px solid #e9e9e9;
}
.color-legend .color-item {
    padding-right: 5px;
    display: block;
    text-align: right;
}



/* <Breadcrumbs> */
	
.breadcrumbs {
    margin-left: 10px;
	/* Clear floats */
	overflow: hidden;
	width: 100%;
    /*height: 40px;*/
}
	
.breadcrumbs li{
	float: left;
	margin: 0 .5em 0 1em;
    list-style: none;
    margin-bottom: 5px;
}
	
.breadcrumbs a{
	background: #ddd;
	padding: .7em 1em;
	float: left;
	text-decoration: none;
	color: #444;
	text-shadow: 0 1px 0 rgba(255,255,255,.5); 
	position: relative;
}
	
.breadcrumbs a:hover{
	background: #f0f0f0;
}
	
.breadcrumbs a::before{
	content: "";
	position: absolute;
	top: 50%; 
	margin-top: -1.5em;   
	border-width: 1.5em 0 1.5em 1em;
	border-style: solid;
	border-color: #ddd #ddd #ddd transparent;
	left: -1em;
}
	
.breadcrumbs a:hover::before{
	border-color: #f0f0f0 #f0f0f0 #f0f0f0 transparent;
}
	
.breadcrumbs a::after{
	content: "";
	position: absolute;
	top: 50%; 
	margin-top: -1.5em;   
	border-top: 1.5em solid transparent;
	border-bottom: 1.5em solid transparent;
	border-left: 1em solid #ddd;
	right: -1em;
}
	
.breadcrumbs a:hover::after{
	border-left-color: #f0f0f0;
}
	
.breadcrumbs .current,
.breadcrumbs .current:hover{
	font-weight: bold;
	/*background: none;*/
}
	
.breadcrumbs .current::after,
.breadcrumbs .current::before{
	/*content: normal;*/
}

/* </Breadcrumbs> */

.timepicker {
    text-align: center;   
}

.hidden {
    visibility: hidden;
}
.transparent {
    opacity: 0;
}
.text-uppercase {
    text-transform: uppercase;
}

.form-header i {
    display: inline-block;
    font-size: 1.2em;
    vertical-align: top;
    padding-top: 5px;
}
.form-header span {
    display: inline-block;
    font-size: 1.2em;
    margin-left: 10px;
}

.fontBold {
    font-weight: bold;
}
.fontItalic {
    font-style: italic;
}

/* <Dienstleistungs Auswahl> */
.dienstleistungen-wrapper {
    margin-left: 10px;
    margin-bottom: 20px;
}
    
.ms-container {
    width: 800px;
}
    
.dienstleistungen-header {
    padding: 4px;
    width: 800px;
}
.dienstleistungen-header .header-left {
    width: 438px;
    display: inline-block;
}
.dienstleistungen-header .header-right {
}
    
i.dienstleistung-gewaehlt {
    float: left;
    margin-right: 10px;
    font-size: 1.2em;
    color: #468847!important;
}
.ms-list li i.icon-ok {
    float: left;
    margin-left: 0px;
} 
    
.ms-selection li {
    background-color: #dff0d8!important;
    color: #468847!important;
    font-weight: bold;
}
.ms-selection li.ms-hover {
    background-color: #cfe0c8!important;
    color: #468847!important;
}
/* </Dienstleistungs Auswahl> */

.font-bold {
    font-weight: bold;
}

div.controls-width-400 .controls {
    width: 400px;
}

.persistable-field-marker {
    margin-left: 3px;
    color: orange;
    font-size: 0.9em;
}

.form-horizontal.reduced-margin .control-group {
  margin-bottom: 5px;
}


/* <Magnific Popup> */

div.mfp-content{
    background-color: white;
}


.white-popup {
    position: relative;
    background: #FFF;
    padding: 30px;
    width: auto;
    margin: 10px auto;
}

.mfp-content {
    width:auto !important;
}

/**
* Fade-zoom animation for first dialog
*/
      
/* start state */
.my-mfp-zoom-in .white-popup {
opacity: 0;

-webkit-transition: all 0.2s ease-in-out; 
-moz-transition: all 0.2s ease-in-out; 
-o-transition: all 0.2s ease-in-out; 
transition: all 0.2s ease-in-out; 



-webkit-transform: scale(0.8); 
-moz-transform: scale(0.8); 
-ms-transform: scale(0.8); 
-o-transform: scale(0.8); 
transform: scale(0.8); 
}

/* animate in */
.my-mfp-zoom-in.mfp-ready .white-popup {
opacity: 1;

-webkit-transform: scale(1); 
-moz-transform: scale(1); 
-ms-transform: scale(1); 
-o-transform: scale(1); 
transform: scale(1); 
}

/* animate out */
.my-mfp-zoom-in.mfp-removing .white-popup {
-webkit-transform: scale(0.8); 
-moz-transform: scale(0.8); 
-ms-transform: scale(0.8); 
-o-transform: scale(0.8); 
transform: scale(0.8); 

opacity: 0;
}

/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg {
opacity: 0;
-webkit-transition: opacity 0.3s ease-out; 
-moz-transition: opacity 0.3s ease-out; 
-o-transition: opacity 0.3s ease-out; 
transition: opacity 0.3s ease-out;
}
/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg {
opacity: 0.8;
}
/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg {
opacity: 0;
}


/* </Magnific Popup> */

.user-messages-title {  }

input[type="text"].m-wrap.kennzeichen,
span.kennzeichen{
  text-transform: uppercase;
}

.font-blue {
  color: #4b8df8 !important;
}

.font-red {
  color: #e02222 !important;
}

.font-yellow {
  color: #ffb848 !important;
}

.font-green {
  color: #35aa47 !important;
}

.font-purple {
  color: #852b99 !important;
}

.font-grey {
  color: #555555 !important;
}

.info-icon 
{
    width: 16px;
    height: 16px;
    float: right;
    background: url(/ServicesMvc/Images/information.png) center no-repeat !important;
}

div.span-alert-placeholder {
    display: block;
    width: 100%;
    height: 45px;
}
div.span-alert-placeholder .alert {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.m-wrap.tall {
    min-height: 30px;
}

.report-generator-wrapper li.persistable-form-dropdown-menu {
    text-align: left;
}

.report-generator-wrapper li.persistable-form-dropdown-menu span.li-button span {
    display: inline-block;
    width: 80%;
}
}

#divFormControlsTranslations {
    width: 800px;
}
#translation-edit-form .divider {
    font-weight: bold;
    margin: 8px;
    margin-left: 50px;
    border-bottom: 1px solid #efefef;
    padding-bottom: 5px;
}
.translation-key-header {
    min-height: 30px;
    margin-bottom: 20px;
}
.translation-key {
    margin-left: 10px;
    background-color: ivory;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 0;
}
.translation-key.true {
}
.translation-key.false {
    font-size: 0.7em;
}
.grayed {
    opacity: 0.4!important;
}
.control-group-raw {
    display: inline-block;
}
.wysiwyg-localization-icon {
    cursor: pointer;    
}

.report-generator-buttons, .report-generator-wrapper {
    display: inline-block;
}
.report-generator-wrapper li.persistable-form-dropdown-menu {
    text-align: left;
}
.report-generator-wrapper li.persistable-form-dropdown-menu span.li-button span {
    display: inline-block;
}


.prime-control {
    display: inline-block;
    margin-top: -15px !important;
}
.prime-control .control-label {
    display: none!important;
}
.prime-control .controls {
    margin-left: 0!important;
}
.prime-control label.checkbox {
    vertical-align: top;
    font-weight: bold;
    margin: 0 0 0 0!important;
    white-space: nowrap;
}

.prime-control div.checker span {
    display: inline-block;
    margin: 15px 0 0 0px!important;
    background: url(/ServicesMvc/_Themes/AH2015/images/uniform/prime-checkbox-sprite.png) 0 0 no-repeat;
    -webkit-font-smoothing: antialiased;
    width: 30px;
    height: 30px;
}
.prime-control div.checker span.checked {
    background-position: 0 -30px;
}
.prime-control div.checker:hover span, 
.prime-control label.checkbox:hover div.checker span:not(.checked) {
    background-position: -30px 0;
}
.prime-control div.checker:hover span.checked, 
.prime-control label.checkbox:hover div.checker span.checked {
    background-position: -30px -30px;
}
.prime-control .prime-checkbox-image {
    display: inline-block;
    margin: 0 0 0 20px;
    width: 1px;
    height: 80px;
    /*background: url(/ServicesMvc/_Themes/AH2015/images/kroschke-prime-flag-up.png) 0 0 no-repeat;*/
}
.prime-control label.checkbox.checked .prime-checkbox-image {
    /*background: url(/ServicesMvc/_Themes/AH2015/images/kroschke-prime-flag-down.png) 0 0 no-repeat;*/
}

.prime-control span.prime-helphint-icon {
    display: inline-block;
    vertical-align: top;
    margin: 3px 0 0 2px;
    background: url(/ServicesMvc/images/kroschke-prime-info-icon.png?v=20160329) 0 0 no-repeat;
    width: 24px;
    height: 24px;
    cursor: pointer;
}
.prime-control div.prime-helphint-content {
    width: 400px;
    margin: 10px 0 0 1px;
    padding: 10px;
    border: 1px solid #e0e0e0 !important;
    border-radius: 10px !important;
    box-shadow: 5px 5px 20px -1px rgba(0,0,0,0.25)!important;
    background-color: #EBF4F7;
    line-height: 20px;
    white-space: normal;
}
.prime-control div.prime-helphint-content .close-button {
    margin: -4px -2px 0 5px;
    float: right;
    background: url(/ServicesMvc/images/close-button-16x16.png) no-repeat;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.position-relative {
    position: relative;
}


.color-ckg-green {
    color: #a0C539 !important;
}

.color-ckg-lightgreen {
    color: #cddf9a !important;
}

.color-ckg-palegreen {
    color: #dff0d8 !important;
}

.bg-color-ckg-green, .portlet.box.bg-color-ckg-green {
    background-color: #a0C539 !important;
}

.bg-color-ckg-lightgreen, .portlet.box.bg-color-ckg-lightgreen {
    background-color: #cddf9a !important;
}

.bg-color-ckg-palegreen, .portlet.box.bg-color-ckg-palegreen {
    background-color: #dff0d8 !important;
}

.color-ckg-yellow {
    color: #ffcc00 !important;
}

.color-ckg-lightyellow {
    color: #ffff72 !important;
}

.color-ckg-paleyellow {
    color: #fff9e5 !important;
}

.bg-color-ckg-yellow, .portlet.box.bg-color-ckg-yellow {
    background-color: #ffcc00 !important;
}

.bg-color-ckg-lightyellow, .portlet.box.bg-color-ckg-lightyellow {
    background-color: #ffff72 !important;
}

.bg-color-ckg-paleyellow, .portlet.box.bg-color-ckg-paleyellow {
    background-color: #fff9e5 !important;
}

.color-ckg-orange {
    color: #ffb848 !important;
}

.color-ckg-lightorange {
    color: #ffce46 !important;
}

.color-ckg-paleorange {
    color: #fcf8e3 !important;
}

.bg-color-ckg-orange, .portlet.box.bg-color-ckg-orange {
    background-color: #ffb848 !important;
}

.bg-color-ckg-lightorange, .portlet.box.bg-color-ckg-lightorange {
    background-color: #ffce46 !important;
}

.bg-color-ckg-paleorange, .portlet.box.bg-color-ckg-paleorange {
    background-color: #fcf8e3 !important;
}

.color-ckg-red {
    color: #c11823 !important;
}

.color-ckg-lightred {
    color: #d37166 !important;
}

.color-ckg-palered {
    color: #f2dede !important;
}

.bg-color-ckg-red, .portlet.box.bg-color-ckg-red {
    background-color: #c11823 !important;
}

.bg-color-ckg-lightred, .portlet.box.bg-color-ckg-lightred {
    background-color: #d37166 !important;
}

.bg-color-ckg-palered, .portlet.box.bg-color-ckg-palered {
    background-color: #f2dede !important;
}

.bg-white, .portlet.box.bg-white {
    background-color: white !important;
}

.portlet.box {
}



.kroschkedokumentencenter-grid {
    float: left;
    margin-right: 20px;
}
    
.kroschkedokumentencenter-grid div.t-grouping-header {
    height: 36px;
    background-color: #dff0d8;
    color: #888888;
    border-radius: 4px !important;
    margin-bottom: 5px;
}
    
.kroschkedokumentencenter-grid div.t-grouping-header .t-group-indicator  {
    margin-top: 3px;
    font-size: 18px;
    background-color: #cddf9a;
}
    
.kroschkedokumentencenter-grid .t-grid-toolbar,
.kroschkedokumentencenter-grid .t-grid-bottom {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.kroschkedokumentencenter-grid .t-grid-toolbar,
.kroschkedokumentencenter-grid .t-grid-toolbar:first-child {
    padding-top: 0 !important;
}
    
.kroschkedokumentencenter-grid .t-grid-toolbar .grid-toolbar {
    height: 48px;
}
    
.kroschkedokumentencenter-grid .t-grid-toolbar .grid-toolbar .dataTables_length {
    margin-top: 3px;
}
    
.kroschkedokumentencenter-grid .t-grid-toolbar .grid-toolbar .dataTables_filter button {
    margin-top: 5px;
}
    
.kroschkedokumentencenter-grid .t-grid-toolbar .grid-toolbar .dataTables_filter label {
    font-size: 20px !important;
}
    
.kroschkedokumentencenter-grid input.grid-column-overall-filter {
    width: 200px !important;
    background-color: #fcf8e3;
    font-size: 20px !important;
    height: 30px !important;
    line-height: 30px !important;
}
    
.kroschkedokumentencenter-grid .t-grid-toolbar .grid-toolbar .outer-export-menu {
    margin-top: 3px;
}
    
.kroschkedokumentencenter-hint {
    overflow: hidden;
    border: 1px solid #e0e0e0;
    padding: 5px;
    border-radius: 4px !important;
}

.session-timeout-info .alert-warning i {
    margin-right: 10px;
}
.session-timeout-info .btn {
    width: 120px;
    float: right;
    margin-bottom: 20px;
}
