@using CkgDomainLogic.DomainCommon.Models
@using GeneralTools.Resources
@{ var gridName = "GridAdresse"; }

@(Html.Telerik()
      .Grid<Adresse>()
        .Name(gridName)
        
        .XGroup("GridAdressenPflege")
        .XAjaxDataBinding("AdressenAjaxBinding", "DomainCommon")
        .Columns(columns =>
            {
                columns.XBound(c => c.ID).Width(145).Title("").Filterable(false).Sortable(false)
                       .ClientTemplate(
                           "<button onclick='AddressEdit(\"<#= data.ID #>\");' class='btn mini gray tooltips' data-original-title='" + CommonResources.EditAddress + "' data-placement='right'><i class='halflings-icon white pencil'></i></button>"
                           + "&nbsp;"
                           + "<button onclick='AddressRemove(\"<#= data.ID #>\");' class='btn mini gray tooltips' data-original-title='" + CommonResources.DeleteAddress + "' data-placement='right'><i class='halflings-icon white remove'></i></button>"
                    ).HeaderTemplate(
                        "<button onclick='AddressNew();' class='btn mini gray tooltips' data-original-title='" + CommonResources.NewAddress + "' data-placement='right'><i class='halflings-icon white plus'></i></button>"
                    );

              columns.XBound(c => c.Name1);
              columns.XBound(c => c.Name2);
              columns.XBound(c => c.Strasse);
              columns.XBound(c => c.PLZ);
              columns.XBound(c => c.Ort);
              columns.XBound(c => c.Land);
          })
        .XAutoColumnConfiguration()
        .ClientEvents(events => events.XAutoClientEvents(gridName))
        .XPageSize(10)
        .XSort(sortOrder => sortOrder.Add(c => c.Name1).Ascending())
        .ToolBar(commands => commands.Template("&nbsp;"))
)


