
<style type="text/css">

    .stack-context {
        max-height: 30px;
        overflow-y: auto;
        overflow-x: visible;
    } 
    .stack-frame 
    {
        font-size: 0.85em;
        font-family: Courier;
        margin: 2px;
        display: inline-block;
        margin-bottom: 5px;
    }
    .stack-frame .number {
        float: left;
        width: 20px;
        text-align: right;
        font-weight: bold;
        display: inline-block;
        color: #a6a6a6;
        display: inline;
    }
    .stack-frame .content 
    {
        float: left;
        margin-left: 25px;
        width: 90%;
        display: inline;
    }

    .sap-tables-context {
        overflow-y: auto;
        overflow-x: visible;
    } 
    .sap-tables-context .table-header {
        font-weight: bold;
        margin-top: 10px;
    }
    .sap-tables-context .table-content {
        margin-top: 10px;
    }


    .duration-level-very-quick {
        color:#004400; background-color: #ddffdd;
    }
    .duration-level-quick {
        color:#004400; background-color: #d6f0d6;
    }
    .duration-level-normal {
        color:black; background-color: #e6e6e6;
    }
    .duration-level-long {
        color:#darkred; background-color: #ffeeee;
    }
    .duration-level-very-long {
        color:#darkred; background-color: #ff9999;
    }
    .duration-level-unacceptable {
        font-weight: bold; color:yellow; background-color: red;
    }
    
    .legend {
        margin: 10px;
    }
    .legend-row {
        margin-right: 25px;
        float: left;
        display: block;
    }
    .legend-color-item {
        width: 20px;
        height: 20px;
        display: inline-block;
    }
    .legend-text-item 
    {
        vertical-align: middle;
        margin-bottom: 15px;
        display: inline-block;
    }

    .t-grid-filter { display: none; }
    
    .red{ color: red!important; }

</style>


<script type="text/javascript">

    function ShowSapImportContext(sapItemId) {

        $.ajax({
            type: "POST",
            url: "GetSapImportContext",
            data: { sapItemId: sapItemId },
            loadingShow: true,
            success: function (result) {
                
                var dialog = $("#SapImportContext").data("tWindow");
                $("#InnerSapImportContext").html(result);
                dialog.center().open();

                setTimeout(function () {
                    $("#SapImportContext").on("click", function () {
                        dialog.close();
                        $("#SapImportContext").of("click");
                    });
                }, 1000);
            },
            error: function (jqXhr) {
            }
        });

        return false;
    }

    function ShowStackContext(a) {
        var stackContextHtml = a.parent().find("div.hide").html();

        var dialog = $("#StackContext").data("tWindow");
        $("#InnerStackContext").html(stackContextHtml);
        dialog.center().open();

        setTimeout(function () {
            $("#StackContext").on("click", function () {
                dialog.close();
                $("#StackContext").of("click");
            });
        }, 1000);

        return false;
    }

</script>


@(Html.Telerik().Window()
    .Name("SapImportContext")
    .Visible(false)
    .Title("SAP Übergabedaten")
    .Modal(true)
    .Draggable(true)
    .Scrollable(true)
    .Width(800)
    .Height(600)
    .Content(@<text><div id="InnerSapImportContext"></div></text>))


@(Html.Telerik().Window()
    .Name("StackContext")
    .Visible(false)
    .Title("Stack Aufrufliste")
    .Modal(true)
    .Draggable(true)
    .Scrollable(true)
    .Width(800)
    .Height(600)
    .Content(@<text><div id="InnerStackContext"></div></text>))
