* html body {
    color:#000000
}

* html div#header {
    background-image: url(../../Images/header_volvo.jpg);
}

div, thead, li, ul, a { behavior: url(/Services/Images/iepngfix.htc) } /* IE PNG-Fix */
 /* IE6-Hacks */

* html div#header ul { margin-top: 43px }
* html div#header table { margin-top: 51px }
* html div#content div#innerContent div div.innerContentHeading { margin-right: 15px; width: 90% }
* html div#content div#innxerContent div#login { margin-right: 0px }
* html div#content div#innerContentLeft { width: 18%; }




* html .NeutralCalendar table  {
 
 padding-right:0px !important;
padding-bottom:0px !important;
padding-left:0px !important; 
padding-top:0px !important;
text-align:center !important;
 
 }
 
* html .dadLogo2
{
    background-image: url(logo_adac.gif);
}


* html div#header {
	margin-left: 26px;

	}
	
* html div#header ul#navigation li
{
    background-color: #FECC00;
	border-top: 1px solid #D71D1E;
	border-left: 1px solid #bbbbbb;
}

* html div#header ul#navigation li.active a
{
    color: #D71D1E;

}

* html div#content div#navigationSubmenu a.active
{
    color: #000000;
}

* html div#content div#query
{
    background-color: #D71D1E;
}

* html div#content div#innerContent div div.innerContentHeading
{
    background-color: #D71D1E;
}
    
* html div#content div#innerContentRight div#innerContentRightHeading
{
    background-color: #D71D1E;
    color:#000000;
}

    
* html .Menutitle
{
    background-color: #D71D1E;
}

* html .Tablehead
{
    background-image: url(../../Images/headerBig.png);
    height: 30px;
    background-repeat: repeat-x;
    text-align: left;
    margin-left: 15px;
}


* html td.MainmenuItemAlternate {
	background-color: #85A5E5;
}


* html A.MainmenuLink {
	color: #ffffff;
}

* html A.MainmenuLink:hover {
	color: #C2C2B4;
}

.divWait
{
    border: thin solid #D71D1E;
}

* html .divProgress
{
    width: 100%;
    height: 100%;
    background-color:#ffffff;
    position: absolute;
    z-index:0;
    filter:alpha(opacity=50); -moz-opacity:0.7; opacity:0.7; 
   	vertical-align:middle;
	text-align: center;
	font-size:12px;
	font-weight:bold; 
	color: #333333;
    
    }
   
* html .WaitControl
{
    padding-top:2px;
    color: #333333;
    
    }
    
* html .lblKontaktFirma
{
    color: #D71D1E;
}

* html .ImpressumHead
{
    background-color: #D71D1E;
}

* html .NaviImg
{
    background-image: url(../../Images/navi_orange.gif);
    background-repeat: no-repeat;
    height: 100%;
}


* html .ExcelDiv {
    background-color:#D71D1E;
    color:#000000;
}

* html A.TablebuttonLarge:hover
{
    color: #D71D1E;
}

* html .GridTableHead th
{
	color:#000000;
    }

* html div#content div#innerContentRight div#data table tbody tr td a {
    color: #000000;
}

div#content div#innerContentRight div#data table tbody tr td a:hover {
    color: #D71D1E;
}

* html div#header ul#navigation li a {
    color: #000000;

}

* html .formqueryHeader {
	vertical-align: baseline;
	background-image:url(../../Images/overflowThead.png);
    background-color:#9B9B9B;
    color:#FFFFFF;
    float:left;
    font-weight:bold;
    height:22px;
    line-height:22px;
    white-space:nowrap;
    white-space:nowrap;
    width:100%;
}

* html .TablebuttonXLarge 
{
    padding-top: 4px;
	background-image: url(../../Images/buttonXLarge.jpg);
    background-repeat: no-repeat;
	vertical-align:middle;
	text-align: center;
	font-size:10px;
	font-weight:bold;
	color: #333333;
}

* html a.Tablebutton:hover
{
    color: #ffffff;
}

* html div#footer {
	background-color: #efefef;
	clear: both;
	color: #595959;
	float: left;
	height: 24px;
	padding-top: 12px;
	padding-left: 10px;
	width: 935px;
}

* html div#footer div a { color: #595959 }

* html div#footer div.leftAlign { float: left }

* html div#footer div.rightAlign {
	float: right;
	margin-right: 15px;
}

* html div#footfoot
{
    border-left: 1px solid #bbbbbb; 
    float: left; 
    margin-left: 13px; 
    z-index: 1;
    border-right: 1px solid #bbbbbb;
        }
* html .responsibleTextName
{
	color:    #D71D1E;
}
* html .responsibleTextName .responsibleText a:hover
{
      color:    #D71D1E;
    }
    
* html .menuehead 
{
	color:#D71D1E;
	text-align:left;

     }

* html .menuehead th{padding-left:15px}

* html div#content div#innerContentRight div#innerContentRightHeading div a {color:#000000;}

* html div#content div#innerContentRight div#datainfo 
{
    float:left;
    width:100%;
    }
    
* html .ZulDateDiv {
    background-color:#ffffff;
    padding-bottom: 15px;
}

* html div#content div#innerContentRight div#pagination .ZulDateDiv span
{
    padding-left:15px;
    }

* html div#content div#innerContentRight div#pagination .ZulDateDiv table
{
    border:1px solid #DFDFDF;
    color:#595959;
    display:block;
    width:100%;
    padding-top: 2px;
    padding-left:0px;
    padding-right:0px;
    }
    
    
   
* html div#content div#innerContentRight div#paginationQuery div#PlaceHolderDiv
{
    background-color:#ffffff;
    padding-top:15px;
    }    
