<?xml version="1.0" encoding="utf-8"?>

<!--
  Weitere Informationen zur Konfiguration der ASP.NET-Anwendung finden Sie unter
  "http://go.microsoft.com/fwlink/?LinkId=169433".
  -->

<configuration>
  <configSections>
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup>
  </configSections>
  <system.data>
    <DbProviderFactories>
      <add name="MySQL Data Provider" invariant="MySql_Data_MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data" />
    </DbProviderFactories>
  </system.data>
  <connectionStrings>
    <add name="elmah-mysql" providerName="MySql.Data.MySqlClient" connectionString="server=vms074;User Id=LogUser;password=seE@Anemone;Persist Security Info=True;database=elmah" />
  </connectionStrings>
  <appSettings>
    <add key="SapProdSytem" value="false" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <membership>
      <providers>
        <clear />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
      </providers>
    </roleManager>
    <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
    </httpModules>
  </system.web>
  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true">
       <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
     </modules>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <elmah>
    <security allowRemoteAccess="false" />
    <errorLog type="Elmah.MySqlErrorLog, Elmah" connectionStringName="elmah-mysql" />
  </elmah>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.7.4.0" newVersion="6.7.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>

