@using CkgDomainLogic.Equi.Models
@model EquiHistorie

<form action="#" class="form-horizontal">
    
    <h4 class="form-section">Änderungsdaten</h4>

    @Html.FormTextBlockFor(m => m.Ummeldedatum, new { @class = "m-wrap", col = "left" })
    @Html.FormTextBlockFor(m => m.KennzeichenAlt, new { @class = "m-wrap", col = "right" })

    @Html.FormTextBlockFor(m => m.Briefaufbietung, new { @class = "m-wrap", col = "left" })
    @Html.FormTextBlockFor(m => m.BriefnummerAlt, new { @class = "m-wrap", col = "right" })

</form>