@{
    ViewBag.HeaderIconCssClass = "hide";
}

<div class="logo-header group">
    <div class="logo text">
        <span class="logo-title">DAD</span> <span class="logo-name">Deutscher Auto Dienst</span>
    </div>
    <div class="logo gfx">
        
    </div>
    <div class="language-flags">
        @Html.Partial("Partial/UserLanguageSwitch", new ViewDataDictionary(ViewData))
    </div>
</div>