@using GeneralTools.Contracts
@{
    ViewBag.HeaderIconCssClass = "hide";
    var appSettings = DependencyResolver.Current.GetService<IAppSettings>();
}


<div class="logo-header group">
    <div class="logo text">
        <span class="logo-title">@appSettings.AppOwnerName</span> <span class="logo-name">@appSettings.AppOwnerFullName.NotNullOrEmpty().Replace(" GmbH", "")</span>
    </div>
    <div class="logo gfx">
        
    </div>
    <div class="language-flags">
        @Html.Partial("Partial/UserLanguageSwitch", new ViewDataDictionary(ViewData))
    </div>
</div>