@*@model CkgDomainLogic.Autohaus.Models.AuslieferAdresse*@
@model CkgDomainLogic.Zulassung.Models.AuslieferAdressen
@{
    var materialsAll = Model.AuslieferAdresseZ7.Materialien;
}

<h4>@Localize.DeliveryAddresses</h4>

<style>
    
    .div-auslieferadr {
        width: 340px !important;
        float: left;
    }

     .control-label {
         width: 90px !important;
     }
    .controls
    {
        margin-left: 110px !important;
    }
    .span4
    {
        margin-left: 10px !important;
    }
    .chzn-choices {
        @*width: 80% !important;*@
        width: 215px !important;
    }

    #Adressdaten_Bemerkung {
        width: 205px !important;
    }

@*    @@media (max-width: 1670px) {
        #DivAuslieferAdressen1, #DivAuslieferAdressen2, #DivAuslieferAdressen3 {
            float: none;
            width: 100%;
            margin-left: 0;
        }
    }
    @@media (min-width: 1671px) {
        #DivAuslieferAdressen1 .control-label {
            float: none;
            width: auto;
            padding-top: 0;
            text-align: left;
        }        
        #DivAuslieferAdressen1 .controls {
            margin-left: 0;
        }
    }*@
</style>

<script>
    var materialsAll = @Html.Raw(Json.Encode(materialsAll.ToList().Select(x => x.Text.ToJavascriptString())));

    function RemoveUsedMaterials() {
        var usedMaterials = new Array(0);
        var options = $("#ZugeordneteMaterialienZ7 option:selected");
        var selectedOptions = $.map(options, function (option) {
            return option.text;
        });
        usedMaterials.push.apply(usedMaterials, selectedOptions);

        options = $("#ZugeordneteMaterialienZ8 option:selected");
        selectedOptions = $.map(options, function (option) {
            return option.text;
        });
        usedMaterials.push.apply(usedMaterials, selectedOptions);

        options = $("#ZugeordneteMaterialienZ9 option:selected");
        selectedOptions = $.map(options, function (option) {
            return option.text;
        });
        usedMaterials.push.apply(usedMaterials, selectedOptions);

        for (var i = 0; i < materialsAll.length; i++) {
            $('.chzn-results li:contains("' + materialsAll[i] + '")').show();
        }

        for (var i = 0; i < usedMaterials.length; i++) {
            $('.chzn-results li:contains("' + usedMaterials[i] + '")').hide();  
        }
    }

    function CallAjaxFormAdressenShowGrid(partnerRolle) {
        $('#CurrentAddressFormNo').val(partnerRolle);
        alert("CallAjaxFormAdressenShowGrid " + partnerRolle);
        AjaxFormAdressenShowGrid('Ausliefer');
    }

    function AjaxFormAuslieferAdressenInit(addressNo) {
//        alert("AjaxFormAuslieferAdressenInit " + addressNo);
//        AjaxFormAdressePrepareAutoComplete($("#Adressdaten_Adresse_Name1"), "AuslieferAdresseGetAutoCompleteItems");
//        AjaxFormAdressePrepareAutoCompleteReset("AjaxFormAuslieferAdressen" + addressNo);
    }

    function SelectAuslieferAdresse(partnerrolle) {
        var addressNo = $('#CurrentAddressFormNo').val();
        alert("SelectAuslieferAdresse-Partnerrolle: " + partnerrolle + " | addressNo: " + addressNo);
        if ($("#Adressdaten_Partnerrolle").val() != partnerrolle) {
            $("#AjaxFormAuslieferAdressen" + addressNo).submit();
        }
    }

    function SaveAuslieferAdresse(addressNo) {
        alert("SaveAuslieferAdresse " + addressNo);
        $("#TmpSaveAddressOnly").val(true);
        $("#AjaxFormAuslieferAdressen" + addressNo).submit();
    }

    function ShowHideFieldBemerkung(partnerRolle) {
        // alert("ShowHideFieldBemerkung " + addressNo);
        var elToHideShow = $('#AuslieferAdresse' + partnerRolle + '_Adressdaten_Bemerkung').closest(".control-group");
        var content = $('#ZugeordneteMaterialien' + partnerRolle).val();
        if (content != null) {
            if (content.indexOf("Sonstiges") > -1) {
                $(elToHideShow.show());
            } else {
                $(elToHideShow.hide());
            };
        } else {
            $(elToHideShow.hide());
        }
    }

    $(document).ready(function() {

    });

</script>

<input type="hidden" id="CurrentAddressFormNo" value="0"/>

@Html.Partial("Partial/AuslieferAdressenForm", Model)

@Html.FormRequiredFieldsSummary()
