@model CkgDomainLogic.Autohaus.ViewModels.KroschkeZulassungViewModel

<h4>@Localize.VehicleData</h4> 

@Html.Partial("Partial/FahrzeugdatenForm", @Model.Zulassung.Fahrzeugdaten, new ViewDataDictionary { { "IsMassenzulassung", Model.Zulassung.Zulassungsdaten.IsMassenzulassung }, { "IsMassenabmeldung", Model.Zulassung.Zulassungsdaten.IsMassenabmeldung }, { "ModusAbmeldung", Model.ModusAbmeldung }, { "FahrzeugfarbenList", Model.Fahrzeugfarben } })

