@model CkgDomainLogic.DomainCommon.Models.Adresse

<h4>@Localize.CarOwnerAddress</h4> 

<div class="form-actions form-actions-top">
    <a href="#" onclick="return AjaxFormAdressenShowGrid('Halter')" class="btn white">@Localize.SelectCarOwnerAddress <i class="icon-chevron-right"></i></a>
</div>

@Html.Partial("Partial/HalterAdresseForm", Model)
