@model CkgDomainLogic.Autohaus.ViewModels.KroschkeZulassungViewModel

<style type="text/css">
    
    .dienstleistungen-wrapper {
        margin-left: 10px;
        margin-bottom: 20px;
    }
    
    .dienstleistungen-header {
        padding: 4px;
        width: 800px;
    }
    
    .dienstleistungen-header .header-left {
        width: 438px;
        display: inline-block;
    }

    i.dienstleistung-gewaehlt {
        float: left;
        margin-right: 10px;
        font-size: 1.2em;
        color: #468847!important;
    }
    
    .ms-list li i.icon-ok {
        float: left;
        margin-left: 0px;
    } 
    
    .ms-selection li {
        background-color: #dff0d8!important;
        color: #468847!important;
        font-weight: bold;
    }
    
    .ms-selection li.ms-hover {
        background-color: #cfe0c8!important;
        color: #468847!important;
    }
    
</style>

<h4>@Localize.OptionsServices</h4> 

@Html.Partial("Partial/OptionenDienstleistungenForm", @Model.Zulassung.OptionenDienstleistungen)

