
<a href="#" onclick="return AjaxFormAuslieferAdressenEdit()" class="btn white mini"><i class="icon-pencil"></i> @Localize.Edit</a>

<div class="SummaryAddressHint">
    @Html.SpanAlert("AuslieferAdressenMessage", "mini")
</div>