<style>
    
    .box.portlet a.btn {
        color: #ffffff;
    }
    
</style>

<div>
    <a href="#" onclick="return AjaxFormAuslieferAdressenEdit()" class="btn bg-color-ckg-orange">@Localize.DifferentDeliveryAddress</a>
</div>

<div class="SummaryAddressHint">
    @Html.SpanAlert("AuslieferAdressenMessage", "mini")
</div>
