@model CkgDomainLogic.Autohaus.Models.BankAdressdaten

<h4>@Localize.CarTaxPayer</h4> 

<div class="form-actions form-actions-top">
    <a href="#" onclick="return AjaxFormAdressenShowGrid('ZahlerKfzSteuer')" class="btn white">@Localize.SelectCarTaxPayer <i class="icon-chevron-right"></i></a>
</div>

@Html.Partial("Partial/ZahlerKfzSteuerForm", Model)
