@using CkgDomainLogic.Fahrzeugbestand.Models
@model CkgDomainLogic.Autohaus.ViewModels.KroschkeZulassungViewModel

<h4>@(Model.ModusAbmeldung ? Localize.Cancellation : Localize.Registration)</h4> 

@Html.Partial("Partial/ZulassungsdatenForm", @Model.Zulassung.Zulassungsdaten, new ViewDataDictionary { { "MaterialList", Model.Zulassungsarten } })
