@using CkgDomainLogic.Admin.Models

@{ var gridName = "GridAppZuordnungen"; }

@(Html.XTelerik()
    .XGrid<AppZuordnung>()
    .Name(gridName)
    .XAjaxDataBinding("AppZuordnungenAjaxBinding", "AppBatchZuordnung")
    .Columns(columns =>
    {
        columns.XBound(c => c.AppID);
        columns.XBound(c => c.AppName);
        columns.XBound(c => c.AppFriendlyName);
        columns.XBound(c => c.AppUrl);
        columns.XBound(c => c.AppTechType);
        columns.XBound(c => c.AppDescription);
        columns.XBound(c => c.Customername);
        columns.XBound(c => c.GroupName);

        columns.XBound(c => c.IsAssigned)
            .ClientTemplate("<input type='checkbox' name='checkedRecords' <# if (data.IsAssigned) { #> checked <# } #> value='<#= data.ZuordnungID #>' onchange='OnSelectionChange_GridAppZuordnungen($(this))' />")
            .HeaderTemplate("<input type='checkbox' id='uncheckAllRecords' onchange='GridAppZuordnungen_OnAllSelectionChange($(this).is(\":checked\"))' />")
            .Sortable(false).Filterable(false);
    })
    .XAutoColumnConfiguration()
    .ClientEvents(events => events.XAutoClientEvents(gridName))
    .XPageSize(10)
    .Groupable(g => g.Enabled(true).Groups(gr => gr.Add(grp => grp.CustomerID)))
    .XSort(sortOrder =>
    {
        sortOrder.Add(c => c.Customername).Ascending();
        sortOrder.Add(c => c.GroupName).Ascending();
    })
    .XToolBar("AppBatchZuordnung")
)

<div class="form-actions">
    <button type="button" class="btn blue" onclick="SaveAppZuordnungen();">@Localize.Save</button>
</div>
