@model CkgDomainLogic.KroschkeZulassung.ViewModels.KroschkeZulassungViewModel

@Html.Partial("Partial/Common")

<style type="text/css">
    .shopping-cart-menu {
        display: inline;
    }
    .shopping-cart-menu span.badge {
        padding-top: 6px;
        padding-bottom: 4px;
        padding-left: 4px;
        padding-right: 6px;
        margin-left: 22px;
        font-size: 16px!important;
        font-weight: normal;
        height: 16px;
        width: 16px;
        background-color: #e02222;
        border-radius: 16px !important;
        text-shadow: none !important;
        float: none;
        text-align: center;
    }
    .shopping-cart-menu .glyphicons i:before {
        color: #707070!important;
        margin-top: -3px;
        margin-left: 30px;
        background-color: transparent!important;
        float: none;
        font-size: 28px!important;
    }
</style>

<div class="page-title">
    @Localize.KroschkeZulassung  <small></small>
    <span class="shopping-cart-menu">
        <a href="javascript:void(0)" class="dropdown-toggle glyphicons shopping_cart" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
            <span class="badge">2</span>
            <i></i>
        </a>
    </span>
</div>

<div class="portlet app-view beauftragung">
    
    @Html.FormWizard("icon-file", "", Model.StepFriendlyNames, Model.StepKeys)

    <div id="formWizardTab1" class="hide">
        @Html.Partial("Partial/" + Model.FirstStepPartialViewName)
    </div>
</div>



