<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="token" value="lRR5DClbOEYoXA0J8656o6M58scRoW3KgBB04wTcPTU0jM4Pd8U3eVnR68Zj98d42kCf73P96P28a27Y2apDouxa71cx092B1g5b8DyCI1q7QxOPS3uPva75A0EE9y7uY6nZ27U2jCB8D1S38A0j4Qc7iXB8Cx395DZ8iQ6oehKOm4aDMOwBv8MkaROb63ZZEGzL5T25Tb3x7DIkF5NYbHfh812crvmPYcayOzQgeEzHQvA2mSsVPk53ZT43VmQ"/> 
    <add key="SellerId" value="192"/>
    <add key="MobiledeUrl" value="http://sandbox.mobile.de" />
    <add key="DocumentFolder" value="\\vms013\USER\AutoAct_Test\" />
    <add key="appName" value="mobile.de" />
  </appSettings>
  <system.net>
    <!-- Diesen Abschnit auskommentieren um die Anwendung hinter der Firmenfirewall ohne Ausnahmeregel auszuführen -->
    <!--<defaultProxy useDefaultCredentials="true">
      <proxy proxyaddress="http://proxy.kroschke.de:8080" bypassonlocal="false"/>
    </defaultProxy>
    <settings>
      <servicePointManager expect100Continue="false"/>
    </settings>-->
  </system.net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
