<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform" >
  <appSettings>
    <add key="token" value="0Hi0nvM0dkFcA1liESMcJ39L5G89F9q1yNwFy7M9yg7BJRCZWnoBRSMK74m99c69r3MlR2Nei53d6tW3229i2tPHyd2rKwgY9hqY44v9gRXWkWLwuv52MV36U5f2rBP3"  xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="SellerId" value="7450138"  xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="MobiledeUrl" value="https://services.mobile.de"  xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="DocumentFolder" value="\\vms013\USER\AutoAct\"  xdt:Locator="Match(key)" xdt:Transform="Replace" />
  </appSettings>
</configuration>