@model CkgDomainLogic.FzgModelle.ViewModels.BatcherfassungViewModel

@section LayoutScript { _controlGroupValidationType = "default"; }

<h3 class="page-title">Batcherfassung</h3>

@using (Html.FormSearchBox())
{
    @Html.Partial("Partial/Suche", Model.BatcherfassungSelektor)
}

@Html.Partial("Partial/Common")

@Html.SpanAlert("spanAlertBatcherfassung")

@using (Html.FormSearchResultsGrid())
{
    <div class="portlet">
        <div id="divGridBatcherfassung">
            @Html.Partial("Partial/GridBatcherfassung")
        </div>
    </div>
}

<div id="divGridItemDetails"></div>
<div id="divGridUnitnumbers"></div>






