<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <appSettings>
    <add key="SqlDbConnectionStringName" value="SqlDbTest" />
    <add key="XarisSepiaRootUrl" value="http://sepia.dad.de" />
    <add key="XarisSepiaUserSyncRelativeUrl" value="/sepia/servlet.method/com.obic.sepia.ext.DADAuth.sendLoginRequest?nextPage=com.dec.avw.html.HTMLGui.showFrames" />
  </appSettings>
  
  <connectionStrings>
    <add name="SqlDbTest" connectionString="Data Source=vms026;initial catalog=CKGPortalTest;User ID=DADWebAccess;Password=seE?Anemone;persist security info=true;packet size=4096" />
    <add name="SqlDbProd" connectionString="Data Source=vms012;initial catalog=CKGPortal;User ID=DADWebAccess;Password=seE?Anemone;persist security info=true;packet size=4096" />
  </connectionStrings>

</configuration>