@model CkgDomainLogic.Fahrzeuge.ViewModels.CarporterfassungViewModel

<h3 class="page-title" id="headerTitle">@Localize.Fahrzeuge_Carporterfassung<small></small></h3>

@section LayoutScript { _controlGroupValidationType = "individual"; }

@Html.Partial("Carporterfassung/Common")

<div class="span-alert-placeholder">
    @Html.SpanAlert("Message")
</div>

<div id="divCarporterfassungEdit">
    @Html.Partial("Carporterfassung/FahrzeugerfassungForm", Model.AktuellesFahrzeug)
</div>

<div id="divCarporterfassungGrid">
</div>

<script type="text/javascript">

    function FormPreparePrivate() {
        TryInitDropDownCarportId();
    }

    function FormPreparePrivateAjax() {
        FormPrepareAjax();
        TryInitDropDownCarportId();
    }

    function TryInitDropDownCarportId() {
        if (!_userCarportId) {
            try {
                setTimeout(function() {
                    $('#CarportId').select2({
                        allowClear: true
                    });
                }, 100);
            } catch (e) {
            }

            try {
                if (_selectionModeAllUsers) {
                    setTimeout(function() {
                        $('#SelectedCarportId').select2({
                            allowClear: true
                        });
                    }, 100);
                }
            } catch (e) {
            }
        }
    }

</script>
