@using CkgDomainLogic.Fahrzeuge.ViewModels
@model CkgDomainLogic.Fahrzeuge.ViewModels.FloorcheckViewModel

<h3 class="page-title" id="headerTitle">@Localize.Fahrzeug_Floorcheck</h3>

<style type="text/css">  
</style>

@section LayoutScript { _controlGroupValidationType = "individual"; }

<div>
    @using (Html.FormSearchBox())
    {
        @Html.Partial("Floorcheck/FloorcheckSuche", null)
    }
</div>

@using (Html.FormSearchResultsGrid())
{
    <div id="divFloorcheckGrid"></div>
}


<script type="text/javascript">

    var ladeHinweis = '@Localize.LoadingData';

    ShowFloorcheckHaendler();
   
    function FormPreparePrivate() {
        // $("#FloorcheckForm button[type=submit]").trigger("click");        
    }

    function ShowFloorcheckHaendler() {
       
        $.ajax({
            type: "POST",
            url: "LoadFloorcheckHaendler",
        });        
    }


    function FormPreparePrivateAjax() {
        //$("#divFloorcheckSuche").css("hide");
        FormPrepareAjax();
    }


    function ShowFloorcheck() {

        FormPreparePrivateAjax();

        $.ajax({
            type: "POST",
            url: "ShowFloorcheck",
            loadingShow: false,
            success: function (result) {
                //SearchResultsTryHide();
                ShowFloorcheckSearchResult(result);
                LoadingHide();
            }
        });       
    }

    function OnDataBound_GridFloorcheck() {
        //alert("Entry_OnDataBound_GridFloorcheck");
        FilteredData_Grid_OnDataBound($(this));
        $('.tooltips').tooltip();
        //alert("OnDataBound_GridFloorcheck");
    }

    function OnLoad_GridFloorcheck() {
        //alert("1");
        //$('.t-no-data td').text(ladeHinweis);
    }

    function OnColumnShowHide_GridFloorcheck() {
        //alert("2");
        FilteredData_Grid_OnColumnShowHide($(this));
    }

    function OnColumnReorder_GridFloorcheck() {
        //alert("3");
        FilteredData_Grid_OnColumnReorder($(this));
    }

    function ShowFloorcheckSearchResult(result) {
        SearchFormHide();
        $("#divFloorcheckGrid").html(result);
        //alert("4");
        GridAllColumnFilterApplyToGrid("GridFloorcheck");
        $("#divFloorcheckGrid").slideDown();
        //alert("5");
    }

    
</script>
