@using CkgDomainLogic.Fahrzeuge.ViewModels
@model FahrzeuguebersichtViewModel

<h3 class="page-title" id="headerTitle">@Localize.Fahrzeuge_Fahrzeuguebersicht</h3>

@Html.Partial("Fahrzeuguebersicht/Common")

@using (Html.FormSearchBox())
{
    @Html.Partial("Fahrzeuguebersicht/FahrzeuguebersichtSuche", Model.FahrzeuguebersichtSelektor)
}

@using (Html.FormSearchResultsGrid())
{
    <div id="divGrid"></div>
    <div id="divHistorieVermieterDetail"></div>
}

<script type="text/javascript">

    var _modelStateValid = 'false';
    
    function FormPreparePrivateAjax() {
        FormPrepareAjax();
        $(".t-status").hide();
    }

    function ShowFahrzeuguebersicht() {
        
        FormPreparePrivateAjax();

        $.ajax({
            type: "POST",
            url: "ShowFahrzeuguebersicht",
            loadingShow: true,
            success: function (result) {

                SearchResultsTryHide();

                if (_modelStateValid) {
                    ShowFahrzeuguebersichtSearchResult(result);
                }

                LoadingHide();
            }
        });
    }

    function ShowFahrzeuguebersichtSearchResult(result) {
        SearchFormHide();
        $("#divGrid").html(result);
       
        // move our grid filter form into grid's toolbar:
        try {
            GridAllColumnFilterApplyToGrid("GridFahrzeuguebersicht"); 
        } catch(err){}
       
        $("#divGrid").slideDown();
        $("#divHistorieVermieterDetail").html('');

        ShowElements();                        
    }

    function ShowHistory(fin) {

        $.ajax({
            type: "POST",
            url: "/ServicesMvc/Equi/GetFahrzeugHistorieVermieterPartial",
            data: { fahrgestellnummer: fin },
            loadingShow: true,
            success: function (result) {
                ShowEquiHistorieVermieterDetail(result);
            }
        });
    }
   
    function OnDataBound_GridFahrzeuguebersicht() {
        FilteredData_Grid_OnDataBound($(this));
        jQuery('.tooltips').tooltip();
        LoadingHide();
    }

    function OnColumnShowHide_GridFahrzeuguebersicht() {
        FilteredData_Grid_OnColumnShowHide($(this));
    }

    function OnColumnReorder_GridFahrzeuguebersicht() {
        FilteredData_Grid_OnColumnReorder($(this));
    }


    ///////////////// Excel upload ///////////////////

    function FormPreparePrivate() {
        LoadingHide();
    }
   
    function UploadStart(e) {

        // because we are uploading in async mode, our "e.files" collection always has exact 1 entry:
        var fileName = e.files[0].name;

        if (fileName.toLowerCase().indexOf('.xls') <= 0) {
            alert('Bitte nur XLS-Dateien hochladen!');
            return false;
        }

        LoadingShow();

        return true;
    }

    function UploadFinished(e) {

        // clear only the UI of our Upload Control:
        $(this).children(".t-upload-files").remove();

        if (!e.response.success) {
            alert(e.response.message);
            return;
        }

        $("#FahrzeuguebersichtSearchForm").submit();
    }

    function UploadError(e) {
        e.preventDefault();
        alert('Fehler: Es gab ein Problem beim verarbeiten Ihrer Datei!');
    }

</script>
