@using CkgDomainLogic.Fahrzeuge.ViewModels
@model UnfallmeldungenViewModel

<h3 class="page-title" id="headerTitle">Unfallmeldungen</h3>

@using (Html.FormSearchResultsGrid())
{
    <div id="divGrid">
        @Html.Partial("Unfallmeldungen/UnfallmeldungenAlleGrid")
    </div>
    <div id="divMeldungCreateSearch" class="hide"></div>
    <div id="divMeldungCreateEdit" class="hide"></div>
}

<style type="text/css">
    #txtCancellation {
        background-color: white!important;
    }
</style>

<script type="text/javascript">

    var _modelStateValid = 'false';

    function FormPreparePrivate() {
        GridAllColumnFilterApplyToGrid("GridUnfallmeldungen");
        $("#FormSearchResults").show();
    }

    function FormPreparePrivateAjax() {
        FormPrepareAjax();        
    }


    function OnDataBound_GridUnfallmeldungen() {
        FilteredData_Grid_OnDataBound($(this));
        jQuery('.tooltips').tooltip();

        App.initUniform();
        Grid_PrepareMultiRowSelected("GridUnfallmeldungen");

        LoadingHide();
    }

    function OnColumnShowHide_GridUnfallmeldungen() {
        FilteredData_Grid_OnColumnShowHide($(this));
    }

    function OnColumnReorder_GridUnfallmeldungen() {
        FilteredData_Grid_OnColumnReorder($(this));
    }
    
    function OnSelectionChange_GridUnfallmeldungen(cb) {

        Grid_FormatMultiRowSelected(cb);

        $.ajax({
            type: "POST",
            url: "UnfallmeldungenSelectionChanged",
            data: { unfallNr: cb.val(), isChecked: cb.is(':checked') },
            loadingShow: false,
            success: function (result) {
                var count = result.allSelectionCount;
                GridUnfallmeldungen_MultiSelectUpdate(result.allSelectionCount);
                if (count == 0) {
                    $("#FahrzeugAuswahlCount").addClass('hide');
                    return;
                }

                $("#FahrzeugAuswahlCount").removeClass('hide');
                $("#FahrzeugAuswahlCount > span").html('Sie haben ' + count + ' Fahrzeug' + (count == 1 ? '' : 'e') + ' ausgewählt!');
            }
        });
    }

    function OnRowDataBound_GridUnfallmeldungen(e) {
        var isValidForCancellation = e.dataItem["IsValidForCancellation"];

        if (!isValidForCancellation)
            $(e.row).addClass((e.row.sectionRowIndex % 2 == 0) ? "t-grid-error" : "t-grid-error-alt");
    }
    
    function GridUnfallmeldungen_OnAllSelectionChange(check) {
        $.ajax({
            type: "POST",
            url: "UnfallmeldungenSelectionChanged",
            data: { id: "", isChecked: check },
            loadingShow: true,
            success: function (result) {
                GridUnfallmeldungen_MultiSelectUpdate(result.allSelectionCount);

                $("#csv-upload-reset > span.found-count").text(result.allFoundCount);
                $("#csv-upload-reset > span.all-count").text(result.allCount);
                FilterGrid("GridUnfallmeldungen");
            }
        });
    }

    function GridUnfallmeldungen_MultiSelectUpdate(count) {

        if (count == 0)
            $("#div-cancellation").slideUp(300);
        else
            $("#div-cancellation").slideDown(300);
        
        if (count == 0) {
            $("#FahrzeugAuswahlCount").addClass('hide');
            $("#uncheckAllRecords").attr("checked", false);
            $.uniform.update($("#uncheckAllRecords"));
            return;
        }

        $("#FahrzeugAuswahlCount").removeClass('hide');
        $("#FahrzeugAuswahlCount > span").html('Sie haben ' + count + ' Fahrzeug' + (count == 1 ? '' : 'e') + ' ausgewählt!');
        $("#uncheckAllRecords").attr("checked", true);
        $.uniform.update($("#uncheckAllRecords"));
    }

    function SaveCancellation() {
        $.ajax({
            type: "POST",
            url: "UnfallmeldungenCancel",
            data: { cancelText: $("#txtCancellation").text() },
            loadingShow: true,
            success: function(result) {
                GridUnfallmeldungen_MultiSelectUpdate(0);

                if (result.cancelCountMessage != "")
                    SpanAlertSuccess("Message", result.cancelCountMessage, 2000);

                if (result.errorMessage != "")
                    SpanAlertError("ErrorMessage", result.errorMessage, 15000);

                FilterGrid("GridUnfallmeldungen");
            }
        });
    }

    function MeldungCreateSearch() {
        $.ajax({
            type: "POST",
            url: "MeldungCreateSearch",
            data: {},
            loadingShow: true,
            success: function (result) {
                $("#divMeldungCreateSearch").html(result);
                FormPreparePrivateAjax();
                $("#divGrid").slideUp(200, function () {
                    $("#divMeldungCreateSearch").slideDown(200);
                });
            }
        });
    }

    function MeldungCreateSearchComplete() {

        FormPreparePrivateAjax();

        if (!_modelStateValid)
            return;

        $.ajax({
            type: "POST",
            url: "MeldungCreateInit",
            data: {},
            loadingShow: true,
            success: function (result) {
                $("#divMeldungCreateEdit").html(result);
                FormPreparePrivateAjax();
                $("#divMeldungCreateSearch").slideUp(200, function () {
                    $("#divMeldungCreateEdit").slideDown(200);
                });
            }
        });
    }

    function MeldungCreateEditComplete() {

        FormPreparePrivateAjax();

        if (!_modelStateValid)
            return;

        SpanAlertSuccess("Message", "@Localize.AccidentNotificationSuccessfullyCreated.ToJavascriptString()", 2000);
        setTimeout(function() {
            $("#divMeldungCreateEdit").slideUp(200, function() {
                $("#divGrid").slideDown(200);
                FilterGrid("GridUnfallmeldungen");
            });
        });
    }    
    
</script>
