/***
Login page
***/

/* logo page */
.login {
  background-color: #99AABD !important;
}

.login .logo-header {
    background: url(../../img/bg-white-lock-header.png) repeat 50px 30px;
    border-bottom: 1px solid #eeeeee;
    margin-top: -20px;
    margin-left: -30px;
    margin-right: -30px;
    padding-bottom: 1px;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

.login .logo {
  padding: 15px;
  text-align: left;
}  
.logo.text {
    padding: 5px;
    padding-left: 0;
    font-size: 14pt;
    font-weight: normal;
    white-space: nowrap;
}
.logo.text span.logo-title {
    color: red;
}
.logo.text span.logo-name {
    color: white;
}


.login .content {
  background: url(../../img/bg-white-lock.png) repeat;
  width: 291px;
  margin: 0 auto; 
  margin-top:60px;
  margin-bottom: 0px;
  padding: 30px;  
  padding-top: 20px;  
  padding-bottom: 15px;  
}
  
.login .content .language-flags {
    margin-top: -25px;
    margin-bottom: 10px;
    margin-left: 240px;
}

.login .content h3 {
    color: #eee;
    font-size: 1.8em;
}
.login .content h4  {
    color: #eee;
}

.login .content p,
.login .content label {
  color: #fff;
}

.login .content .login-form,
.login .content .forget-form {
    padding: 0px;
    margin: 0px;
}

.login .content .m-wrap {
  width: 249px;
  background-color: #fff;
}


.login .content .control-group {
  margin-bottom: 20px !important;
}

.login .content .input-icon .m-wrap {  
  margin: 0px !important;
}

.login .content .forget-form {
  display: none;
}

.login .content .register-form {
  display: none;
}

.login .content .form-title {
  font-weight: 600;
  margin-top: 35px;
  margin-bottom: 25px;
  color: white;
}
.login .content .form-title.smaller {
    font-size: 1.70em!important;
}

.login .content .form-actions {
  background-color: transparent;
  clear: both;
  border: 0px;
  border-bottom1: 1px solid #999;
  padding: 0px 30px 25px 30px;
  margin-left: -30px;
  margin-right: -30px;
}

.login .content .forget-form .form-actions {
  border: 0;
  margin-bottom: 0;
  padding-bottom: 20px;
}  

.login .content .register-form .form-actions {
  border: 0;
  margin-bottom: 0;
  padding-bottom: 0px;
}

.login .content .form-actions .checkbox {
  margin-top: 8px;
  display: inline-block;
}

.login .content .form-actions .btn {
  margin-top: 1px;
}

.login .content .forget-password {
    margin-top: 25px;
    margin-bottom: 25px;
}

.login .content .create-account {
  border-top: 1px dotted #eee;
  padding-top: 10px;
  margin-top: 15px;
}

.login .content .create-account a {
  display: inline-block;
  margin-top: 5px;
}

/* select2 dropdowns */
.login .content .select2-container i {
  display: inline-block;
  color: #ccc;
  z-index: 1;
  margin: 2px 4px 4px 3px; 
  width: 16px;
  height: 16px;
  font-size: 16px;
  text-align: center; 
}

.login .content .select2-container a span {
  font-size: 13px;
}

.login .content .select2-container a span img {
  margin-left: 4px;
}

/* footer copyright */
.login .copyright {
  text-align: center;
  width: 270px;
  margin: 0 auto; 
  padding: 10px 10px 0 10px;
  color: #eee;
  font-size: 12px;
}

/*
@media (max-width: 480px) {
  .login .logo {
    margin-top:10px;
  }

  .login .content {
    padding: 30px; 
    width: 222px;
  }

  .login .content h3 {
    font-size: 22px;
  }

  .login .content .m-wrap {
      width: 180px;
  }

  .login .checkbox {
    font-size: 13px;
  }
}
*/

input.m-wrap, select.m-wrap {
    height: 16px!important;
    padding: 2px;
}


#forget-password {
    color: white!important;    
}
#forget-password i.icon-chevron-right {
    font-size: 0.85em;
}

.footer-link {
    float: right;
    font-size: 0.8em;
    color: #dfdfdf;
    display: block;
    line-height: 20px;
    margin-top: -5px;
    margin-left: 10px;
}

.language-menu {
    display: block;
    margin-bottom: 0;
    padding-left: 40px;
    width: 35px;
}
.dropdown-menu {
    min-width: 45px;
}
.dropdown a {
    padding-left: 5px;
}


.no-top-margin {
  margin-top: 0 !important;
}
.no-bottom-margin {
  margin-bottom: 0 !important;
}
