<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>

    <add key="DadTest" value="Data Source=vms026;initial catalog=CKGPortalTest;User ID=DADWebAccess;Password=seE?Anemone;persist security info=true;packet size=4096" />

    <add key="PartnerTest" value="Data Source=vms056T;initial catalog=CKGPartnerPortal;User ID=DADWebAccess;Password=seE?Anemone;persist security info=true;packet size=4096" />
    <add key="PartnerProd" value="Data Source=vms056;initial catalog=CKGPartnerPortal;User ID=DADWebAccess;Password=seE?Anemone;persist security info=true;packet size=4096" />

  </appSettings>
</configuration>
