<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>

    <add key="DadTest" value="Data Source=vms026;initial catalog=CKGPortalTest;User ID=DADWebAccess;Password=seE?Anemone;persist security info=true;packet size=4096" />

    <add key="DadProd" value="Data Source=vms012;initial catalog=CKGPortal;User ID=DADWebAccess;Password=seE?Anemone;persist security info=true;packet size=4096" />

    <add key="AhTestOn" value="Data Source=vms026;initial catalog=AhTestOnPortal;User ID=DADWebAccess;Password=seE?Anemone;persist security info=true;packet size=4096" />
    <add key="AhProdOn" value="Data Source=vms016;initial catalog=AhProdOnPortal;User ID=DADWebAccess;Password=seE?Anemone;persist security info=true;packet size=4096" />

    <add key="AhTest" value="Data Source=vms056T;initial catalog=ZLDAutohaus;User ID=DADWebAccess;Password=seE?Anemone;persist security info=true;packet size=4096" />
    <add key="AhProd" value="Data Source=vms056;initial catalog=ZLDAutohaus;User ID=DADWebAccess;Password=seE?Anemone;persist security info=true;packet size=4096" />

    <add key="DadDev" value="Data Source=vms047;initial catalog=CKGPortal_Test;User ID=DADWebAccess;Password=seE?Anemone;persist security info=true;packet size=4096" />

  </appSettings>
</configuration>
