@model CkgDomainLogic.Autohaus.Models.ZulassungsReportModel

<li class="dd-item">
    <div class="dd-handle">
        <table>
            <tr>
                <td>
                    @Html.TextBlockFor(m => m.FahrzeugAsString, new Dictionary<string, object>())
                </td>
                <td>
                    @* kann später einen Link o.ä. enthalten *@
                </td>
            </tr>
        </table>
    </div>
</li>
