* html div#header {
    background-image: url(/Services/Images/header_volvo.jpg);
}

div, thead, li, ul, a { behavior: url(/Services/Images/iepngfix.htc) } /* IE PNG-Fix */
 /* IE6-Hacks */

* html div#header ul { margin-top: 43px }
* html div#header table { margin-top: 51px }
* html div#content div#innerContent div div.innerContentHeading { margin-right: 15px; width: 90% }
* html div#content div#innxerContent div#login { margin-right: 0px }
* html div#content div#innerContentLeft { width: 18%; }




* html .NeutralCalendar table  {
 
 padding-right:0px !important;
padding-bottom:0px !important;
padding-left:0px !important; 
padding-top:0px !important;
text-align:center !important;
 
 }
 
* html .dadLogo2
{
    background-image: url(Avis_Logo.GIF);
}


* html div#header {
	margin-left: 26px;

	}
	
* html div#header ul#navigation li
{
    background-color: #576B96;
	border-top: 1px solid #576B96;
	border-left: 1px solid #bbbbbb;
}

* html div#header ul#navigation li.active a
{
    color: #576B96;

}

* html div#content div#navigationSubmenu a.active
{
    color: #576B96;
}

* html div#content div#query
{
    background-color: #576B96;
}

* html div#content div#innerContent div div.innerContentHeading
{
    background-color: #576B96;
}
    
* html div#content div#innerContentRight div#innerContentRightHeading
{
    background-color: #576B96;
}

    
* html .Menutitle
{
    background-color: #576B96;
}

* html .Tablehead
{
    background-image: url(../../Images/headerBig.png);
    height: 30px;
    background-repeat: repeat-x;
    text-align: left;
    margin-left: 15px;
}


* html .divWait
{
    border: thin solid #576B96;
}

* html .lblKontaktFirma
{
    color: #576B96;
}

* html .ImpressumHead
{
    background-color: #576B96;
}

* html .NaviImg
{
    background-image: url(../../Images/navi_orange.gif);
    background-repeat: no-repeat;
    height: 100%;
}


* html .ExcelDiv {
    background-color:#576B96;
}

* html A.TablebuttonLarge:hover
{
    color: #576B96;
}

* html .GridTableHead th
{
	color:#576B96;
    }

* html div#content div#innerContentRight div#data table tbody tr td a {
    color: #576B96;
}


* html .formqueryHeader {
	vertical-align: baseline;
	background-image:url(../../Images/overflowThead.png);
    background-color:#9B9B9B;
    color:#FFFFFF;
    float:left;
    font-weight:bold;
    height:22px;
    line-height:22px;
    white-space:nowrap;
    white-space:nowrap;
    width:100%;
}

* html .TablebuttonXLarge 
{
    padding-top: 4px;
	background-image: url(../../Images/buttonXLarge.jpg);
    background-repeat: no-repeat;
	vertical-align:middle;
	text-align: center;
	font-size:10px;
	font-weight:bold;
	color: #333333;
}

* html a.Tablebutton:hover
{
    color: #ffffff;
}

* html div#footer {
	background-color: #efefef;
	clear: both;
	color: #595959;
	float: left;
	height: 24px;
	padding-top: 12px;
	padding-left: 10px;
	width: 935px;
}

* html div#footer div a { color: #595959 }

* html div#footer div.leftAlign { float: left }

* html div#footer div.rightAlign {
	float: right;
	margin-right: 15px;
}

* html div#footfoot
{
    border-left: 1px solid #bbbbbb; 
    float: left; 
    margin-left: 13px; 
    z-index: 1;
    border-right: 1px solid #bbbbbb;
        }
* html .responsibleTextName
{
	color:    #576B96;
}
* html .responsibleTextName .responsibleText a:hover
{
      color:    #576B96;
    }
    
* html .menuehead 
{
	color:#576B96;
	text-align:left;

     }

* html .menuehead th{padding-left:15px}

* html td.MainmenuItemAlternate  {
    padding-left:0px
}

* html td.MainmenuItemAlternate a {
  width:100%;
  height:100%;
  display:block;
  padding-left:15px
}


* html A.MainmenuLink:hover{
	background-color: #85A5E5;
	width:100%;
	
}