@model string

<style type='text/css'>
</style>


<h1>
    
    Editing column [@Model] ...

    <button onclick="$('#FormSearchBox form .form-actions button[type=\'submit\']').trigger('click');">Test Refresh</button>

</h1>