

<div class="margin-left-20 margin-top-20">

    <div class="alert warning">
        <i class="icon-bell margin-right-10 margin-bottom-20 margin-top-20"></i>
        <span>
            Bitte beachten Sie, dass in dem Formular zu dem dieses Feld gehört, eine globale Übersetzung auf interaktivem Wege aktuell nicht möglich ist!
        </span>
    </div>

</div>