@model CkgDomainLogic.Autohaus.ViewModels.FormulareViewModel

<script type="text/javascript" src="~/assets/plugins/select2/select2.min.js"></script>
<link rel="stylesheet" type="text/css" href="~/assets/plugins/select2/select2_metro.css" />

<h3 class="page-title" id="headerTitle">@Localize.Autohaus_InfocenterZulassung <small></small></h3>

@using (Html.FormSearchBox())
{
    @Html.Partial("Partial/Suche", Model.FormulareSelektor)
}

@using (Html.FormSearchResultsGrid())
{
    <div id="divResult"></div>
}

<script type="text/javascript">

    var _modelStateValid = 'false';

    function FormPreparePrivate() {
        InitDropDownLists();
    }

    function FormPreparePrivateAjax() {
        FormPrepareAjax();
        InitDropDownLists();
    }

    function InitDropDownLists() {

        setTimeout(function () {
            $("#Zulassungskreis").select2({
                allowClear: true
            });
        }, 100);
    }

    function TryLoadKreisByPlz() {
        $.ajax({
            type: "POST",
            url: "LoadKreisByPlz",
            data: { plz: $("#Postleitzahl").val() },
            loadingShow: false,
            success: function (result) {
                if (result.success) {
                    $("#Zulassungskreis").select2("val", result.kreis);
                }
            }
        });
    }

    function ShowFormulareAndZiPoolDaten() {
        FormPreparePrivateAjax();

        $.ajax({
            type: "POST",
            url: "ShowFormulareAndZiPoolDaten",
            loadingShow: true,
            success: function (result) {

                SearchResultsTryHide();

                if (_modelStateValid) {
                    ShowFormulareSearchResult(result);
                }

                LoadingHide();
            }
        });
    }

    function ShowFormulareSearchResult(result) {
        SearchFormHide();
        $("#divResult").html(result);
        $("#divResult").slideDown();
        FormPreparePrivateAjax();
        setTimeout(function () { ResizeTilesContainer(); }, 500);
    }

    function ResizeTilesContainer() {
        var newHeight = Math.max(140 , $('#ZiPoolInfo').closest('.portlet-body').height());
        $('#FormulareArea').closest('.portlet-body').css('height', newHeight);
    }

    function ShowPdfFormular(docName) {
        window.open("PdfDocumentDownload?docName=" + docName);
    }

    function RefreshZiPoolListe() {
        FormPreparePrivateAjax();

        $.ajax({
            type: "POST",
            url: "RefreshZiPoolListe",
            data: { gewerblich: $("#Gewerblich").is(':checked'), dienstleistung: $("#Dienstleistung").val() },
            loadingShow: true,
            success: function (result) {

                if (_modelStateValid) {
                    ShowFormulareSearchResult(result);
                }

                LoadingHide();
            }
        });
    }

</script>
