<?xml version="1.0"?>
<configuration>

    <configSections>
        <section name="dbConnections" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
    </configSections>

    <dbConnections>
        <add key="VMS012" value="Data Source=vms012;initial catalog=CKGPortal;User ID=DADWebAccess;Password=seE?Anemone;persist security info=true;packet size=4096"/>
        <add key="VMS026" value="Data Source=VMS026;initial catalog=CKGPortalTest;User ID=DADWebAccess;Password=seE?Anemone;persist security info=true;packet size=4096"/>
        <add key="VMS047" value="Data Source=vms047;initial catalog=CKGPortal_Test;User ID=DADWebAccess;Password=seE?Anemone;persist security info=true;packet size=4096"/>
    </dbConnections>

    <appSettings>
        
        <!--SAP-->
        <add key="SAPAppServerHost" value="192.168.10.151"/>
        <add key="SAPSystemNumber" value="0"/>
        <add key="SAPClient" value="10"/>
        <add key="SAPUsername" value="web_rfc"/>
        <add key="SAPPassword" value="17LOUNGE"/>
        <!--TRUE/FALSE-->
        <add key="ProdSAP" value="FALSE"/>
        <add key="TESTSAPAppServerHost" value="192.168.10.152"/>
        <add key="TESTSAPSystemNumber" value="0"/>
        <add key="TESTSAPClient" value="10"/>
        <add key="TESTSAPUsername" value="web_rfc"/>
        <add key="TESTSAPPassword" value="17LOUNGE"/>
        <add key="ErpConnectLicense" value="5DVZ5588DC-25444"/>

        <!--VMS047/VMS026/VMS012-->
        <add key="BapiCheckSqlConnection" value="VMS047"/>
        <!--TRUE/FALSE-->
        <add key="RunBapiCheck" value="TRUE"/>
        
        <!--Soll das UserLock-SQL-Skript nur an bestimmten Wochentagen laufen? (1=Montags..7=Sonntags, alle anderen Werte=nein)-->
        <add key="RunUserLockOnlyOn" value="6"/>

        <!-- Mail -->
        <add key="SmtpMailServer" value="ahs003.kroschke.de"/>
        <add key="SmtpMailSender" value="noreply.sgw@kroschke.de"/>
        <add key="SmtpMailRecipient" value="marco.carl@kroschke.de"/>
        
    </appSettings>
    
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
