<?xml version="1.0"?>
<configuration>

    <configSections>
        <section name="dbConnections" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </configSections>
    
    <dbConnections>
        
        <!--DAD-->
        <add key="DAD Prod (VMS012)" value="Data Source=vms012;initial catalog=CKGPortal;User ID=DADWebAccess;Password=seE?Anemone;persist security info=true;packet size=4096"/>
        <add key="DAD Test (VMS026)" value="Data Source=VMS026;initial catalog=CKGPortalTest;User ID=DADWebAccess;Password=seE?Anemone;persist security info=true;packet size=4096" />
        <add key="DAD Dev (VMS047)" value="Data Source=vms047;initial catalog=CKGPortal_Test;User ID=DADWebAccess;Password=seE?Anemone;persist security info=true;packet size=4096"/>
        
        <!--ZLD/Autohaus-->
        <add key="ZLD Prod (VMS056)" value="Data Source=vms056;initial catalog=CKGPortalTest;User ID=DADWebAccess;Password=seE?Anemone;persist security info=true;packet size=4096"/>
        <add key="ZLD Test (VMS056T)" value="Data Source=vms056t;initial catalog=CKGPortalTest;User ID=DADWebAccess;Password=seE?Anemone;persist security info=true;packet size=4096"/>
        <add key="ZLD Dev (VMS047)" value="Data Source=vms047;initial catalog=ZLDPortal_Test;User ID=DADWebAccess;Password=seE?Anemone;persist security info=true;packet size=4096"/>
        <add key="Autohaus Prod (VMS056)" value="Data Source=vms056;initial catalog=ZLDAutohaus;User ID=DADWebAccess;Password=seE?Anemone;persist security info=true;packet size=4096"/>
        <add key="Autohaus Test (VMS056T)" value="Data Source=vms056t;initial catalog=ZLDAutohaus;User ID=DADWebAccess;Password=seE?Anemone;persist security info=true;packet size=4096"/>
        <add key="Autohaus Dev (VMS047)" value="Data Source=vms047;initial catalog=ZLDAutohaus_Test;User ID=DADWebAccess;Password=seE?Anemone;persist security info=true;packet size=4096"/>
        
        <!--KBS-->
        <!--KBS Dev = DAD Dev-->
        <add key="KBS Prod (VMS029)" value="Data Source=vms029;initial catalog=CKGPortal;User ID=DADWebAccess;Password=seE?Anemone;persist security info=true;packet size=4096"/>
        <add key="KBS Test (VMS029T)" value="Data Source=vms029t;initial catalog=CKGPortalTest;User ID=DADWebAccess;Password=seE?Anemone;persist security info=true;packet size=4096"/>
        
    </dbConnections>

    <appSettings>
        <!--SAP-->
        <add key="SAPAppServerHost" value="192.168.10.151"/>
        <add key="SAPSystemNumber" value="0"/>
        <add key="SAPClient" value="10"/>
        <add key="SAPUsername" value="web_rfc"/>
        <add key="SAPPassword" value="17LOUNGE"/>
        <add key="ProdSAP" value="FALSE"/>
        <add key="TESTSAPAppServerHost" value="192.168.10.152"/>
        <add key="TESTSAPSystemNumber" value="0"/>
        <add key="TESTSAPClient" value="10"/>
        <add key="TESTSAPUsername" value="web_rfc"/>
        <add key="TESTSAPPassword" value="17LOUNGE"/>
        <add key="ErpConnectLicense" value="5DVZ5588DC-25444"/>
    </appSettings>

    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
