<?xml version="1.0"?>
<configuration>

    <configSections>
        <section name="dbConnections" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </configSections>
    
    <dbConnections>

        <add key="DAD Test (VMS026)" value="Data Source=VMS026;initial catalog=CKGPortalTest;User ID=DADWebAccess;Password=seE?Anemone;persist security info=true;packet size=4096" />
        
    </dbConnections>

    <appSettings>
        <!--SAP-->
        <add key="SAPAppServerHost" value="192.168.10.151"/>
        <add key="SAPSystemNumber" value="0"/>
        <add key="SAPClient" value="10"/>
        <add key="SAPUsername" value="web_rfc"/>
        <add key="SAPPassword" value="17LOUNGE"/>
        <add key="ProdSAP" value="FALSE"/>
        <add key="TESTSAPAppServerHost" value="192.168.10.152"/>
        <add key="TESTSAPSystemNumber" value="0"/>
        <add key="TESTSAPClient" value="10"/>
        <add key="TESTSAPUsername" value="web_rfc"/>
        <add key="TESTSAPPassword" value="17LOUNGE"/>
        <add key="ErpConnectLicense" value="5DVZ5588DC-25444"/>
        
        <add key="SapOrmModelsProjectPath" value="C:\dev\Work\SapORM\models"/>
    </appSettings>

    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
