div#header {
    /*background-image: url(../../Images/header_volvo.jpg);*/
}

.dadLogo2
{
    /*background-image: url(logo_wuerttemb.jpg);*/
}

div#header ul#navigation li
{
    background-color: #F44B12;
}

div#header ul#navigation li.active a
{
    color: #F44B12;
}

div#content div#navigationSubmenu a.active
{
    color: #F44B12;
}

div#content div#query
{
    background-color: #F44B12;
}

div#content div#innerContent div div.innerContentHeading
{
    background-color: #F44B12;
}

div#content div#innerContentRight div#innerContentRightHeading
{
    background-color: #F44B12;
}
.Menutitle
{
    background-color: #F44B12;
}

.Tablehead
{
    background-image: url(../../Images/headerBig.png);
    height: 30px;
    background-repeat: repeat-x;
    text-align: left;
    margin-left: 15px;
}
td.MainmenuItemAlternate:hover
{
    background-color: #F78A6C;
}

.divWait
{
    border: thin solid #F44B12;
}

.lblKontaktFirma
{
    color: #F44B12;
}

.ImpressumHead
{
    background-color: #F44B12;
}

.NaviImg
{
    background-image: url(../../Images/navi_orange.gif);
    background-repeat: no-repeat;
    height: 100%;
}

.RadGrid_Default .rgCommandTable
{
    background-color: #F44B12 !important;
    background-image: url(../../Images/overflow.png) !important;
}

.ExcelDiv {
    background-color:#F44B12;
}

A.TablebuttonLarge:hover
{
    color: #F44B12;
}

.GridTableHead th
{
	color:#F44B12;

    }

div#content div#innerContentRight div#data table tbody tr td a {
    color: #F44B12;

}

    
.formqueryHeader {
	vertical-align: baseline;
	background-image:url(../../Images/overflowThead.png);
    background-color:#9B9B9B;
    color:#FFFFFF;
    float:left;
    font-weight:bold;
    height:22px;
    line-height:22px;
    white-space:nowrap;
    white-space:nowrap;
    width:100%;
}

.TablebuttonXLarge 
{
    padding-top: 4px;
	background-image: url(../../Images/buttonXLarge.jpg);
    background-repeat: no-repeat;
	vertical-align:middle;
	text-align: center;
	font-size:10px;
	font-weight:bold;
	color: #333333;
}

a.Tablebutton:hover
{
    color: #ffffff;
}
.modalBackground {
	background-color:Gray;
	filter:alpha(opacity=70);
	opacity:0.7;
}

.responsibleTextName
{
	color:    #F44B12;
}
.responsibleTextName .responsibleText a:hover
{
      color:    #F44B12;
    }
    
.menuehead 
{
	color:#F44B12;
	text-align:left;

     }

.menuehead th{padding-left:15px}

a.tip:hover span
 {
  display: block;
  position: absolute;
  top: 20px;
  left: -60px;
  width: 285px;
  z-index: 0;
  font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif;
  padding:   2px 10px;
  background-color: LightYellow;
  text-align: left;
  border-color: #000000;
  border-style: solid;
  word-wrap:normal;
  border-width: 1px 1px;
  font-weight:normal;
  }
  
.TextError
{
	color: #F44B12;
}