@model CkgDomainLogic.Partner.ViewModels.PartnerViewModel

<script type="text/javascript">
    _adressenKennungLocalized = '@Model.AdressenKennungLocalized';
</script>
<div>
    *@Model.AdressenKennung.NotNullOrEmpty().ToUpper()*
</div>

@Html.Partial("AdressenPflege/AdressenGrid", new ViewDataDictionary
    {
        { "AddressSelectorAvailable" , false },
        { "ZulassungAvailable" , (Model.AdressenKennung.NotNullOrEmpty().ToUpper() == "HALTER") },
    })

