* html .dadLogo2 {
	padding-left: 670px;
	height:72px;
} 
* html div#header ul#navigation li
{
    background-color: #2265BE;
}

* html div#header ul#navigation li.active a
{
    color: #2265BE;
}

* html div#content div#navigationSubmenu a.active
{
    color: #2265BE;
}

* html div#content div#query
{
    background-color: #2265BE;
}

* html div#content div#innerContent div div.innerContentHeading
{
    background-color: #2265BE;
}

* html div#content div#innerContentRight div#innerContentRightHeading
{
    background-color: #2265BE;
}
.Menutitle
{
    background-color: #2265BE;
}
* html A.Tablebutton:hover
{
    color: #2265BE;
}
* html .Tablehead
{
    background-image: url(../../Images/headerBig.png);
    height: 30px;
    background-repeat: repeat-x;
    text-align: left;
    margin-left: 15px;
}
* html td.MainmenuItemAlternate:hover
{
    background-color: #2265BE;
}

* html .divWait
{
    border: thin solid #2265BE;
}

* html .lblKontaktFirma
{
    color: #2265BE;
}

* html .ImpressumHead
{
    background-color: #2265BE;
}

* html .NaviImg
{
    background-image: url(../../Images/navi_orange.gif);
    background-repeat: no-repeat;
    height: 100%;
}


* html .ExcelDiv {
    background-color:#2265BE;
}

* html A.TablebuttonLarge:hover
{
    color: #2265BE;
}
* html div#content div#innerContentRight div#adminInput {
	float: left;
	width: 100%;
}


* html div#content div#innerContentRight div#adminInput table {
	border-bottom-color:#dfdfdf;
	border-bottom-width:1px;
	border-bottom-style:solid;
    color:#595959;
	width: 100%; 
	border-left:1px solid #DFDFDF;
    border-right:1px solid #DFDFDF;
	padding-bottom:15px;
}


* html div#content div#innerContentRight div#adminInput .TableQuery {
	border-bottom-color:#dfdfdf;
	border-bottom-width:1px;
	border-bottom-style:solid;
	color: #333333;
		
}

* html div#content div#innerContentRight div#adminInput table tbody tr.formquery td {
	padding-top: 10px;
	padding-bottom:0px;
}

div#content div#innerContentRight div#adminInput table .active {
    font-weight:bold;
}

* html div#content div#innerContentRight div#adminInput table .active  a 
{
    color:#595959;
    text-decoration:underline;
    font-weight:lighter;
    }

* html div#content div#innerContentRight div#adminInput table .active span {
    font-weight:normal;
}

* html div#content div#innerContentRight div#adminInput table .firstLeft {
padding-left:15px;
padding-right:5px;
white-space:nowrap;
}


* html div#content div#innerContentRight div#adminInput table tbody tr.formquery td span input {
	border: none;
	width: auto;
}

* html div#content div#innerContentRight div#adminInput table tbody tr.formquery td.rightPadding { padding-right: 15px }


* html div#content div#innerContentRight div#adminInput table tbody tr.formquery td input, select {
	border: 1px solid #bfbfbf;
	width: 200px;
}

* html div#content div#innerContentRight div#dataQueryFooter {
	float: right;
	margin-top: 10px;
	margin-bottom: 31px;
}

* html .ExcelDiv a {
	padding-right: 19px;
}

* html .dataFooter {
    margin-bottom:31px;
    margin-top:10px;
}
* html .TablebuttonXLarge 
{
    padding-top: 4px;
	background-image: url(../../Images/buttonXLarge.jpg);
    background-repeat: no-repeat;
	vertical-align:middle;
	text-align: center;
	font-size:10px;
	font-weight:bold;
	color: #333333;
}

* html div#header ul {	margin-top: 41px;}

* html .formqueryHeader {
	vertical-align: baseline;
	background-image:url(../../Images/overflowThead.png);
    background-color:#9B9B9B;
    color:#FFFFFF;
    float:left;
    font-weight:bold;
    height:22px;
    line-height:22px;
    white-space:nowrap;
    white-space:nowrap;
    width:100%;
}
* html .formqueryHeader span{
padding-left:15px;
padding-right:5px;
white-space:nowrap;
}

* html .RBList{
    border: none;
}
* html .RBList input, radio{
   width: 3px;
}
