<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- Dateien, deren Erstellungsdatum älter als (Heute - "MonthsBack") ist, werden gelöscht! -->
		<add key="Path" value="C:\Inetpub\wwwroot\Portal\Bilder\View\" />
		<add key="Pattern" value="*.JPG" />
		<add key="DaysBack" value="1" />
        <!--Soll das UserLock-SQL-Skript nur an bestimmten Wochentagen laufen? (1=Montags..7=Sonntags, alle anderen Werte=nein)-->
        <add key="RunUserLockOnlyOn" value="6" />
		<!-- Mailingeinstellungen -->
		<add key="SmtpMailServer" value="192.168.10.30" />
		<add key="SmtpMailSender" value="noreply.sgw@kroschke.de" />
		<add key="SmtpMailRecipient" value="Oliver.Rudolph@kroschke.de,CK GmbH IT-Entwicklung" />        
	</appSettings>
</configuration>
