@model PortalMvcTools.Models.FormOuterLayerModel

<div id="FormSearchResults" class="hide FormSearchResultsGrid portlet box light-grey">
    <div class="portlet-title">
        <div class="caption"><i class="icon-table"></i><span>@Localize.Result </span></div>
        <div class="tools"><a href="#" class="collapse"></a></div>
        <div class="persistable-selector-current-for-grid-results"></div>
    </div>
    <div class="portlet-body form">

