@model PortalMvcTools.Models.FormOuterLayerModel

<div id="FormSearchResults" class="hide FormSearchResultsGrid portlet box light-grey">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-table"></i><span>@Localize.Result </span>
        </div>
        <div class="persistable-selector-current-for-grid-results"></div>
        <span class="grid-caption-alert alert hide"></span>

        <div class="tools"><a href="#" class="collapse"></a></div>
    </div>
    <div class="portlet-body form">

