@model PortalMvcTools.Models.FormOuterLayerModel

<div id="FormSearchResults" class="hide FormSearchResultsGrid portlet box light-grey">
    <div class="portlet-title">
        <div class="caption"><i class="icon-table"></i>Ergebnis</div>
        <div class="tools">
            <a href="#" class="collapse"></a>
        </div>
    </div>
    <div class="portlet-body form">

