@model PortalMvcTools.Models.FormOuterLayerModel

<div class="portlet box @Model.PortletCssClass">
    <div class="portlet-title cursor-pointer">
        <div class="caption"><i class="@Model.IconCssClass"></i>@Model.Header</div>
        <div class="tools">
            <a href="#" class="collapse"></a>
        </div>
    </div>
    <div class="portlet-body form">
