@model CkgDomainLogic.Fahrzeuge.Models.HolBringService.Overview 

<div id="DivOverview" class="margin-top-20">
    @using (Ajax.BeginForm("Overview", "HolBringService", null,
                           new MvcAjaxOptions { UpdateTargetId = "DivOverview", OnComplete = "AjaxFormOverviewComplete();" },
                           htmlAttributes: new { @class = "form-horizontal", id = "AjaxFormOverview" }))
    {
        @Html.FormValidationSummary()
        
        <div id="pdfContentOverview" class="ui-widget-content pdfContentStyle"> 
            <iframe id="pdfGenerated" src="ShowGeneratedPdf" class="ui-widget-content" frameborder="no"  width="100%" height="100%" />
        </div>
        
        <script>
            _modelIsValid = @ViewContext.ViewData.ModelState.IsValid.ToString().ToLower();

            $(function() {
                $("#pdfContentOverview").resizable({
                    helper: "ui-resizable-helper"
                });

                ResizePdfContainer();

                $( window ).resize(function() {
                    ResizePdfContainer();
                });
            });

        </script>
    }
</div>
