@model CkgDomainLogic.Fahrzeuge.Models.HolBringService.SendMail

<div id="DivSendMail" class="margin-top-20">
    
    <h3>Auftrag per Mail versenden</h3>
    
    <div>@Model.SendMailResult</div>
    
    <a href="DownloadGeneratedPdf" class="btn yellow tooltips margin-right-5 margin-bottom-10" data-original-title='PDF herunterladen' data-placement="top"> PDF herunterladen <i class="icon-download-alt"></i></a>
    <a href="DownloadMergedPdf" class="btn yellow tooltips margin-right-5 margin-bottom-10" data-original-title='PDF mit Werkstattauftrag herunterladen' data-placement="top"> PDF mit Werkstattauftrag herunterladen <i class="icon-download-alt"></i></a>
      
</div>

<script>
    $(function() {
        alert("4");
        FormWizard.ButtonCustom1Show(show, "sdfasdf");
    })
</script>