@model CkgDomainLogic.Partner.ViewModels.PartnerViewModel

@Html.Partial("AdressenPflege/AdresseCommon")

<h3 class="page-title">Partner <small>Pflege</small> </h3>


<div id="divSearchAndGrid">
    @using (Html.FormSearchBox())
    {
        @Html.Partial("Partial/PartnerSuche", Model.PartnerSelektor)
    }

    @using (Html.FormSearchResultsGrid())
    {
        <div id="divGrid"></div>
    }
</div>


<script type="text/javascript">

    var _modelStateValid = 'false';
    var _partnerKennungLocalized = '';

    $("#btnPartnerSuche").trigger("click");
    $("#divPartnerSuche").hide(true);

    function FormPreparePrivate() {
        FormPreparePrivateAdressenPflege();
    }

    function FormPreparePrivateAjax() {
        FormPrepareAjax();
    }

    function InitBankdaten() {
        setTimeout(function() {
            _ibanPrev = null;
            TryLoadBankdatenAusIban("#Iban", true);
        }, 100);
    }

    function TryShowPartnerGrid() {
        FormPreparePrivateAjax();

        ShowPartnerGrid();
    }

    function ShowPartnerGrid() {

        $.ajax({
            type: "POST",
            url: "ShowPartnerGrid",
            loadingShow: true,
            success: function (result) {

                SearchResultsTryHide();

                if (_modelStateValid) {
                    ShowPartnerSearchResult(result);
                    //return;
                }

                LoadingHide();
            }
        });
    }

    function ShowPartnerSearchResult(result) {
        SearchFormHide();
        $("#divGrid").html(result);

        // move our grid filter form into grid's toolbar:
        GridAllColumnFilterApplyToGrid("GridAdresse");

        $("#divGrid").slideDown();

        $("#FormSearchResults div.caption span").text(_partnerKennungLocalized + ", " + "@Localize.Result");
    }

    
    function OnDataBound_GridAdressen() {
        FilteredData_Grid_OnDataBound($(this));
        jQuery('.tooltips').tooltip();
        // prepare multi row selection
        App.initUniform();
        Grid_PrepareMultiRowSelected("GridAdressen");
        LoadingHide();
    }

    function OnColumnShowHide_GridAdressen() {
        FilteredData_Grid_OnColumnShowHide($(this));
    }

    function OnColumnReorder_GridAdressen() {
        FilteredData_Grid_OnColumnReorder($(this));
    }


    var _ibanPrev = null;
    function TryLoadBankdatenAusIban(textbox, suppressMessage) {

        if (_ibanPrev == $(textbox).val())
            return;
        _ibanPrev = $(textbox).val();

        $("#Swift").val('');
        $("#Geldinstitut").val('');

        LoadBankdatenAusIban(suppressMessage);
    }

    function LoadBankdatenAusIban(suppressMessage) {

        var iban = $("#Iban").val();

        $.ajax(
            {
                type: "POST",
                url: "LoadBankdatenAusIban",
                data: { iban: iban },
                loadingShow: true,
                success: function (result) {
                    if (result.Swift == null || result.Swift == '') {
                        $("#Swift").attr("readonly", false);
                        $("#Swift").attr("placeholder", "");
                        $("#Swift").val("");
                        $("#Geldinstitut").attr("readonly", false);
                        $("#Geldinstitut").attr("placeholder", "");
                        $("#Geldinstitut").val("");
                        return;
                    }

                    $("#Swift").val(result.Swift);
                    $("#Swift").attr("readonly", true);

                    $("#Geldinstitut").val(result.Geldinstitut);
                    $("#Geldinstitut").attr("readonly", true);

                    $("#KontoNr").val(result.KontoNr);
                    $("#Bankleitzahl").val(result.Bankleitzahl);

                    if (typeof (suppressMessage) === 'undefined' || !suppressMessage)
                        SpanAlertSuccess("bankDataHint", '@Localize.BankDataSuccessfullyRetrievedFromIban.ToJavascriptString()', 1800);
                }
            });

        return false;
    }



    function OnSelectionChange_GridAdressen(cb) {

        Grid_FormatMultiRowSelected(cb);

        $.ajax({
            type: "POST",
            url: "AdsressenAuswahlSelectionChanged",
            data: { id: cb.val(), isChecked: cb.is(':checked') },
            loadingShow: false,
            success: function (result) {                
                var count = result.allSelectionCount;
                //$("#count").text(count); // Popup Count
                result.allSelected = result.allSelectionCount === count;
                GridAdressen_MultiSelectUpdate(result.allSelectionCount, result.allSelected);               
                if (count === 0) {
                    $("#AdressenAuswahlCount").addClass('hide');
                    return;
                }                
                $("#AdressenAuswahlCount").removeClass('hide');
                $("#AdressenAuswahlCount > span").html('Sie haben ' + count + ' Adresse' + (count == 1 ? '' : 'n') + ' ausgewählt!');
            }
        });
    }

    function GridAdressen_OnAllSelectionChange(cb) {
        var check = cb.is(':checked');
        $.ajax({
            type: "POST",
            url: "AdsressenAuswahlSelectionChanged",
            data: { id: "", isChecked: check },
            loadingShow: true,
            success: function (result) {               
                //var count = result.allSelectionCount;
                //$("#count").text(count); // Popup Count
                result.allSelected = result.allSelectionCount === result.allCount;
                GridAdressen_MultiSelectUpdate(result.allSelectionCount, result.allSelected);               

                $("#csv-upload-reset > span.found-count").text(result.allFoundCount);
                $("#csv-upload-reset > span.all-count").text(result.allCount);
                FilterGrid("GridAdressen");
            }
        });
    }

    function GridAdressen_MultiSelectUpdate(count, allSelected) {
        //alert(allSelected);
        if (count == 0) {
            $("#AdressenAuswahlCount").addClass('hide');
            $("#checkAllRecords").attr("checked", allSelected);
            $.uniform.update($("#uncheckAllRecords"));
            return;
        }      

        $("#AdressenAuswahlCount").removeClass('hide');
        $("#AdressenAuswahlCount > span").html('Sie haben ' + count + ' Adresse' + (count == 1 ? '' : 'n') + ' ausgewählt!');
        $(".checkedRecords").attr("checked", allSelected);
        $.uniform.update($("#checkedRecords"));
    }


</script>
