@model CkgDomainLogic.Partner.ViewModels.PartnerViewModel

@Html.Partial("AdressenPflege/AdresseCommon")

<h3 class="page-title">Partner <small>Pflege</small> </h3>


<div id="divSearchAndGrid">
    @using (Html.FormSearchBox())
    {
        @Html.Partial("Partial/PartnerSuche", Model.PartnerSelektor)
    }

    @using (Html.FormSearchResultsGrid())
    {
        <div id="divGrid"></div>
    }
</div>


<script type="text/javascript">

    var _modelStateValid = 'false';
    var _partnerKennungLocalized = '';

    function FormPreparePrivate() {
        FormPreparePrivateAdressenPflege();
    }

    function FormPreparePrivateAjax() {
        FormPrepareAjax();
    }

    function InitBankdaten() {
        setTimeout(function() {
            _ibanPrev = null;
            TryLoadBankdatenAusIban("#Iban", true);
        }, 100);
    }

    function TryShowPartnerGrid() {
        FormPreparePrivateAjax();

        ShowPartnerGrid();
    }

    function ShowPartnerGrid() {

        $.ajax({
            type: "POST",
            url: "ShowPartnerGrid",
            loadingShow: true,
            success: function (result) {

                SearchResultsTryHide();

                if (_modelStateValid) {
                    ShowPartnerSearchResult(result);
                    //return;
                }

                LoadingHide();
            }
        });
    }

    function ShowPartnerSearchResult(result) {
        SearchFormHide();
        $("#divGrid").html(result);

        // move our grid filter form into grid's toolbar:
        GridAllColumnFilterApplyToGrid("GridAdresse");

        $("#divGrid").slideDown();

        $("#FormSearchResults div.caption span").text(_partnerKennungLocalized + ", " + "@Localize.Result");
    }

    
    function OnDataBound_GridAdressen() {
        FilteredData_Grid_OnDataBound($(this));
        jQuery('.tooltips').tooltip();
        LoadingHide();
    }

    function OnColumnShowHide_GridAdressen() {
        FilteredData_Grid_OnColumnShowHide($(this));
    }

    function OnColumnReorder_GridAdressen() {
        FilteredData_Grid_OnColumnReorder($(this));
    }


    var _ibanPrev = null;
    function TryLoadBankdatenAusIban(textbox, suppressMessage) {

        if (_ibanPrev == $(textbox).val())
            return;
        _ibanPrev = $(textbox).val();

        $("#Swift").val('');
        $("#Geldinstitut").val('');

        if ($(textbox).val().length < 22)
            return;

        LoadBankdatenAusIban(suppressMessage);
    }

    function LoadBankdatenAusIban(suppressMessage) {

        var iban = $("#Iban").val();

        $.ajax(
            {
                type: "POST",
                url: "LoadBankdatenAusIban",
                data: { iban: iban },
                loadingShow: true,
                success: function (result) {
                    if (result.Swift == null || result.Swift == '') {
                        $("#Swift").attr("readonly", false);
                        $("#Swift").attr("placeholder", "");
                        $("#Swift").val("");
                        $("#Geldinstitut").attr("readonly", false);
                        $("#Geldinstitut").attr("placeholder", "");
                        $("#Geldinstitut").val("");
                        return;
                    }

                    $("#Swift").val(result.Swift);
                    $("#Swift").attr("readonly", true);

                    $("#Geldinstitut").val(result.Geldinstitut);
                    $("#Geldinstitut").attr("readonly", true);

                    $("#KontoNr").val(result.KontoNr);
                    $("#Bankleitzahl").val(result.Bankleitzahl);

                    if (typeof (suppressMessage) === 'undefined' || !suppressMessage)
                        SpanAlertSuccess("bankDataHint", '@Localize.BankDataSuccessfullyRetrievedFromIban.ToJavascriptString()', 1800);
                }
            });

        return false;

    }
</script>
