div#headerLogo {
	background-image: url(../Images/header.jpg);
	background-position: 0px 0px;
	background-repeat: no-repeat;
	height: 125px;
	width: 947px;
	text-align:right;
}
 
    #Main 
    {
    	font-family: Tahoma, Verdana, sans-serif;
        font-size: 10pt;
        color: #595959;
        background-color:white;
        padding-left: 15px;
		padding-right: 15px;
     }
     
    .ButtonLinks a:link
    {
        color:#595959; 
        text-decoration:none;
    }
    .ButtonLinks a:visited
    {
        color:#595959; 
        text-decoration:none;
    }
    
    .ButtonLinks a:active
    {
        color:#595959; 
        text-decoration:none;
    }
    
    .ButtonLinks a:hover 
    {
        color:#999999; 
        text-decoration:none;
    }            
    
    .Tablehead
	{
		font-weight:bold;
		font-size:10px;
		color:white;
		background-color: #576B96;
		background-image: url(../Images/overflow.png);
		background-repeat:repeat-x;
		line-height: 22px;
		padding-left: 15px;
		text-align: left;

        border: solid 1px #999999;
	}
	
	.Tablehead a:link
	{
	    color:white;
	    text-decoration:none;
	}
	
	.Tablehead a:visited
	{
	    color:white;
	    text-decoration:none;
	}
	
	.Tablehead a:active
	{
	    color:white;
	    text-decoration:none;
	}
	
	.Tablehead a:hover
	{
	    color:white;
	    text-decoration:underline;	    
	}
	
    .TableFooter
	{
		font-weight:bold;
		font-size:10px;
		color:white;
		background-color: #576B96;
		background-image: url(../Images/overflow.png);
		background-repeat:repeat-x;
		line-height: 22px;
		padding-left: 15px;
		text-align: left;
	}

    .TablePager
	{
		color:white;
		background-color: #576B96;
		background-image: url(../Images/overflow.png);
		background-repeat:repeat-x;
		line-height: 22px;
		padding-right: 15px;
		text-align:right;
	}
	
	.TablePager a:link
	{
	    color:white;
	    text-decoration:none;
	}
	
	.TablePager a:visited
	{
	    color:white;
	    text-decoration:none;
	}
	
	.TablePager a:active
	{
	    color:white;
	    text-decoration:none;
	}
	
	.TablePager a:hover
	{
	    color:white;
	    text-decoration:underline;	    
	}
	
	.TableItems
	{
	    margin:5px 0px 0px 5px;
	}
	
    .TableContent
    {
            
    }

    .RadGridHeader
    {
    
    }

    .Head
	{
		font-weight:bold;
		font-size:12px;
		color:#595959;
	}
	
    .Beschriftung
	{
		font-family: Verdana, sans-serif;
		font-size:10px;
		font-weight:bold;
		color:#595959;
		Text-align:left;
		padding-left:3px;
		padding-top:3px;
	}
	
    .Infotext
	{
		font-family: Verdana, sans-serif;
		font-size:10px;
		color:#595959;
		Text-align:left;
		padding-left:3px;
		padding-top:3px;
	}

	.Heading
	{
		font-weight:bold;
		font-size:16px;
		color:white;
		background-color: #576B96;
		background-image: url(../Images/overflow.png);
		background-repeat:repeat-x;
		line-height: 22px;
		padding-left: 15px;
		text-align: left;
	}
	
	.HeadingBox
	{
		font-weight:bold;
		font-size:16px;
		color:#595959;
		line-height: 22px;
		padding-left: 15px;
		text-align: left;
	}
	
	.Trennlinie
	{
	    border-bottom:solid 1px #595959; 
	    margin-bottom:5px; 
	    padding-bottom:5px;    
	}
	
	.BigLetters
	{
	    font-size:26px;    
	}
	    
    .Button
	{
		color:#595959;
		
		border: solid 1px #999999;
		
		font-family: Verdana, sans-serif;
		font-size:10px;
		font-weight:bold;
		
		vertical-align:middle;
		text-align: center;
		
		padding:3px 3px 3px 3px;
		margin:5px 0px 0px 5px;
		
		width:72px;
		height:20px;
		
		background-image: url(../Images/button.jpg);
		background-position:center;
		background-repeat:repeat-x;
    }

    .ButtonMiddle
	{
	    color:#595959;
		
		border: solid 1px #999999;
		
		font-family: Verdana, sans-serif;
		font-size:10px;
		font-weight:bold;
		
		vertical-align:middle;
		text-align: center;
		
		padding:3px 3px 3px 3px;
				
		margin-left:3px;
		margin-top:3px;
		
		width:100px;
		height:20px;
		
		background-image: url('../Images/buttonMiddle.jpg');
		background-position:center;
		background-repeat:repeat-x;
	}
	
	 .ButtonLarge
	{
	    color:#595959;
		
		border: solid 1px #999999;
		
		font-family: Verdana, sans-serif;
		font-size:10px;
		font-weight:bold;
		
		vertical-align:middle;
		text-align: center;
		
		padding:3px 3px 3px 3px;
				
		margin-left:3px;
		margin-top:3px;
		
		width:128px;
		height:20px;
		
		background-image: url('../Images/buttonLarge.jpg');
		background-position:center;
		background-repeat:repeat-x;
	}
	
    .ButtonTelerik a
	{
		color:#595959;
		
		border: solid 1px #999999;
		
		font-family: Verdana, sans-serif;
		font-size:10px;
		font-weight:bold;
		
		vertical-align:middle;
		text-align: center;
		
		padding:3px 3px 3px 3px;

		margin-top:3px;

        width:72px;
		height:20px;
		
		background-image: url(../Images/button.jpg);
		background-position:center;
		background-repeat:repeat-x;
    }

    .ButtonMiddleTelerik a
	{
	    color:#595959;
		
		border: solid 1px #999999;
		
		font-family: Verdana, sans-serif;
		font-size:10px;
		font-weight:bold;
		
		vertical-align:middle;
		text-align: center;
		
		padding:3px 3px 3px 3px;
        				
		margin-top:3px;
				
		width:100px;
		height:20px;
		
		background-image: url('../Images/buttonMiddle.jpg');
		background-position:center;
		background-repeat:repeat-x;
	}
	
	 .ButtonLargeTelerik a
	{
	    color:#595959;
		
		border: solid 1px #999999;
		
		font-family: Verdana, sans-serif;
		font-size:10px;
		font-weight:bold;
		
		vertical-align:middle;
		text-align: center;
		
		padding:3px 3px 3px 3px;
		margin-top:3px;

		width:128px;
		height:20px;
		
		background-image: url('../Images/buttonLarge.jpg');
		background-position:center;
		background-repeat:repeat-x;
	}

    .ButtonTouchBox
    {
        width: 110px; 
        margin-left: 10px; 
        margin-top: 10px;
    }

    .ButtonTouch
    {
        width:100%;
        height:100%;
        min-width:50px;
        min-height:50px;
        
        vertical-align:baseline;
        
        background-image: url(../Images/TabUnselectedLeft.png);
        background-position:bottom;
        background-color:#576B96;
        background-repeat:repeat-x;
              
        color:#FFFFFF;
        
        font-weight:bold;
        font-size:medium;
    }
	
    .ButtonTouchSmall
    {
        width:100%;
        height:100%;
        min-width:50px;
        min-height:50px;
        
        vertical-align:baseline;
        
        background-image: url(../Images/TabUnselectedLeft.png);
        background-position:bottom;
        background-color:#576B96;
        background-repeat:repeat-x;
              
        color:#FFFFFF;
        
        font-weight:bold;
        font-size:small;
        white-space:normal;
    }

	.BackButtonTouch
    {
        width:100%;
        height:100%;
        min-width:50px;
        min-height:50px;
        
        background-image: url(../Images/BackButton.png);
        background-position:bottom;
        background-color:#576B96;
        background-repeat:repeat-x;
        
        color:#FFFFFF;
        
        font-weight:bold;
        font-size:medium;
    }
	
    .Image{
       padding-left:25px;
       padding-right:25px;
    }

    .Dropdown
	{
		color:Black;
		
		border: solid 1px #999999;
		
		font-family: Tahoma, Verdana, sans-serif;
		font-size:10pt;
	}
		
    .Error
	{
		color:Red;
		font-weight:bold;
		font-size:10;	
	}
	
    .Body 
    {
	    background-color: #bababa;
	    background-image: url(../Images/backgroundImage.gif);
	    background-position: 0px 0px;
	    background-repeat: repeat-x;
	    font-family: Verdana, sans-serif;
	    font-size: 10px;
	    margin-top: 2px;
    }
	
    .Rahmen
	{
		border: solid 1px #999999;	
	}
	
    .Box
	{
		border: solid 1px #999999;
		padding : 5px 5px 5px 5px;		
	}
	
	.Background
	{
	    background-color:white;
        opacity: 1;
        filter:alpha(opacity:100);
        -ms-opacity:1;
        -moz-opacity:1;
	}
	
    .MenuText
	{
		font-family:Tahoma, Verdana, sans-serif;
		font-size:10px;
		font-weight:bold;
		color:#707070;
		
		text-align:left;
		vertical-align: middle;
	}
	
    .Buttoncontainer
	{
		float:right;
	}
	 
    .tcWaren
    {
        width:100%;
    }
    
    .tcWaren table
    {
        width:100%;    
    }
    
    .tcWaren table tr td
    {
        width:100px;
        height:100px;    
    }
	  
    .Tab
    {
	    
	} 
	
    .Tab .ajax__tab_header
    {
        text-align:left;
    }

    .Tab .ajax__tab_outer
    {
        padding-left:3px; 
    }

    .Tab .ajax__tab_inner
    {
       
    }

    .Tab .ajax__tab_tab
    {
        background-Image: url(../Images/TabUnselectedLeft2.png);
        background-color: #576B96;
        background-position:bottom;
        
        border-top:solid 1px #999999;
        border-left: solid 1px #999999;
        border-right:solid 1px #999999;
        
        width:100px;
	    height:20px;
        
        text-align:center;
        vertical-align: middle;
        padding :10px 0px 10px 0px;
        
        font-size:medium;
        font-weight:bold;
        
        color: White;  
    }

    .ajax__tab_disabled .ajax__tab_outer .ajax__tab_inner .ajax__tab_tab
    {
        color:Gray;
        background-image: url(../Images/TabSelectedLeft2.png);
        background-color: #FFFFFF;
        text-decoration: none;    
    }
    
    .Tab .ajax__tab_xp
    {
    
    }

    .Tab .ajax__tab_body
    {
        border:solid 1px #999999;
    }
    
    .Tab .ajax__tab_hover
    {
    
    }
    
    .Tab .ajax__tab_active
    {        
        background-position:bottom;
        background-repeat:no-repeat;
        width:100px;
        height:40px; 
    }

    .Tab .ajax__tab_body
    {
        overflow: auto;
    }

    .Tab .ajax__tab_panel ul
    {
        padding-left:10px;
    }
    
    .NaviButton
    {
        color: #ffffff;
	    font-weight: bold;
	    font-size:10px;
	    text-decoration: underline;
	    font-family:Verdana, Sans-Serif;    
    } 
		  
    .BackgroundPopUp
    {
        position: fixed; 
        top: 0px; 
        left: 0px;
        width: 100%;
        height: 100%;
        background-color:#ffffff;
        position: absolute;
        z-index:3;

        opacity: 0.7;
        filter:alpha(opacity:70);
        -ms-opacity:0.7;
        -moz-opacity:0.7;

   	    /*vertical-align:middle;
	    text-align: center;
	    font-size:12px;
	    font-weight:bold; 
	    color: #333333;*/
     }  
div#website 
	{
		margin: 0px 0px 0px 0px;
		top: 0px;
		width: 947px;
	}

div#website table
	{
	width: 100%;
}

div#websitefoot {
	margin: 0px auto;
	top: 0px;
	width: 947px;
}

div#Footer {
	background-color: #efefef;
	clear: both;
	color: #595959;
	/*float: left;*/
	height: 24px;
	padding-top: 12px;
	
	width: 100%;/*928px;*/
}

div#Footer div a { 
    color: #595959; 
    }

div#Footer div.leftAlign { 
    float: left; 
    padding-left: 19px;
}

div#Footer div.rightAlign {
	float: right;
	margin-right:36px;
}

div#footfoot
{
    border-left: 1px solid #bbbbbb; 
    float: left; 
    margin-left: 25px; 
    z-index: 1;
    border-right: 1px solid #bbbbbb;
        }
        
.dadLogo2 {
	padding-right: 19px;
	padding: 0 19px 0 0;
	background-position: right;
	text-align: right;
	background-repeat: no-repeat;
	height: 68px;
} 

div#headerLogo ul {
	float: left;
	list-style-type: none;
	margin-top: 35px;
	margin-left: 0px;
	margin-bottom: 0px;
	padding-left: 19px;
}

div#headerLogo ul li {
	float: left;
	height: 18px;
	padding-top: 4px;
	padding-right: 14px;
	padding-left: 14px;
}

div#headerLogo ul#navigation {
	background-image: url(../Images/overflowNavigationShadow.png);
	background-position: right;
	background-repeat: no-repeat;
	padding-right: 18px;

}

div#headerLogo ul#navigation li {
	background-image: url(../Images/overflowNavigation.png);
	background-position: top left;
	background-repeat: no-repeat;	
}


div#headerLogo ul#navigation li.active {
	background-color: #ffffff;
	background-image: none;
	border-top: 1px solid #bbbbbb;
	border-left: 1px solid #bbbbbb;
}

div#headerLogo ul#navigation li a {
	color: #ffffff;
	font-weight: bold;
} 

div#headerLogo ul#userinfo {
	float: right;
	padding-right: 19px;
}

div#headerLogo ul#userinfo li {
	color: #ffffff;
	padding-right: 0px;
}

div#headerLogo ul#userinfo li.logout 
{ 
    padding-top: 0px; 
}

#lnkLogout
{
	width:78px;
}
