.ButtonRechner
    {
        width:100%;
        height:100%;
        
        padding: 2px 2px 2px 2px; 
        
        background-position:center;
        background-color:#DDDDDD;        
        
        border:solid 1 #595959;
        
        color:#333333;
        
        font-size:20px;
    }

.ButtonOK
    {
        width:100%;
        height:100%;
        
        padding: 2px 2px 2px 2px; 
          
        background-position:center;
        background-color:#029d02;
                
        color:#FFFFFF;
        
        border:solid 1 #595959;
        
        font-size:20px;
    }
    
.ButtonCancel
    {
        width:100%;
        height:100%;
        
        padding: 2px 2px 2px 2px; 
        
        background-position:center;
        background-color:#9d0202;
               
        color:#FFFFFF;
        
        border:solid 1 #595959;
        
        font-size:20px;
    }
    
.RechnerBackground
    {
        width:100%;
        height:100%;
                
        margin: 2px 2px 2px 2px;
        Background-Color:#DDDDDD;
        text-align:center;    
    }
    
.RechnerTextbox
    {
        width:98%;
        border:solid 1 #595959;
        text-align:right;
        font-size:20px;
        height: 10%;
    }
    
.RechnerTabelle
    {        
        height: 246px; 
        width:100%;  
    }
    
.Box
	{
		border: solid 1px #999999;
		padding : 5px 5px 5px 5px;		
	}