@model CkgDomainLogic.DataConverter.ViewModels.DataConverterViewModel

<h4>Konfiguration abgeschlossen</h4>

<p>
    Hinweis: Das .NET-Objekt "DataMapper" enthält jetzt alle Definitionen. Was damit gemacht werden soll, ist noch unklar.<br/>
    Es kann entweder komplett serialisiert gespeichert werden oder die einzelnen Properties separat.
</p>

<p>
    Der DataMapper kann sodann autark für das erstellen einer XML-Datei, basierend auf der Konfiguration, genutzt werden. Derzeit wird das mit Daten gefüllte XML-Dokument als Datei gespeichert.<br/>
</p>
<p>
    Hierfür DataMapper mit SourceFile, DestinationFile, DataConnections, Processors versehen und "ExportToXml" aufrufen.
</p>

<p>
public SourceFile SourceFile { get; set; }<br/>         
public DestinationFile DestinationFile { get; set; }<br/>
public List(DataConnection) DataConnections { get; set; }<br/>
public List(Processor) Processors { get; set; }<br/>
</p>