@model CkgDomainLogic.FzgModelle.ViewModels.ModellIdViewModel 
@using CkgDomainLogic.FzgModelle.Models
@{
    var gridName = "GridModellId";
}

@(Html.XTelerik()
    .XGrid<ModellId>()
    .Name(gridName)
    .XAjaxDataBinding("ModellIdsAjaxBinding", "ModellId")
    .Columns(columns =>
        {
            columns.XBound(c => c.ID).Width(145).Title("").Filterable(false).Sortable(false)
                    .ClientTemplate(
                        "<button onclick='ItemEdit(\"<#= data.ID #>\");' class='btn mini gray tooltips' data-original-title='" + Localize.ItemEdit + "' data-placement='right'><i class='halflings-icon white pencil'></i></button>"
                        + "&nbsp;"
                        + "<button onclick='ItemNew(\"<#= data.ID #>\");' class='btn mini gray tooltips' data-original-title='" + Localize.ItemDuplicate + "' data-placement='right'><i class='halflings-icon white plus'></i><i class='halflings-icon white plus'></i></button>"
                ).HeaderTemplate(
                    "<button onclick='ItemNew(\"\");' class='btn mini gray tooltips' data-original-title='" + Localize.ItemAdd + "' data-placement='right'><i class='halflings-icon white plus'></i></button>"
                );

            columns.XBound(c => c.ID);
            columns.XBound(c => c.HerstellerName);
            columns.XBound(c => c.Bezeichnung);
        })
    .XAutoColumnConfiguration()
    .ClientEvents(events => events.XAutoClientEvents(gridName))
    .XPageSize(10)
    .XSort(sortOrder => sortOrder.Add(c => c.Bezeichnung).Ascending())
    .XToolBar("ModellId")
)


