@using CkgDomainLogic.Fahrzeuge.Models
@model TreuhandverwaltungSelektor

<div id="divTreuhandverwaltungWeiche">    
    @using (Ajax.BeginForm("ShowWeiche", "Fahrzeuge", null, new MvcAjaxOptions("divTreuhandverwaltungWeiche")))
    {                                        
         @Html.FormValidationSummary()                                                                                                                                                                                     
    }

     <div id="divNavigation">                  
            <button onclick="ShowKundenauswahl()" class='btn blue'><i class='margin-right-10'></i>@Localize.TrusteeServices</button>
            <button onclick="ShowReportsSuche(0)" class='btn blue'><i class='margin-right-10'></i>@Localize.TrusteeStockTrustee</button>
            <button onclick="ShowReportsSuche(1)" class='btn blue'><i class='margin-right-10'></i>@Localize.TrusteeStockClient</button>
     </div>   
</div>

<script type="text/javascript">

    function ShowKundenauswahl() {
        $.ajax({
            type: "POST",
            url: "ShowKundenauswahl",
            loadingShow: true,
            success: function (result) {
                $("#divTreuhandverwaltungWeiche").html(result);
                $("#divTreuhandverwaltungWeiche").show();
            }
        });
    }

    function ShowReportsSuche(i) {
        $.ajax({
            type: "POST",
            url: "ShowReportsSuche",
            data: { reportType: i },
            loadingShow: true,
            success: function (result) {
                $("#divTreuhandverwaltungWeiche").html(result);
                $("#divTreuhandverwaltungWeiche").show();
            }
        });
    }

 </script>