<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="true"
      internalLogFile="C:\tmp\NLog_PortalZLD.log">

    <!--   Die Namen der Assemblies in denen sich Klassen befinden die NLog verwenden soll. -->
    <extensions>
        <add assembly="GeneralTools" />
    </extensions>

    <!-- Für NLog sind Targets Schreibziele: Dorthin kann NLog Nachrichten schreiben. -->
    <targets async="true" >
        <default-wrapper xsi:type="RetryingWrapper" />
        <target xsi:type="File"
                name="ExceptionFileWriter"
                archiveAboveSize="10000"
                archiveFileName="${basedir}/logs/ExceptionFileWriterArchive.${shortdate}.{#####}.log"
                maxArchiveFiles="3"
                archiveNumbering = "Rolling"
                fileName="${basedir}/logs/ExceptionFileWriter.log"
                layout="#### ${longdate} ${uppercase:${level}} ${message} ${event-context:item=Application} ${event-context:item=Application} ${event-context:item=Type} ${event-context:item=Host} ${event-context:item=Source} ${event-context:item=User} ${event-context:item=AllXml} " />

        <target xsi:type="ElmahDatabaseTarget" name="ElmahDatabaseTarget" />
    </targets>

    <targets async="true">
        <default-wrapper xsi:type="BufferingWrapper" bufferSize="1" >
            <!-- https://github.com/nlog/NLog/wiki/BufferingWrapper-target -->
            <wrapper-target xsi:type="RetryingWrapper"  />
        </default-wrapper>

        <target xsi:type="File"
                name="SapFileWriter"
                archiveAboveSize="1000000"
                archiveFileName="${basedir}/logs/SapFileWriterArchive.${shortdate}.{#####}.log"
                maxArchiveFiles="5"
                archiveNumbering = "Rolling"
                fileName="${basedir}/logs/SapFileWriter.log"
                layout="${longdate} ${uppercase:${level}} ${event-context:item=Anmeldename} ${event-context:item=Bapi} ${event-context:item=ImportParameters} ${event-context:item=ImportTables} ${event-context:item=DataContext} ${event-context:item=LogonContext} ${event-context:item=Status} ${event-context:item=Dauer} ${event-context:item=ExportParamters} ${event-context:item=ExportTables}" />

        <!-- ACHTUNG: Anwender definierte Schreibziele, die Klassen befinden sich im Assembly GeneralTools -->
        <target name="DatabaseLog"
                xsi:type="DatabaseLog" />
    </targets>

    <rules>
        <logger name="ElmahLogger" writeTo="ElmahDatabaseTarget" />
        <logger name="ElmahLogger" writeTo="ExceptionFileWriter" />
        <logger name="SapLogger" writeTo="DatabaseLog" />
        <logger name="SapLogger" writeTo="SapFileWriter" />
        <logger name="PageVisitLogger" writeTo="DatabaseLog" />
    </rules>
</nlog>