@model CkgDomainLogic.CoC.ViewModels.CocBeauftragungViewModel

<style type="text/css">

</style>

<h4>Ihre Auftragsdaten</h4> 

@Html.Partial("FreieZulassungsOptionenForm", @Model.FreieZulassungsOption)
