div, thead, li, ul, a { behavior: url(/Services/Images/iepngfix.htc) } /* IE PNG-Fix */
 /* IE6-Hacks */

* html div#header ul { margin-top: 43px }
* html div#header table { margin-top: 51px }
* html div#content div#innerContent div div.innerContentHeading { margin-right: 15px; width: 90% }
* html div#content div#innerContent div#login { margin-right: 0px }
* html div#content div#innerContentLeft { width: 18%; }

* html .dadLogo2
{
    background-image: url(akf_Retail_logo.gif);
}

* html div#header ul#navigation li
{
    background-color: #99cccc;
}

* html div#header ul#navigation li.active a
{
    color: #99cccc;
}

* html div#content div#navigationSubmenu a.active
{
    color: #99cccc;
}

* html div#content div#query
{
    background-color: #99cccc;
}

* html div#content div#innerContent div div.innerContentHeading
{
    background-color: #99cccc;
}

* html div#content div#innerContentRight div#innerContentRightHeading
{
    background-color: #99cccc;
}
* html .Menutitle
{
    background-color: #99cccc;
}
* html A.Tablebutton:hover
{
    color: #99cccc;
}

* html td.MainmenuItemAlternate:hover
{
    background-color: #99cccc;
}

* html .divWait
{
    border: thin solid #99cccc;
}

* html .lblKontaktFirma
{
    color: #99cccc;
}

* html .ImpressumHead
{
    background-color: #99cccc;
}

* html .NaviImg
{
    background-image: url(../../../Images/navi_orange.gif);
    background-repeat: no-repeat;
    height: 100%;
}







