<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WkdaGenerateUpsShippingLabelTask.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- Dieser Abschnitt definiert die Protokollierungskonfiguration für My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Auskommentierung des nachfolgenden Abschnitts aufheben, um in das Anwendungsereignisprotokoll zu schreiben -->
                    <add name="EventLog"/>
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Auskommentierung des nachfolgenden Abschnitts aufheben, um in das Anwendungsereignisprotokoll zu schreiben -->
            <add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="WkdaGenerateUpsShippingLabelTask"/>
        </sharedListeners>
    </system.diagnostics>
    <appSettings>

        <!--SAP-->
        <add key="SAPAppServerHost" value="192.168.10.151"/>
        <add key="SAPSystemNumber" value="0"/>
        <add key="SAPClient" value="10"/>
        <add key="SAPUsername" value="web_rfc"/>
        <add key="SAPPassword" value="17LOUNGE"/>
        <add key="ProdSAP" value="FALSE"/>
        <add key="TESTSAPAppServerHost" value="192.168.10.152"/>
        <add key="TESTSAPSystemNumber" value="0"/>
        <add key="TESTSAPClient" value="10"/>
        <add key="TESTSAPUsername" value="web_rfc"/>
        <add key="TESTSAPPassword" value="17LOUNGE"/>
        <add key="ErpConnectLicense" value="5DVZ5588DC-25444"/>

        <add key="WkdaKunnr" value="0010077452"/>
        <!--<add key="WkdaLabelAblagePfad" value="\\192.168.10.96\user\wkda_archiv\ups\"/>-->
        <add key="WkdaLabelAblagePfad" value="c:\temp\wkda_archiv\ups\"/>
        <add key="WkdaLabelDateiname" value="Versandlabel.pdf"/>
        <add key="UpsShippingWebServiceUrl" value="https://wwwcie.ups.com/webservices/Ship"/>
        <add key="UpsShippingWebServiceUsername" value="DADAhrensburg"/>
        <add key="UpsShippingWebServicePassword" value="DAD#092015"/>
        <add key="UpsShippingWebServiceAccessKey" value="2CF910231D9BF298"/>

        <!--TEST-Flags-->
        <add key="PauseAfterCompletion" value="true"/>

    </appSettings>
    <applicationSettings>
        <WkdaGenerateUpsShippingLabelTask.Properties.Settings>
            <setting name="WkdaGenerateUpsShippingLabelTask_UPSShip_ShipService" serializeAs="String">
                <value>https://wwwcie.ups.com/webservices/Ship</value>
            </setting>
        </WkdaGenerateUpsShippingLabelTask.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
