<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
  <appSettings>
    <add key="DefaultUserID" value="3385"/>

    <add key="Connectionstring" value="Data Source=VMS026;initial catalog=CKGPortalTest;User ID=DADWebAccess;Password=seE?Anemone;persist security info=true;packet size=4096" />
    <add key="yConnectionstring" value="Data Source=vms019;initial catalog=CKGPortal;User ID=WebAccess;Password=seE?Anemone;persist security info=true;packet size=4096"/>
    <add key="xConnectionstring" value="Data Source=vms012;initial catalog=CKGPortal;User ID=DADWebAccess;Password=seE?Anemone;persist security info=true;packet size=4096" />
    <add key="ConnectionstringDADArchiv" value="Data Source=AHS009;initial catalog=DADAlt;User ID=DADWebAccess;Password=seE?Anemone;persist security info=true;packet size=4096"/>
    <add key="LogPath" value="\\192.168.10.79\sapweb\easy\dontdelete\"/>
    <add key="LogFile" value="web_sqllog.txt"/>
    <add key="WebAppPath" value="PortalZLD"/>
    <add key="ExcelPath" value="C:\Inetpub\wwwroot\PortalZLD\Temp\Excel\"/>
    <add key="TestModus" value="OFF"/>
    <add key="BouncePage" value="/Bounce/"/>
    <add key="LogLevel" value="DBG"/>
    <add key="SaveLogAccessSAP" value="ON"/>
    <add key="WriteErrorTextLevel" value="2"/>
    <add key="SAPAppServerHost" value="192.168.10.151"/>
    <add key="SAPSystemNumber" value="0"/>
    <add key="SAPClient" value="10"/>
    <add key="SAPUsername" value="web_rfc"/>
    <add key="SAPPassword" value="17LOUNGE"/>
    <add key="TESTSAPAppServerHost" value="192.168.10.152"/>
    <add key="TESTSAPSystemNumber" value="0"/>
    <add key="TESTSAPClient" value="10"/>
    <add key="TESTSAPUsername" value="web_rfc"/>
    <add key="TESTSAPPassword" value="17LOUNGE"/>
    <add key="Serverzeitcheck" value="ON"/>
    <add key="Exit" value="../Start/Logout.aspx"/>
    <add key="SmtpMailServer" value="192.168.33.30"/>
    <add key="SmtpMailSender" value="noreply.sgw@kroschke.de"/>
    <add key="SmtpMailAddress" value="dirk.schlender@kroschke.de;sven.fassbender@kroschke.de"/>
    <add key="EasySystem" value="NEW"/>
    <add key="EasyRemoteHosts" value="192.168.10.116,2001,1|192.168.10.116,2002,1|192.168.10.116,2003,1|192.168.10.116,2004,1|192.168.10.116,2005,1|192.168.10.116,2006,1|192.168.10.116,2007,1|192.168.10.116,2008,1|192.168.10.116,2009,1|192.168.10.116,2010,1"/>
    <add key="EasyRemoteHost" value="192.168.10.116"/>
    <add key="EasyRemotePort" value="2001"/>
    <add key="EasyRequestTimeout" value="60"/>
    <add key="EasySessionId" value="_"/>
    <add key="EasyBlobPathLocal" value="C:\Inetpub\wwwroot\PortalZLD\Temp\Pictures"/>
    <add key="EasyBlobPathWebserver" value="\PortalZLD\Temp\Pictures\"/>
    <add key="EasyBlobPathRemote" value="C:\TEMP"/>
    <add key="EasyLogPath" value="C:\TEMP"/>
    <add key="EasyUser" value="SYSTEM"/>
    <add key="EasyPwd" value="34A3ABA5AE42A79396"/>
    <add key="EasyPwdClear" value="alabasta04"/>
    <add key="UploadPath" value="\PortalZLD\Bilder\"/>
    <add key="UploadPathLocal" value="C:\Inetpub\wwwroot\PortalZLD\Bilder\"/>
    <add key="UploadPathLocalProtokoll" value="c:\faxeingang\"/>
    <add key="UploadPathSamba" value="\\192.168.10.79\sapweb\easy\"/>
    <add key="UploadPathSambaArchive" value="D:\Dokumente\"/>
    <add key="SaveSplitPDF" value="\\192.168.10.126\faxeingang\start\"/>
    <add key="DownloadPathSamba" value="D:\Dokumente\"/>
    <add key="UploadPathSambaShow" value="C:\Inetpub\wwwroot\PortalZLD\Bilder\View\"/>
    <add key="EasyImportPath" value="d:\programme\easyware\daten\ueberf\"/>
    <add key="EasyImportFile" value="ueberf.imp"/>
    <add key="EasyLockFile" value="kopiersperre.act"/>
    <add key="PathView" value="\PortalZLD\Bilder\View\"/>
    <add key="PathThumb" value="\PortalZLD\Images\THUMB.jpg"/>
    <add key="MailBody" value="Sehr geehrte Damen und Herren,§§In der Anlage erhalten Sie das Übergabeprotokoll zum oben genannten Vorgang.§§Mit freundlichen Grüßen§§DAD DEUTSCHER AUTO DIENST GmbH"/>
    <add key="MailBodyKcl" value="Sehr geehrte Damen und Herren,§§In der Anlage erhalten Sie das Übergabeprotokoll zum oben genannten Vorgang.§§Mit freundlichen Grüßen§§Kroschke Car Logistics GmbH"/>
    <add key="ShowExcelLinkUserDownload" value="324616;324616"/>
    <add key="ArvalAuftragsEnde" value="15"/>
    <add key="ArvalAuftragMunchenLand" value="0918400"/>
    <add key="MaxUploadSize" value="300000"/>
    <add key="MaxUploadSizePDF" value="200000"/>
    <add key="MaxUploadSizeUeberf" value="500000"/>
    <add key="ShowProductiveBackground" value="ON"/>
    <add key="LogDurationASPX" value="ON"/>
    <add key="ClearDurationASPX" value="OFF"/>
    <add key="LicensePath" value="C:\Temp\0000\"/>
    <add key="DataWizard" value="http://192.168.10.192:80/dw/Request/"/>
    <add key="DownloadPathGMAC" value="C:\Inetpub\wwwroot\Portal\temp\excel\"/>
    <add key="UploadPathZulXL" value="\\192.168.10.79\fpruefung\zulassungsstelle\import\"/>
    <add key="DownloadPathZulXL" value="\\192.168.10.79\fpruefung\zulassungsstelle\export\test\"/>
    <add key="InsuranceValidationUrl" value="http://localhost/Validation/Forms/InsConfirm.aspx?key="/>
    <add key="UpDownKundeXL" value="\\192.168.10.79\fpruefung\xlcheck\test\"/>
    <add key="MailZulStelle" value="Fuehrerscheinkontrolle@dad.de"/>
    <add key="MailDad" value="Fuehrerscheinkontrolle@dad.de"/>
    <add key="DatabaseEntries" value="ON"/>
    <add key="enablePEIS" value="false"/>
    <add key="PEISTargetEmail" value="Entwicklung@Kroschke.de"/>
    <add key="enablePeisErrorFilter" value="false"/>
    <add key="enableSessionTimeOutFilter" value="false"/>
    <add key="ApplicationKey" value="PortalZLD"/>
    <add key="SignCertFilename" value="C:\Inetpub\wwwroot\Services\Components\eIDConnector\Receiver\kroschkeSignPrivateKey.pfx"/>
    <add key="SignCertPasswd" value="test"/>
    <add key="EncrCertFilename" value="C:\Inetpub\wwwroot\Services\Components\eIDConnector\Receiver\kroschkeEncrPrivateKey.pfx"/>
    <add key="EncrCertPasswd" value="test"/>
    <add key="eIDServerUrl" value="https://live.eid-service.de/epa"/>
    <add key="IssuerID" value="https://sgwt.kroschke.de/Services/"/>
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=C:\Inetpub\wwwroot\Services\Temp\Excel\;"/>
    <add key="ErpConnectLicense" value="5DVZ5588DC-25444"/>
    <add key="nPaURL" value="https://sgwt.kroschke.de/npa/Start.aspx"/>
    <add key="SSORemoteHost" value="127.0.0.1"/>
    <add key="ProdSAP"  value="FALSE"/>
    <add key="Telerik.Skin" value="Metro"/>
    <add key="aspnet:MaxHttpCollectionKeys" value="2000" />
  </appSettings>
</configuration>