@using CkgDomainLogic.Finance.Models
@using MvcTools.Models
@model PruefschrittSuchparameter

<div id="divPruefschritteSuche">
    @using (Ajax.BeginForm("LoadPruefschritte", "Finance", null,
        new MvcAjaxOptions("divPruefschritteSuche") { OnComplete = "ShowPruefschritte();" }))
    {    
        <div class="form-horizontal label-width-200" id="searchForm">
            @Html.ValidationSummary()
            
            @Html.FormTextBoxFor(m => m.Kontonummer, new { @class = "m-wrap", @onkeypress = "return NumbersOnly(false);" })
            @Html.FormTextBoxFor(m => m.PAID, new { @class = "m-wrap", @onkeypress = "return NumbersOnly(false);" })

            <div class="space20"></div>

            <div class="form-actions">
                <button type="submit" class='btn blue margin-left-40'><i class='icon-search'></i>&nbsp;Suchen</button>
            </div>
        </div>  
        
        <script type="text/javascript">
            _modelStateValid = '@ViewContext.ViewData.ModelState.IsValid.ToString().ToLower()';
        </script>
    }
</div>

<script type="text/javascript">

    function ShowPruefschritte() {
        FormPreparePrivateAjax();

        $.ajax({
            type: "POST",
            url: "ShowPruefschritte",
            success: function (result) {
                if (_modelStateValid == 'true') {
                    ShowPruefschritteSearchResult(result);
                }
            }
        });
    }

</script>