
<style type="text/css">
    
    .grid-t-column-header-admin-edit-div input[type='text'] {
        background-color: white!important;
    }
    
    .grid-t-column-header-admin-edit-div .divider {
        font-weight: bold;
        margin: 8px;
        margin-left: 50px;
        border-bottom: 1px solid #efefef;
        padding-bottom: 5px;
    }
    
</style>

<div class="hide">
    <img class="flag-de" alt="" src="/ServicesMvc/assets/img/flags/de.png">
    <img class="flag-en" alt="" src="/ServicesMvc/assets/img/flags/en.png">
    <img class="flag-fr" alt="" src="/ServicesMvc/assets/img/flags/fr.png">
</div>

<script type="text/javascript">

    var _modelStateGridColumnTranslationValid = false;
    var _gridName = null;

    function TryPrepareGridSettingsAdministration(gridEl) {

        _gridName = gridEl.attr("id");
        var grid = gridEl.data("tGrid");
        
        var gridHeaders = gridEl.find("th.t-header");

        $.each(grid.columns, function (index, col) {

            var gridHeader = $(gridHeaders[index]);
            if (gridHeader.find(".grid-t-column-header-admin").length == 0) {
                var adminButton = $(
                    "<a class='grid-t-column-header-admin' href='#' data-original-title='Spalte customizen + übersetzen!' data-placement='bottom'" +
                    " onclick='return GridSettingsAdminEditColumnHeader(\"" + gridEl.attr("id") + "\", \"" + col.member + "\");'>" +
                    " <i class='icon-wrench'>" +
                    "</a>");

                adminButton.tooltip();
                gridHeader.append(adminButton);
            }
        });

        if (gridEl.parent().find(".grid-t-column-header-admin-edit-div").length == 0)
            gridEl.parent().prepend($("<div class='grid-t-column-header-admin-edit-div hide'></div>"));
    }

    function GridColumnTranslationsFormPrepare() {
        $(".tooltips").tooltip();
        //console.log($("#GridColumnTranslationsForm label.control-label").length);
        $.each($("#GridColumnTranslationsForm label.control-label"), function(index, elem) {
            var labelText = $(elem).text().trim();
            if (labelText.length < 2)
                return;

            var flag = labelText.substring(0, 2);
            $(elem).append($("img.flag-" + flag).clone().attr("class", ""));
        });
    }
    
    function GridColumnTranslationsFormDeleteCustomerTranslation() {
        if (!confirm("Diese kundenbezogene Übersetzung wirklich löschen?"))
            return false;
        
        $("#TmpDeleteCustomerTranslation").val(true);
        $("#GridColumnTranslationsForm").submit();
        return false;
    }

    function GridColumnTranslationsComplete() {

        $("#TmpDeleteCustomerTranslation").val(false);
        FormPreparePrivateAjax();

        if (!_modelStateGridColumnTranslationValid)
            return;

        GridColumnTranslationsCancel();
        $('#FormSearchBox form .form-actions button[type="submit"]').trigger('click');
    }

    function GridColumnTranslationsCancel() {
        //var gridEl = $("#" + _gridName);
        var adminEditDiv = $(".grid-t-column-header-admin-edit-div");
        adminEditDiv.closest(".portlet-body").css("background-color", "");
        adminEditDiv.slideUp(300);
        return false;
    }
    
</script>