@using MvcTools.Models
@using Newtonsoft.Json
@using Telerik.Web.Mvc
@model GridSettings

@{
    var gridSettings = SessionHelper.GetSessionObject("GridCurrentSettings", () => new GridSettings());
    var jCols = gridSettings.Columns.NotNullOrEmpty().GetGridColumns();
    var gridColumnNameList = JsonConvert.SerializeObject(jCols.Select(jc => (string) jc.member.Value).ToArray());
}

<h4>
    @gridColumnNameList
</h4>

<script type="text/javascript">
</script>