<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>
    <add key="SapProdSytem" value="false" />
      <!--Logging-->
      <add key="Logs" value="server=192.168.33.33;User Id=LogUser;password=seE@Anemone;Persist Security Info=True;database=LogsDev" />
      <add key="LogTableName" value="WebServiceTrafficHLA" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <membership>
      <providers>
        <clear />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
      </providers>
    </roleManager>
  </system.web>
  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true">
       <add name="RequestLoggingModule" type="SoapRuecklaeuferschnittstelle.RequestLoggingModule, SoapRuecklaeuferschnittstelle" />
     </modules>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
</configuration>

