@model CkgDomainLogic.CoC.ViewModels.SendungenViewModel

<h3 class="page-title" id="headerTitle">Zulassungsaufträge <small>und Sendungsverfolgung</small></h3>

@Html.IeWarning(8)
@Html.SpanAlert("Message")

@using (Html.FormSearchBox())
{
    @Html.Partial("Verfolgung/Suche", Model.SendungsAuftragSelektor)
}

@using (Html.FormSearchResultsGrid())
{
    <div id="divGrid"></div>
}

<script type="text/javascript">

    var _modelStateValid = 'false';

    function FormPreparePrivate() {
    }

    function FormPreparePrivateAjax() {
        FormPrepareAjax();
    }
    
    function ShowCocSendungen() {

        FormPreparePrivateAjax();

        $.ajax({
            type: "POST",
            url: "ShowSendungen",
            loadingShow: false,
            success: function (result) {

                SearchResultsTryHide();

                if (_modelStateValid) {
                    ShowCocSendungenSearchResult(result);
                }

                LoadingHide();
            }
        });
    }
    
    function ShowCocSendungenSearchResult(result) {
        SearchFormHide();
        $("#divGrid").html(result);

        // move our grid filter form into grid's toolbar:
        GridAllColumnFilterApplyToGrid("GridCocSendungen");

        $("#divGrid").slideDown();
    }


    function OnDataBound_GridCocSendungen() {
        FilteredData_Grid_OnDataBound($(this));
        jQuery('.tooltips').tooltip();
        LoadingHide();

        // prepare multi row selection
        App.initUniform();
    }
    
    function OnColumnShowHide_GridCocSendungen() {
        FilteredData_Grid_OnColumnShowHide($(this));
    }

    function OnColumnReorder_GridCocSendungen() {
        FilteredData_Grid_OnColumnReorder($(this));
    }

</script>
