
<table id="busyHint" style="padding:5px; padding-left:10px; padding-right:10px; border:1px solid lightgray; background-color:#fffff6; width:auto;">
    <tr>
        <td style="vertical-align: middle">
            <img src="@Url.Content("~/images/indicator.gif")">    
        </td>
            
        <td style="vertical-align: middle">
            <span id="busyIndicatorHint" style="margin: 10px; margin-right: 10px;">
                Bitte einen Moment Geduld ...
            </span>
        </td>
    </tr>
</table>