<div id="divTempZb2VersandSuche">
    @using (Ajax.BeginForm("LoadTempZb2Versand", "Finance", null,
        new MvcAjaxOptions("divTempZb2VersandSuche") { OnComplete = "ShowTempZb2Versand();" }, new { id = "TempZb2VersandForm" } ))
    {    
        <div class="form-horizontal label-width-200" id="searchForm">
            @Html.ValidationSummary()
                                
            <div class="space20"></div>

            <div class="form-actions">
                <button type="submit" class='btn blue'><i class='icon-search'></i>&nbsp;@Localize.SearchAsVerb</button>
            </div>
        </div>  
        
        <script type="text/javascript">
            _modelStateValid = '@ViewContext.ViewData.ModelState.IsValid.ToString().ToLower()';
        </script>
    }
</div>


