@using GeneralTools.Contracts
@model IPersistableObject

<div class="wrapper-persistable-selector-current-for-grid-results hide">
    <div class="persistable-selector-current-for-grid-results">
        <span class="margin-right-5">@Model.ObjectName</span>

        <button id="persistable-grid-save-button2" class='btn mini yellow' title="@Localize.Save">
            <i class='icon-save'></i>
        </button>
        <button id="persistable-grid-save-button" class='btn mini yellow' title="@Localize.Save">
            <i class='icon-save'></i>
        </button>
    </div>
</div>

<script type="text/javascript">

    $(".FormSearchResultsGrid .persistable-selector-current-for-grid-results").html($(".wrapper-persistable-selector-current-for-grid-results").html());

    var objectKey = '@Model.ObjectKey';

    $("#persistable-grid-save-button").on('click', function (e) {

        PersistableSelectorSaveGrid(objectKey);

        e.stopPropagation();
    });
    
    $("#persistable-grid-save-button2").on('click', function (e) {

        var orderBy = "Fahrgestellnummer-asc";
        var groupBy = "Standort";

        var grid = $("#GridGrunddatenEquiItems").data("tGrid");
        //console.log($("#GridGrunddatenEquiItems").data());



        var filterBy = "Kennzeichen~startswith~'LB-'";
        var column = grid.columns[4];
        column.filters = [];
        column.filters.push({ operator: "startswith", value: "LB-" });

        column = grid.columns[5];
        column.filters = [];
        column.filters.push({ operator: "substringof", value: "Neuwagen" });

        grid.filter(grid.filterExpr());



        grid.sort(orderBy);

        grid.groups = [];
        grid.group(groupBy);

        e.stopPropagation();
    });

</script>